div.Center--Big .AdminListaUtenti .AdminListaUtentiRow--Complete--Main i.fa-user {
  font-weight: 600 !important;
}

div.Center--Big .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span.Username {
  left: -12px !important;
  max-width: 62% !important;
  margin: 0 !important;
  height: 51px;
  max-height: 51px;
}

div.Center--Big .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children span.Username {
  left: -12px !important;
  height: 51px;
  max-height: 51px;
}

div.Center--Big .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children i.fa-user,
div.Center--Big .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children .fa-store,
div.Center--Big .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children .fa-user-tie {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -14px;
  margin-right: 1px;
}

div.Center--Big .AdminListaUtenti .AdminListaUtentiRow--Complete--Main i.fa-user,
div.Center--Big .AdminListaUtenti .AdminListaUtentiRow--Complete--Main .fa-store,
div.Center--Big .AdminListaUtenti .AdminListaUtentiRow--Complete--Main .fa-user-tie {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -5px;
  margin-right: 5px;
}

.AdminListaUtenti {
  width: 100%;
}

.AdminListaUtenti .AdminListaUtentiRow {
  margin-bottom: 72px;
}

.AdminListaUtenti .AdminListaUtentiRow .NoData {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px 15px;
}

.AdminListaUtenti .AdminListaUtentiRow .NoData i {
  font-size: 20px;
  font-weight: 600;
  color: #0078ff;
  padding-right: 15px;
}

.AdminListaUtenti .AdminListaUtentiRow .NoData span {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #5c5c5c;
}

.AdminListaUtenti .AdminListaUtentiRow i.fa-user {
  font-weight: 600 !important;
}

.AdminListaUtenti .AdminListaUtentiRow i.fa-user,
.AdminListaUtenti .AdminListaUtentiRow .fa-store,
.AdminListaUtenti .AdminListaUtentiRow .fa-user-tie {
  width: 23px !important;
  height: 13px !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #ffffff;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 52px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ebeced;
  background: #ffffff;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span.Username, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span.Username {
  font-weight: 400 !important;
  width: auto !important;
  position: relative !important;
  left: -7px !important;
  max-width: 62% !important;
  margin: 0 !important;
  height: 51px;
  max-height: 51px;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main i.fa-user,
.AdminListaUtenti .AdminListaUtentiRow--Complete--Main .fa-store,
.AdminListaUtenti .AdminListaUtentiRow--Complete--Main .fa-user-tie, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child i.fa-user,
.AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child .fa-store,
.AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child .fa-user-tie {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -2%;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children span.Username, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children span.Username {
  top: 5px;
  height: 51px;
  max-height: 51px;
  left: -10px !important;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children i.fa-user,
.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children .fa-store,
.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children .fa-user-tie, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children i.fa-user,
.AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children .fa-store,
.AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children .fa-user-tie {
  padding-left: 5px;
  position: relative;
  left: -12px;
  top: 5px;
  padding-right: 0px !important;
  z-index: 1;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children .AdminListaUtentiRow--Complete--Main, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children .AdminListaUtentiRow--Complete--Main {
  -webkit-box-shadow: inset 8px 0px 0px -4px #0078ff;
          box-shadow: inset 8px 0px 0px -4px #0078ff;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children div:nth-child(1), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children div:nth-child(1) {
  background-color: #f3f3f4;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children div.TranzacioniModalResponsive ::after, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children div.TranzacioniModalResponsive ::after {
  border-left: transparent !important;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children div.TranzacioniModalResponsive ::before, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children div.TranzacioniModalResponsive ::before {
  display: none;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children div.TranzacioniModalResponsive--Data, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children div.TranzacioniModalResponsive--Data {
  z-index: 99 !important;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children div.TranzacioniModalResponsive div.TranzacioniModalResponsive--Data--Header:nth-child(1), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children div.TranzacioniModalResponsive div.TranzacioniModalResponsive--Data--Header:nth-child(1) {
  background-color: #0078ff;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children div.TranzacioniModalResponsive div:nth-child(1), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children div.TranzacioniModalResponsive div:nth-child(1) {
  background-color: transparent;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children div.backDrop, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children div.backDrop {
  background-color: rgba(0, 0, 0, 0.349) !important;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children .active span:nth-child(2), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children .active span:nth-child(2) {
  position: relative;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children .active span:nth-child(2) :nth-child(1), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children .active span:nth-child(2) :nth-child(1) {
  opacity: 1;
  display: block;
  left: -13.8px;
  top: 5px;
  z-index: 1;
  background-color: #ffffff;
  position: relative;
  padding: 0;
  width: auto;
  height: auto;
  cursor: pointer;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.children .active span:nth-child(2) :nth-child(2), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.children .active span:nth-child(2) :nth-child(2) {
  position: relative;
  left: -8px;
  width: 8px;
  height: 2px;
  border-top: 1px dotted #0078ff;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(2) :nth-child(1), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(2) :nth-child(1) {
  opacity: 0;
  width: 13px;
  left: -13px;
  position: relative;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(2) :nth-child(2), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(2) :nth-child(2) {
  position: relative;
  left: -8px;
  width: 14px;
  height: 2px;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.active, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.active {
  cursor: pointer;
  -webkit-box-shadow: inset 8px 0px 0px -4px #0078ff;
          box-shadow: inset 8px 0px 0px -4px #0078ff;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.active span:nth-child(2), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.active span:nth-child(2) {
  position: relative;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.active span:nth-child(2) :nth-child(1), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.active span:nth-child(2) :nth-child(1) {
  opacity: 1;
  display: block;
  left: -6px;
  z-index: 1;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main.active span:nth-child(2) :nth-child(2), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child.active span:nth-child(2) :nth-child(2) {
  position: relative;
  left: -4.5px;
  width: 14px;
  height: 2px;
  border-top: 1px dotted #0078ff;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span {
  width: 12.5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 25px;
  height: 25px;
  color: #5c5c5c;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(1), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(1) {
  width: 6%;
  padding-left: 1%;
  margin-right: 2%;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(2), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(2) {
  width: calc(14% + 57px);
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(2) > i, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(2) > i {
  font-size: 13px;
  padding-right: 10px;
  color: #0078ff;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(3), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(3) {
  width: 13%;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(4), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(4) {
  width: 6%;
  font-weight: 500;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(5), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(5) {
  width: 7%;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(6), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(6) {
  width: 13%;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(7), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(7) {
  width: 13%;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(8), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(8) {
  width: calc(26% - 57px);
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:last-child, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:last-child button, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:last-child button {
  background-color: #ffffff;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border: 1px solid #5c5c5c;
  border-radius: 17px;
  padding: 5px 12px;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:last-child > i, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:last-child > i {
  background-color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #5c5c5c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 14px;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:last-child > i:last-child, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:last-child > i:last-child {
  margin-right: 10px;
}

.AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:last-child > i.active, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:last-child > i.active {
  color: #0078ff;
  border-color: #0078ff;
}

.AdminListaUtenti--Header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #ffffff;
  height: 52px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ebeced;
}

.AdminListaUtenti--Header span {
  width: 12.5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  left: 3px;
  color: #5c5c5c;
}

.AdminListaUtenti--Header span:nth-child(1) {
  width: 8%;
  left: 0.5%;
}

.AdminListaUtenti--Header span:nth-child(2) {
  width: calc(14% + 60px);
  left: 29px;
}

.AdminListaUtenti--Header span:nth-child(3) {
  position: relative;
  width: 13%;
  left: 1px;
}

.AdminListaUtenti--Header span:nth-child(4) {
  width: 6%;
  left: -0.2%;
}

.AdminListaUtenti--Header span:nth-child(5) {
  width: 7%;
  left: 0.7%;
}

.AdminListaUtenti--Header span:nth-child(6) {
  width: 13%;
  left: 0.5%;
}

.AdminListaUtenti--Header span:nth-child(7) {
  width: 13%;
  left: 0.5%;
}

.AdminListaUtenti--Header span:nth-child(8) {
  width: calc(26% - 57px);
  left: 1%;
}

div.AdminColumns div.Center--Big div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children span:nth-child(2) div {
  position: absolute;
  width: 5%;
  left: -6px;
  top: 17px;
  border-top: 1px dotted #0078ff;
}

div.AdminColumns div.Center--Big div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children.last div.AdminListaUtentiRow--Complete--Main--Child.children div.AdminListaUtentiRow--Complete--Main span:nth-child(2) {
  margin-left: 60px;
  width: 14%;
}

div.AdminColumns div.Center--Big div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children.last div.AdminListaUtentiRow--Complete--Main--Child.children div.AdminListaUtentiRow--Complete--Main span:nth-child(2):before {
  content: "";
  width: 100%;
  top: -42px;
  left: -29px;
  z-index: 1;
  background-color: transparent;
  height: 275%;
  position: absolute;
  border-color: transparent;
}

div.AdminColumns div.Center--Big div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children.last div.AdminListaUtentiRow--Complete--Main--Child.children div.AdminListaUtentiRow--Complete--Main span:nth-child(2) .Link {
  position: absolute;
  width: 5%;
  left: -6px;
  top: 18px;
  border-top: 1px dotted #0078ff;
}

div.AdminColumns div.Center--Big div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div.AdminListaUtentiRow--Complete--Main--Child.children div div.AdminListaUtentiRow--Complete--Main {
  background-color: #ebeced;
  -webkit-box-shadow: inset 8px 0px 0px -4px #004b9f;
          box-shadow: inset 8px 0px 0px -4px #004b9f;
}

div.AdminColumns div.Center--Big div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div.AdminListaUtentiRow--Complete--Main--Child.children div span:nth-child(2) {
  width: 14%;
  margin-left: 60px;
  width: 14%;
}

div.AdminColumns div.Center--Big div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div.AdminListaUtentiRow--Complete--Main--Child.children div span:nth-child(2) div {
  position: absolute;
  width: 5%;
  left: -6px;
  top: 17px;
  border-top: 1px dotted #0078ff;
}

div.AdminColumns div.Center--Big div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div.AdminListaUtentiRow--Complete--Main--Child.children div span:nth-child(2):before {
  content: "";
  width: 100%;
  top: -140%;
  left: -29px;
  background-color: transparent;
  height: 215%;
  position: absolute;
  border-left: 1px dotted #0078ff;
  border-collapse: collapse;
}

div.AdminColumns div.Center--Big div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div.AdminListaUtentiRow--Complete--Main--Child.children div span:nth-child(2) .Link {
  position: absolute;
  width: 5%;
  left: -6px;
  top: 18px;
  border-top: 1px dotted #0078ff;
}

div.AdminColumns div.Center--Big div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div span:nth-child(2) {
  position: relative;
  width: calc(14% + 20px);
  margin-left: 40px;
}

div.AdminColumns div.Center--Big div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div span:nth-child(2):after {
  content: "";
  width: 100%;
  top: -133%;
  left: -9px;
  background-color: transparent;
  height: 209%;
  position: absolute;
  border-left: 1px dotted #0078ff;
}

div.AdminColumns div.Center div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div span:nth-child(2) div {
  position: absolute;
  width: 5%;
  left: -6px;
  top: 17px;
  border-top: 1px dotted #0078ff;
}

div.AdminColumns div.Center div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children.last div.AdminListaUtentiRow--Complete--Main--Child.children div.AdminListaUtentiRow--Complete--Main span:nth-child(2) {
  margin-left: 60px;
  width: 14%;
}

div.AdminColumns div.Center div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children.last div.AdminListaUtentiRow--Complete--Main--Child.children div.AdminListaUtentiRow--Complete--Main span:nth-child(2):before {
  content: "";
  width: 100%;
  top: -42px;
  left: -29px;
  z-index: 1;
  background-color: transparent;
  height: 275%;
  position: absolute;
  border-color: transparent;
}

div.AdminColumns div.Center div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children.last div.AdminListaUtentiRow--Complete--Main--Child.children div.AdminListaUtentiRow--Complete--Main span:nth-child(2) .Link {
  position: absolute;
  width: 5%;
  left: -6px;
  top: 18px;
  border-top: 1px dotted #0078ff;
}

div.AdminColumns div.Center div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child div.AdminListaUtentiRow--Complete--Main--Child.children div div.AdminListaUtentiRow--Complete--Main {
  background-color: #ebeced;
  -webkit-box-shadow: inset 8px 0px 0px -4px #004b9f;
          box-shadow: inset 8px 0px 0px -4px #004b9f;
}

div.AdminColumns div.Center div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child div.AdminListaUtentiRow--Complete--Main--Child.children div span:nth-child(2) {
  width: 14%;
  margin-left: 60px;
}

div.AdminColumns div.Center div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child div.AdminListaUtentiRow--Complete--Main--Child.children div span:nth-child(2):before {
  content: "";
  width: 100%;
  top: -140%;
  left: -28px;
  background-color: transparent;
  height: 215%;
  position: absolute;
  border-left: 1px dotted #0078ff;
  border-collapse: collapse;
}

div.AdminColumns div.Center div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child div.AdminListaUtentiRow--Complete--Main--Child.children div span:nth-child(2) .Link {
  position: absolute;
  width: 5%;
  left: -6px;
  top: 18px;
  border-top: 1px dotted #0078ff;
}

div.AdminColumns div.Center div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child div span:nth-child(2) {
  position: relative;
  width: calc(14% + 20px);
  margin-left: 40px;
}

div.AdminColumns div.Center div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child div span:nth-child(2) div {
  position: absolute;
  width: 5%;
  left: -6px;
  top: 17px;
  border-top: 1px dotted #0078ff;
}

div.AdminColumns div.Center div.AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child div span:nth-child(2):after {
  content: "";
  width: 100%;
  top: -133%;
  left: -8px;
  background-color: transparent;
  height: 209%;
  position: absolute;
  border-left: 1px dotted #0078ff;
}

@media (max-width: 1490px) {
  .AdminListaUtenti .AdminListaUtentiRow--Complete span:last-child button {
    background-color: #ffffff;
    cursor: pointer;
    font-size: 10px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    border: 0.5px solid #5c5c5c;
    border-radius: 17px;
    padding: 2px 5px;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete span:last-child > i {
    background-color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 300;
    border: 0.5px solid #5c5c5c;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 21px;
    height: 21px;
    padding: 11px 11px;
    box-sizing: border-box;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete span:last-child > i.active {
    color: #0078ff;
    border-color: #0078ff;
  }
}

@media (max-width: 1200px) {
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:last-child i, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:last-child i {
    border: none;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
  }
}

@media (max-width: 950px) {
  .AdminListaUtenti .AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div div span:nth-child(2) {
    width: calc(35% - 40px) !important;
  }
  .AdminListaUtenti .AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div div.AdminListaUtentiRow--Complete--Main--Child.children div div span:nth-child(2) {
    width: calc(35% - 61.5px) !important;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(5), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(5) {
    display: none;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(3), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(3) {
    display: none;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(6), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(6) {
    display: none;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(7), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(7) {
    display: none;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(1), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(1) {
    width: 15%;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(2), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(2) {
    width: 35%;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(4), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(4) {
    width: 15%;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(8), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(8) {
    width: 35%;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:last-child, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:last-child {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:last-child i, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:last-child i {
    border: 0.5px solid #5c5c5c;
    background-color: #ffffff;
    width: 25px;
    height: 25px;
    padding: 0;
  }
  .AdminListaUtenti--Header span:nth-child(5) {
    display: none;
  }
  .AdminListaUtenti--Header span:nth-child(3) {
    display: none;
  }
  .AdminListaUtenti--Header span:nth-child(6) {
    display: none;
  }
  .AdminListaUtenti--Header span:nth-child(7) {
    display: none;
  }
  .AdminListaUtenti--Header span:nth-child(1) {
    width: 15%;
  }
  .AdminListaUtenti--Header span:nth-child(2) {
    width: 35%;
  }
  .AdminListaUtenti--Header span:nth-child(4) {
    width: 15%;
  }
  .AdminListaUtenti--Header span:nth-child(8) {
    width: 35%;
  }
  .AdminListaUtenti--Header span:last-child {
    left: 15px;
  }
}

@media (max-width: 520px) {
  .AdminListaUtenti .AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div div span:nth-child(2) {
    width: calc(47% - 40px) !important;
    margin-left: calc(4% + 37px) !important;
  }
  .AdminListaUtenti .AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div div.AdminListaUtentiRow--Complete--Main--Child.children div div span:nth-child(2) {
    width: calc(47% - 60px) !important;
    margin-left: calc(6% + 48px) !important;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(2), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(2) {
    width: 47%;
    margin-left: 4%;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(4):not(.Username), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(4):not(.Username) {
    display: none;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:last-child, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:last-child {
    margin-right: 10px;
    width: 38%;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:last-child button, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:last-child button {
    padding: 0;
    font-size: 10px;
    padding: 3px 2px;
    border-radius: 6px;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:last-child i, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:last-child i {
    padding: 0 !important;
    margin-right: 0 !important;
    width: auto;
    height: auto;
    border: none;
  }
  .AdminListaUtenti--Header span:nth-child(4) {
    display: none;
  }
  .AdminListaUtenti--Header span:nth-child(2) {
    width: 47%;
  }
  .AdminListaUtenti--Header span:last-child {
    width: 38%;
    left: 8px;
  }
}

@media (max-width: 480px) {
  .AdminListaUtenti .AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div div span:nth-child(2) {
    margin-left: calc(4% + 36px) !important;
  }
}

@media (max-width: 453px) {
  .AdminListaUtenti .AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div div span:nth-child(2) {
    width: calc(55% - 40px) !important;
    margin-left: calc(7% + 35px) !important;
  }
  .AdminListaUtenti .AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div div span.TranzacioniModalResponsive--Data--Row--Username--Info {
    width: 55% !important;
    margin: 0 !important;
  }
  .AdminListaUtenti .AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div div.AdminListaUtentiRow--Complete--Main--Child.children div div span:nth-child(2) {
    width: calc(55% - 62px) !important;
    margin-left: calc(7% + 55px) !important;
  }
  .AdminListaUtenti .AdminListaUtentiRow div.AdminListaUtentiRow--Complete--Main--Child.children div div.AdminListaUtentiRow--Complete--Main--Child.children div div span.TranzacioniModalResponsive--Data--Row--Username--Info {
    width: 55% !important;
    margin: 0 !important;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:first-child, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:first-child {
    display: none;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(2), .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:nth-child(2) {
    width: 55%;
    margin-left: 7%;
    font-size: 12px;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:last-child, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:last-child {
    width: 45%;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:last-child i, .AdminListaUtenti .AdminListaUtentiRow--Complete--Main--Child span:last-child i {
    margin: 0 3px;
  }
  .AdminListaUtenti--Header span:first-child {
    display: none;
  }
  .AdminListaUtenti--Header span:nth-child(2) {
    width: 55%;
    margin-left: 6%;
  }
  .AdminListaUtenti--Header span:last-child {
    width: 45%;
  }
  .AdminListaUtenti .TranzacioniModalResponsive--Data span:first-child {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

body.bodyAdmin .loaderAdmin {
  color: #0078ff;
  font-size: 80px;
  text-indent: -9999em;
  overflow: hidden;
  width: 0.95em;
  height: 0.95em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.6s infinite ease, round 1.6s infinite ease;
  animation: load6 1.6s infinite ease, round 1.6s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

table.transTable .NoData {
  width: 100%;
  position: relative;
  padding: 20px 15px;
  display: block;
  left: 200%;
}

table.transTable .NoData i {
  font-size: 20px;
  font-weight: 600;
  color: #0078ff;
  padding-right: 15px;
}

table.transTable .NoData span {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #5c5c5c;
}

@media only screen and (max-width: 1280px) and (min-width: 955px) {
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(6),
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(7),
  .AdminListaUtenti--Header span:nth-child(6),
  .AdminListaUtenti--Header span:nth-child(7) {
    width: 9.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    right: 0;
    padding: 0;
    text-align: center;
    margin: 0;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(5),
  .AdminListaUtenti--Header span:nth-child(5) {
    width: 10%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(4),
  .AdminListaUtenti--Header span:nth-child(4) {
    width: 7%;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(3),
  .AdminListaUtenti--Header span:nth-child(3) {
    width: 16%;
  }
  .AdminListaUtenti--Header span:nth-child(5) {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
  }
}
/*# sourceMappingURL=adminListaUtenti.css.map */