div.Center--Big {
  & .AdminListaUtenti {
    & .AdminListaUtentiRow--Complete--Main {
      & i.fa-user {
        font-weight: 600 !important;
      }
      & span.Username {
        left: -12px;
        max-width: 62% !important;
        margin: 0 !important;
        height: 51px;
        max-height: 51px;
      }
      &--Child.children {
        & span.Username {
          left: -12px;
          height: 51px;
          max-height: 51px;
        }
        & i.fa-user,
        .fa-store,
        .fa-user-tie {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          left: -14px;
          margin-right: 1px;
        }
      }
      & i.fa-user,
      .fa-store,
      .fa-user-tie {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        left: -5px;
        margin-right: 5px;
      }
    }
  }
}
.AdminListaUtenti {
  width: 100%;
  height: 100%;

  & .AdminListaUtentiRow {
    position: relative;
    top: 52px;
    .NoData {
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 20px 15px;
      & i {
        font-size: 20px;
        font-weight: 600;
        color: #0078ff;
        padding-right: 15px;
      }
      & span {
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #5c5c5c;
      }
    }
    & i.fa-user {
      font-weight: 600 !important;
    }
    margin-bottom: 60px;
    & i.fa-user,
    .fa-store,
    .fa-user-tie {
      width: 23px !important;
      height: 13px !important;
      box-sizing: border-box !important;
    }
    &--Complete {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background-color: #ffffff;
      &--Main,
      &--Main--Child {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        min-height: 40px;
        box-sizing: border-box;
        align-items: center;
        border-top: 1px solid #ebeced;
        background: #ffffff;
        & span.Username {
          font-weight: 400 !important;
          width: auto !important;
          position: relative !important;
          left: -7px;
          max-width: 62% !important;
          margin: 0 !important;
          height: 51px;
          max-height: 51px;
        }

        & i.fa-user,
        .fa-store,
        .fa-user-tie {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          left: -2%;
        }
        &.children {
          & span.Username {
            top: 5px;
            height: 51px;
            max-height: 51px;
            left: -10px;
          }
          & i.fa-user,
          .fa-store,
          .fa-user-tie {
            padding-left: 5px;
            position: relative;
            left: -12px;
            top: 5px;
            padding-right: 0px !important;
          }
          & .AdminListaUtentiRow--Complete--Main {
            box-shadow: inset 8px 0px 0px -4px #0078ff;
          }
          & div:nth-child(1) {
            background-color: #f3f3f4;
          }
          & div.TranzacioniModalResponsive {
            & ::after {
              border-left: transparent !important;
            }
            & ::before {
              display: none;
            }
            &--Data {
              z-index: 99 !important;
            }
            & div.TranzacioniModalResponsive--Data--Header:nth-child(1) {
              background-color: #0078ff;
            }

            & div:nth-child(1) {
              background-color: transparent;
            }
          }
          & div.backDrop {
            background-color: rgba(0, 0, 0, 0.649) !important;
          }
          & .active {
            & span:nth-child(2) {
              position: relative;
              & :nth-child(1) {
                display: block;
                left: -13.8px;
                top: 5px;
                position: relative;
                padding: 0;
                width: auto;
                height: auto;
                cursor: pointer;
              }
              & :nth-child(2) {
                position: relative;
                left: -8px;
                width: 8px;
                height: 2px;
                border-top: 1px dotted #0078ff;
              }
            }
          }
        }
        & span:nth-child(2) {
          & :nth-child(1) {
            width: 13px;
            visibility: hidden;
            left: -13px;
            position: relative;
          }
          & :nth-child(2) {
            position: relative;
            left: -8px;
            width: 14px;
            height: 2px;
          }
        }
        &.active {
          & span:nth-child(2) {
            position: relative;
            & :nth-child(1) {
              visibility: visible;
              display: block;
              left: -6px;
              position: relative;
              cursor: pointer;
            }
            & :nth-child(2) {
              position: relative;
              left: -4.5px;
              width: 14px;
              height: 2px;
              border-top: 1px dotted #0078ff;
            }
          }
          cursor: pointer;
          box-shadow: inset 8px 0px 0px -4px #0078ff;
        }
        & span {
          width: 12.5%;
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-left: 3px;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 400;
          box-sizing: border-box;
          max-height: 25px;
          height: 25px;
          color: #5c5c5c;
          @media (max-width: 1700px) {
            font-size: 13px;
          }
          @media (max-width: 1500px) {
            font-size: 12px;
          }
          @media (max-width: 1395px) and (min-width: 1024px) {
            font-size: 11px;
          }
          &:nth-child(1) {
            width: 6%;
            margin-right: 2%;
            padding-left: 0.7%;
          }
          &:nth-child(2) {
            width: calc(14% + 57px);
            > i {
              font-size: 13px;
              padding-right: 10px;
              color: #0078ff;
            }
          }
          &:nth-child(3) {
            width: 13%;
          }
          &:nth-child(4) {
            width: 6%;
            font-weight: 500;
          }
          &:nth-child(5) {
            width: 7%;
            justify-content: center;
          }
          &:nth-child(6) {
            width: 13%;
          }
          &:nth-child(7) {
            width: 13%;
          }
          &:nth-child(8) {
            width: calc(26% - 57px);
          }
          &:last-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            & button {
              background-color: #ffffff;
              cursor: pointer;
              font-size: 11px;
              font-weight: 500;
              font-family: "Roboto", sans-serif;
              border: 1px solid #5c5c5c;
              border-radius: 17px;
              padding: 5px 12px;
            }
            > i {
              background-color: #ffffff;
              cursor: pointer;
              font-size: 14px;
              font-weight: 300;
              border: 1px solid #5c5c5c;
              box-sizing: border-box;
              width: 28px;
              height: 28px;
              border-radius: 28px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 7px 7px;
              &.active {
                color: #0078ff;
                border-color: #0078ff;
              }
            }
          }
        }
      }
    }
  }
  &--Header {
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff;
    height: 52px;
    top: 101px;
    z-index: 1;
    position: fixed;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid #ebeced;
    & span {
      width: 12.5%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      @media (max-width: 1700px) {
        font-size: 13px;
      }
      @media (max-width: 1500px) {
        font-size: 12px;
      }
      @media (max-width: 1395px) and (min-width: 1024px) {
        font-size: 11px;
      }
      font-weight: bold;
      box-sizing: border-box;
      position: relative;
      left: 3px;
      color: #5c5c5c;

      &:nth-child(1) {
        width: 8%;
        left: 0.5%;
      }
      &:nth-child(2) {
        width: calc(14% + 60px);
        left: 29px;
      }
      &:nth-child(3) {
        position: relative;
        width: 13%;
        left: 1px;
      }
      &:nth-child(4) {
        width: 6%;
        left: -0.2%;
      }
      &:nth-child(5) {
        width: 7%;
        justify-content: center;
      }
      &:nth-child(6) {
        width: 13%;
        left: 0.5%;
      }
      &:nth-child(7) {
        width: 13%;
        left: 0.5%;
      }
      &:nth-child(8) {
        width: calc(26% - 57px);
        left: 1%;
      }
    }
  }
}

div.AdminColumns {
  & div.Center--Big {
    & div.AdminListaUtentiRow {
      & div.AdminListaUtentiRow--Complete--Main--Child.children {
        & span:nth-child(2) {
          & div {
            position: absolute;
            width: 5%;
            left: -6px;
            top: 17px;
            border-top: 1px dotted #0078ff;
          }
        }
      }
    }

    & div.AdminListaUtentiRow {
      & div.AdminListaUtentiRow--Complete--Main--Child {
        &.children {
          &.last {
            & div.AdminListaUtentiRow--Complete--Main--Child.children {
              & div.AdminListaUtentiRow--Complete--Main {
                & span:nth-child(2) {
                  &:before {
                    content: "";
                    width: 100%;
                    top: -42px;
                    left: -29px;
                    background-color: transparent;
                    height: 275%;
                    position: absolute;
                    border-color: transparent;
                  }
                  & .Link {
                    position: absolute;
                    width: 5%;
                    left: -6px;
                    top: 18px;
                    border-top: 1px dotted #0078ff;
                  }
                  margin-left: 60px;
                  width: 14%;
                }
              }
            }
          }
          & div.AdminListaUtentiRow--Complete--Main--Child.children {
            & div {
              & div.AdminListaUtentiRow--Complete--Main {
                background-color: #ebeced;
                box-shadow: inset 8px 0px 0px -4px #004b9f;
              }
              & span:nth-child(2) {
                width: 14%;
                & div {
                  position: absolute;
                  width: 5%;
                  left: -6px;
                  top: 17px;
                  border-top: 1px dotted #0078ff;
                }
                &:before {
                  content: "";
                  width: 100%;
                  top: -140%;
                  left: -28px;
                  background-color: transparent;
                  height: 215%;
                  position: absolute;
                  border-left: 1px dotted #0078ff;
                  border-collapse: collapse;
                  @media (max-width: 550px) {
                    left: -29.5px;
                  }
                  @media (max-width: 509px) {
                    left: -29px;
                  }
                  @media (max-width: 428px) {
                    left: -28px;
                  }
                }
                & .Link {
                  position: absolute;
                  width: 5%;
                  left: -6px;
                  top: 18px;
                  border-top: 1px dotted #0078ff;
                }
                margin-left: 60px;
                width: 14%;
              }
            }
          }
          & div {
            & span:nth-child(2) {
              position: relative;
              &:after {
                content: "";
                width: 100%;
                top: -87%;
                left: -8px;
                background-color: transparent;
                height: 160%;
                position: absolute;
                border-left: 1px dotted #0078ff;
              }
              width: calc(14% + 20px);
              margin-left: 40px;
            }
          }
        }
      }
    }
  }
  & div.Center {
    & div.AdminListaUtentiRow {
      & div.AdminListaUtentiRow--Complete--Main--Child.children {
        & div {
          & span:nth-child(2) {
            & div {
              position: absolute;
              width: 5%;
              left: -6px;
              top: 17px;
              border-top: 1px dotted #0078ff;
            }
          }
        }
      }
    }
    & div.AdminListaUtentiRow {
      & div.AdminListaUtentiRow--Complete--Main--Child {
        &.children {
          &.last {
            & div.AdminListaUtentiRow--Complete--Main--Child.children {
              & div.AdminListaUtentiRow--Complete--Main {
                & span:nth-child(2) {
                  &:before {
                    content: "";
                    width: 100%;
                    top: -42px;
                    left: -29px;
                    background-color: transparent;
                    height: 275%;
                    position: absolute;
                    border-color: transparent;
                  }
                  & .Link {
                    position: absolute;
                    width: 5%;
                    left: -6px;
                    top: 18px;
                    border-top: 1px dotted #0078ff;
                  }
                  margin-left: 60px;
                  width: 14%;
                }
              }
            }
          }
        }

        & div.AdminListaUtentiRow--Complete--Main--Child.children {
          & div {
            & div.AdminListaUtentiRow--Complete--Main {
              background-color: #ebeced;
              box-shadow: inset 8px 0px 0px -4px #004b9f;
            }
            & span:nth-child(2) {
              width: 14%;
              &:before {
                content: "";
                width: 100%;
                top: -140%;
                left: -28px;
                background-color: transparent;
                height: 215%;
                position: absolute;
                border-left: 1px dotted #0078ff;

                border-collapse: collapse;
              }
              & .Link {
                position: absolute;
                width: 5%;
                left: -6px;
                top: 18px;
                border-top: 1px dotted #0078ff;
              }
              margin-left: 60px;
            }
          }
        }
        & div {
          & span:nth-child(2) {
            position: relative;

            & div {
              position: absolute;
              width: 5%;
              left: -6px;
              top: 17px;
              border-top: 1px dotted #0078ff;
            }
            &:after {
              content: "";
              width: 100%;
              top: -87%;
              left: -8px;
              background-color: transparent;
              height: 160%;
              position: absolute;
              border-left: 1px dotted #0078ff;
            }
            width: calc(14% + 20px);
            margin-left: 40px;
          }
        }
      }
    }
  }
}
// @media screen and (max-width: 1700px) and (min-width: 1320px) {
//   .AdminListaUtenti {
//     &--Header {
//       & span:not(.activated) {
//         &:nth-child(4) {
//           width: 5% !important;
//           margin: 0 1%;
//         }
//         &:nth-child(5) {
//           width: 18% !important;
//         }
//       }
//     }
//     & .AdminListaUtentiRow {
//       &--Complete {
//         & span:not(.activated) {
//           &:nth-child(4) {
//             width: 5% !important;
//             margin: 0 1%;
//           }
//           &:nth-child(5) {
//             width: 18% !important;
//           }
//         }
//       }
//     }
//   }
// }
@media (max-width: 1024px) {
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span {
    &:nth-child(6) {
      display: none;
    }
    &:nth-child(4) {
      width: 9.5% !important;
    }
    &:nth-child(7) {
      width: 15% !important;
    }
    &:nth-child(5):not(.SpecSm) {
      width: 8.5% !important;
    }
    &:nth-child(5).SpecSm {
      width: 16% !important;
    }
  }
  .AdminListaUtenti--Header span {
    &:nth-child(6) {
      display: none;
    }
    &:nth-child(4) {
      width: 9% !important;
    }
    &:nth-child(5):not(.SpecSm) {
      width: 8.5% !important;
    }
    &:nth-child(5).SpecSm {
      width: 16% !important;
    }
    &:nth-child(7) {
      width: 15% !important;
    }
  }
}
@media (max-width: 950px) {
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span {
    &:nth-child(3):not(.SpecSm) {
      display: none !important;
    }
    &:nth-child(4):not(.SpecSm) {
      margin-right: 4% !important;
    }
    &:nth-child(5):not(.SpecSm) {
      width: 11% !important;
    }

    &:nth-child(7):not(.SpecSm) {
      margin-right: 2.5% !important;
    }
  }
  .AdminListaUtenti--Header span {
    &:nth-child(3):not(.SpecSm) {
      display: none !important;
    }
    &:nth-child(4):not(.SpecSm) {
      margin-right: 4.8% !important;
    }
    &:nth-child(5):not(.SpecSm) {
      width: 11% !important;
    }
    &:nth-child(7):not(.SpecSm) {
      margin-right: 4% !important;
    }
  }
}
@media (max-width: 850px) {
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span {
    &:nth-child(2):not(.Username) {
      position: relative;
      right: -4%;
      margin-right: 4%;
    }
    &:nth-child(3) {
      display: none !important;
    }
    &:nth-child(4) {
      margin-right: 1% !important;
      width: 14% !important;
    }
    &:nth-child(5) {
      width: 17% !important;
    }
    &:nth-child(7) {
      margin-right: 3% !important;
      width: 15% !important;
    }
    &:nth-child(5).SpecSm {
      margin-right: 3%;
    }
  }
  .AdminListaUtenti--Header span {
    &:nth-child(2):not(.Username) {
      left: 7% !important;
      margin-right: 4%;
    }
    &:nth-child(2):not(.Username).SpecSm {
      left: 7% !important;
    }
    &:nth-child(3) {
      display: none !important;
    }
    &:nth-child(4) {
      margin-right: 1.8% !important;
      width: 14% !important;
    }
    &:nth-child(4).SpecSm {
      margin-right: 0% !important;
      width: 17% !important;
    }
    &:nth-child(5) {
      width: 17% !important;
    }
    &:nth-child(5).SpecSm {
      margin-right: 3%;
    }
    &:nth-child(7) {
      margin-right: 3.5% !important;
      width: 15% !important;
    }
  }
}
@media (max-width: 750px) {
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span {
    &:nth-child(5) {
      display: none !important;
    }
    &:nth-child(1) {
      width: 10% !important;
    }
    &:nth-child(4) {
      margin-right: 1.8% !important;
      width: 25% !important;
    }
    &:nth-child(4).SpecSm {
      margin-right: 1.8% !important;
      width: calc(59% - 230px) !important;
    }
  }
  .AdminListaUtenti--Header span {
    &:nth-child(5) {
      display: none !important;
    }
    &:nth-child(1) {
      width: 12% !important;
    }
    &:nth-child(4) {
      margin-right: 1.8% !important;
      width: calc(57% - 230px) !important;
    }
    &:nth-child(4).SpecSm {
      margin-right: 1.8% !important;
      width: calc(62% - 230px) !important;
    }
  }
}
@media (max-width: 550px) {
  .AdminListaUtenti {
    & .AdminListaUtentiRow {
      & div.AdminListaUtentiRow--Complete--Main--Child.children {
        & div {
          & div {
            & span:nth-child(2) {
              width: calc(47% - 40px) !important;
              margin-left: calc(4% + 37px) !important;
              margin-right: calc(8% + 3px) !important;
            }
          }
          & div.AdminListaUtentiRow--Complete--Main--Child.children {
            & div {
              & div {
                & span:nth-child(2) {
                  width: calc(47% - 60px) !important;
                  margin-left: calc(6% + 48px) !important;
                  margin-right: calc(6% + 12px) !important;
                }
              }
            }
          }
        }
      }
      &--Complete {
        &--Main,
        &--Main--Child {
          & span {
            &:nth-child(2) {
              width: 55% !important;
              margin-left: 4% !important;
              right: 0% !important;
              margin-right: 0% !important;
            }
            &:nth-child(4):not(.Username) {
              width: 21% !important;
            }
            &:nth-child(1),
            &:nth-child(7),
            &:nth-child(8):not(.SpecSm) {
              display: none !important;
            }
            &:last-child:not(.Username) {
              position: absolute;
              right: 0;
              width: 16%;
              border-left: 1px solid #ebeced;
              border-right: 1px solid #ebeced;
              background: transparent;
              height: 40px;
              margin-left: 5%;
              display: flex;
              justify-content: center;
              align-items: center;
              max-height: 40px;
              & i {
                margin: 0 !important;
                color: #5c5c5c;
                font-size: 16px;
                background: transparent;
                font-weight: 300;
                border: none;
              }
            }
          }
        }
      }
    }
    &--Header {
      & span {
        &:nth-child(1),
        &:nth-child(7),
        &:nth-child(8):not(.SpecSm) {
          display: none !important;
        }
        &:nth-child(2) {
          width: 55% !important;
          right: 0% !important;
          margin-right: 0% !important;
          &.SpecSm {
            width: 30% !important;
          }
        }
        &:nth-child(4) {
          width: 25% !important;
          &.SpecSm {
            width: 50% !important;
            justify-content: flex-end;
            padding-left: 12.5% !important;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .AdminListaUtenti {
    & .AdminListaUtentiRow {
      & div.AdminListaUtentiRow--Complete--Main--Child.children {
        & div {
          & div {
            & span:nth-child(2) {
              margin-left: calc(4% + 36px) !important;
            }
          }
        }
      }
    }
  }
}

body.bodyAdmin {
  .loaderAdmin {
    color: #0078ff;
    font-size: 80px;
    text-indent: -9999em;
    overflow: hidden;
    width: 0.95em;
    height: 0.95em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.6s infinite ease, round 1.6s infinite ease;
    animation: load6 1.6s infinite ease, round 1.6s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
        -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
        -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
        -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
        -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
        -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
        -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
        -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
        -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
table.transTable {
  & .NoData {
    text-align: center;
    td {
      text-align: center;
    }
    & i {
      font-size: 20px;
      font-weight: 600;
      color: #0078ff;
      padding-right: 15px;
    }
    & span {
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: #5c5c5c;
    }
  }
}
@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(6),
  .AdminListaUtenti--Header span:nth-child(6) {
    display: none;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(5),
  .AdminListaUtenti--Header span:nth-child(5) {
    width: 11% !important;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(3),
  .AdminListaUtenti--Header span:nth-child(3) {
    &.none {
      width: calc(43.5% - 230px) !important;
    }
  }
  .AdminListaUtenti
    .AdminListaUtentiRow--Complete--Main
    span:nth-child(5).none {
    width: 16% !important;
  }
  .AdminListaUtenti--Header span:nth-child(5).none {
    width: 17% !important;
  }
  .AdminListaUtenti
    .AdminListaUtentiRow--Complete--Main
    span:nth-child(7):not(.activated),
  .AdminListaUtenti--Header span:nth-child(7):not(.activated) {
    width: 14% !important;
  }
  .AdminListaUtenti .AdminListaUtentiRow--Complete--Main span:nth-child(4),
  .AdminListaUtenti--Header span:nth-child(4) {
    width: 9% !important;
    margin-right: 0 !important;
  }
}

.AdminListaUtentiRow--Complete:nth-child(even)
  .AdminListaUtentiRow--Complete--Main {
  background: #fcfcfc !important;
}
