.formsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 550px;
  height: 100%;
  padding-bottom: 60px;
}

.formsContainer > h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  margin-top: 60px;
  color: #5c5c5c;
}

.formsContainer--cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1051px;
  margin: 0 auto;
  margin-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formsContainer--cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  max-width: 330px;
  position: relative;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.formsContainer--cards__item:hover .imageCard {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.formsContainer--cards .bgImg {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30% 42%;
     object-position: 30% 42%;
}

.formsContainer--cards .imageCard {
  position: absolute;
  width: 100%;
  top: 63px;
  height: calc(100% - 63px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.formsContainer--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  margin-bottom: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 60px;
  max-width: 1371px;
}

@media (max-width: 768px) {
  .formsContainer--body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.formsContainer--body .overlayImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.formsContainer--body .imgBg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  max-height: 710px;
}

.formsContainer--body .imgLogo {
  position: absolute;
  z-index: 1;
  top: 320px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
}

@media (max-width: 768px) {
  .formsContainer--body .imgLogo {
    top: 50%;
  }
}

.formsContainer--body .leftForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  min-height: 674px;
  width: 271px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 768px) {
  .formsContainer--body .leftForm {
    min-height: 244px;
    width: 100%;
  }
}

.formsContainer--body .rightForm {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.formsContainer--body .rightForm--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 40px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 2px solid #ebeced;
  height: 67px;
}

.formsContainer--body .rightForm--header div.TitleBack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  .formsContainer--body .rightForm--header div.TitleBack {
    font-size: 20px;
    text-transform: capitalize;
  }
}

.formsContainer--body .rightForm--header div.TitleBack i {
  padding-right: 8px;
  cursor: pointer;
}

.formsContainer--body .rightForm--header img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  width: 120px;
}

@media (max-width: 768px) {
  .formsContainer--body .rightForm--header img {
    display: none;
  }
}

.formsContainer--body .rightForm--left {
  height: calc(100% - 67px);
  width: 50%;
  padding: 40px;
  border-right: 2px solid #ebeced;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media (max-width: 768px) {
  .formsContainer--body .rightForm--left {
    width: 100%;
  }
}

.formsContainer--body .rightForm--right {
  height: calc(100% - 67px);
  width: 50%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media (max-width: 768px) {
  .formsContainer--body .rightForm--right {
    width: 100%;
  }
}

.formsContainer--body .formsItemTogether {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.formsContainer--body .formsItemTogetherStart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.formsContainer--body__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.formsContainer--body__item:first-child {
  margin-top: 0;
}

.formsContainer--body__item .ant-select-selection--single {
  border: none;
  background: #ebeced;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
}

.formsContainer--body__item .ant-select,
.formsContainer--body__item .ant-select-selection--single {
  width: 100%;
}

.formsContainer--body__item .ant-input {
  border-radius: 0;
}

.formsContainer--body__item .ant-calendar-picker {
  width: 100%;
}

.formsContainer--body__item .label {
  font-weight: 400;
  font-size: 14px;
}

.formsContainer--body__item .ant-btn.ant-dropdown-trigger {
  min-width: 95%;
  min-height: 61%;
  margin: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.1em;
}

.formsContainer--body__item .ant-btn.ant-dropdown-trigger.dropdownMenu {
  top: 10px;
}

.formsContainer--body__item.datiPass textarea {
  border: 0px;
  background: #ebeced;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 170px;
  font-size: 14px;
  padding-top: 5px;
}

.formsContainer--body__item.submit {
  margin-top: auto;
}

.formsContainer--body__item.w-50 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.formsContainer--body__item.w-40 {
  width: 40%;
}

.formsContainer--body__item.submit button {
  width: 100%;
  background: var(--accent-bg);
  color: var(--accent-txt);
  border: 0;
  padding: 15px;
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 14px;
}

.formsContainer--body__item input {
  width: 100%;
  border: 0;
  background: #ebeced;
  border: 0;
  height: 40px;
  padding: 0 15px;
}

.formsContainer--body__item .radioGr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* flex-flow: row-reverse; */
  margin-right: 10px;
  background-color: #ebeced;
  height: 100%;
  width: 50%;
  padding-left: 10px;
}

.formsContainer--body__item .radioGr:last-child {
  margin-right: 0;
}

.formsContainer--body__item .radioGr > span {
  margin-left: 5px;
  font-size: 15px;
  margin-right: 10px;
}

.formsContainer--body__item .radioGr input {
  display: none;
}

.formsContainer--body__item .radioGr input + .customRadio {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 0;
}

.formsContainer--body__item .radioGr input:checked + .customRadio {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.formsContainer--body__item .radioGr input:checked + .customRadio span {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 10px;
}

.formsContainer--body .radioWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ant-dropdown-menu-item {
  text-align: center;
  font-size: 1.1em;
}

.titleCard {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 63px;
  padding: 0 30px;
  color: var(--accent-bg);
  font-weight: 500;
}

.titleCard i {
  color: #b5b5b5;
}

.travalersSelector {
  height: 40px;
  background: #eaebec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  font-size: 15px;
  padding: 0 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.travalersSelector * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.travalersSelectorDD {
  position: absolute;
  top: 66px;
  z-index: 2;
  background: #eaebec;
  width: 100%;
  -webkit-box-shadow: 0 0 13px -7px black;
          box-shadow: 0 0 13px -7px black;
  padding: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.travalersSelectorDD * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.travalersSelectorDD--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.travalersSelectorDD--item i {
  cursor: pointer;
  margin: 0 4px;
}

.formsContainer--body__item {
  position: relative;
}

.formsContainer .adult,
.formsContainer .child {
  background: #eaebec3d;
  padding: 9px;
  margin-top: 10px;
}

.formsContainer .swiper-container {
  width: 100%;
}

.formsContainer .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-bottom: 30px;
}

.formsContainer .swiper-pagination {
  bottom: 0;
}

.ant-switch-checked {
  background-color: var(--accent-bg);
  color: var(--accent-txt);
}

.swiper-wrapper {
  -webkit-transition: unset !important;
  transition: unset !important;
}

.visures {
  width: 100%;
  max-width: 1371px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 550px;
  margin-top: 60px;
}

.visures--services {
  background-color: #fff;
  width: 25%;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.visures--services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-bottom: 1px solid #ebeced;
}

.visures--services__item.active .header {
  color: var(--accent-bg);
  font-weight: 500;
}

.visures--services__item .header {
  padding: 0 15px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  color: #7e7e7e;
}

.visures--services__item .header i {
  font-size: 13px;
}

.visures--services__item ul {
  padding: 15px;
  -webkit-box-shadow: inset 0px 11px 20px -16px black;
          box-shadow: inset 0px 11px 20px -16px black;
  margin: 0;
  background-color: #fcfcfc;
}

.visures--services__item ul li {
  font-size: 12px;
  position: relative;
  list-style-type: none;
  padding: 5px 0;
  cursor: pointer;
}

.visures--services__item ul li.active {
  color: var(--accent-bg);
}

.visures--form {
  background-color: #fff;
  width: 75%;
}

.visures--form .formsContainer--body {
  margin: 0;
}

.visures--form .formsContainer--body .rightForm--right,
.visures--form .formsContainer--body .rightForm--left {
  height: calc(100% - 45px);
}

.visures--form .formsContainer--body .rightForm--left {
  border-right: 1px solid #ebeced;
}

.visures--form .formsContainer--body .rightForm--header {
  border-bottom: 1px solid #ebeced;
  height: 45px;
  font-size: 13px;
  padding-left: 7px;
}

.visures--form .formsContainer--body__item.submit button {
  padding: 10px;
}

.visureHeader {
  text-transform: uppercase;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 15px;
  border-bottom: 1px solid #ebeced;
}

.visureHeader > span,
.visureHeader > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  height: 45px;
}

.visureHeader > span {
  font-weight: 500;
  color: var(--accent-bg);
}

.visureHeader > div {
  border-right: 1px solid #ebeced;
  cursor: pointer;
  font-weight: 500;
  color: #c5c5c5;
}

.visureHeader > div i {
  margin-right: 3px;
}

.visureHeader > div.active {
  color: var(--accent-bg);
}

.visureHeader > div:nth-child(1) {
  cursor: default;
  color: #595959;
}

.itemWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: calc(550px - 45px);
  overflow: auto;
}
/*# sourceMappingURL=style.css.map */