.formsContainer {
  display: flex;
  flex-flow: column;
  min-height: 550px;
  height: 100%;
  padding-bottom: 60px;

  > h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    margin-top: 60px;
    color: #5c5c5c;
  }

  &--cards {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    max-width: 1005px;
    margin: 0 auto;
    margin-top: 60px;
    justify-content: flex-start;

    &__item {
      display: flex;
      flex-flow: column;
      width: 100%;
      max-width: 330px;
      position: relative;
      cursor: pointer;
      margin-right: 5px;
      margin-top: 5px;
      flex-grow: 1;
      &:hover {
        .imageCard {
          backdrop-filter: blur(5px);
        }
      }
    }
    .bgImg {
      width: 100%;
      height: 240px;
      object-fit: cover;
      object-position: 30% 42%;
    }
    .imageCard {
      position: absolute;
      width: 100%;
      top: 63px;
      height: calc(100% - 63px);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
    }
  }
  &--body {
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 20px;
    align-items: stretch;
    margin-top: 60px;
    max-width: 1135px;

    @media (max-width: 768px) {
      flex-flow: column;
    }
    .overlayImg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .imgBg {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
    .imgLogo {
      position: absolute;
      z-index: 1;
      top: 320px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      @media (max-width: 768px) {
        top: 50%;
      }
    }

    .leftForm {
      display: flex;
      flex-flow: column;
      position: relative;
      min-height: 674px;
      width: 271px;
      flex-shrink: 0;

      @media (max-width: 768px) {
        min-height: 244px;
        width: 100%;
      }
    }
    .rightForm {
      flex-grow: 1;
      display: flex;
      flex-flow: row wrap;
      &--header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 40px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        border-bottom: 2px solid #ebeced;
        height: 67px;
        & div.TitleBack {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          @media (max-width: 768px) {
            font-size: 20px;
            text-transform: capitalize;
          }
          & i {
            padding-right: 8px;
            cursor: pointer;
          }
        }
        img {
          filter: brightness(0.8);
          width: 120px;
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
      &--left {
        height: calc(100% - 67px);
        width: 50%;
        padding: 20px;
        padding-left: 40px;
        display: flex;
        flex-flow: column;
        @media (max-width: 768px) {
          width: 100%;
          padding-left: 20px;
        }
      }
      &--right {
        height: calc(100% - 67px);
        width: 50%;
        padding: 20px;
        padding-right: 40px;

        display: flex;
        flex-flow: column;
        @media (max-width: 768px) {
          width: 100%;
          padding-right: 20px;
        }
      }
    }
    .formsItemTogether {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      &Start {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
      }
    }

    &__item {
      width: 100%;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: center;
      margin-top: 10px;
      position: relative;
      &:first-child {
        margin-top: 0;
      }
      &.hasInfo {
        input {
          background: transparent;
          padding-left: 30px;
          text-transform: capitalize;
        }
        &:before {
          font-family: "Font Awesome 5 Pro";
          position: absolute;
          left: 4px;
          top: 28px;
        }
        &.costo {
          &:before {
            content: "\f53a";
          }
        }
        &.time {
          &:before {
            content: "\f017";
          }
        }
      }
      .ant-select-selection--single {
        border: none;
        background: #ebeced;
        height: 40px;
        display: flex;
        align-items: center;
        border-radius: 0;
      }
      .ant-select,
      .ant-select-selection--single {
        width: 100%;
      }
      .ant-input {
        border-radius: 0;
      }
      .ant-calendar-picker {
        width: 100%;
      }
      .label {
        font-weight: 400;
        font-size: 14px;
      }
      .ant-btn.ant-dropdown-trigger {
        min-width: 95%;
        min-height: 61%;
        margin: 0 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.1em;
      }

      .ant-btn.ant-dropdown-trigger.dropdownMenu {
        top: 10px;
      }
      &.datiPass {
        textarea {
          border: 0px;
          background: #ebeced;
          width: 100%;
          margin-top: 0px;
          margin-bottom: 0px;
          height: 170px;
          font-size: 14px;
          padding: 0 15px;
          padding-top: 5px;
          border: none;
          overflow: none;
          border: none;
          overflow: auto;
          outline: none;
          box-shadow: none;
          resize: none;
        }
      }
      &.submit {
        margin-top: auto;
      }
      &.w-50 {
        flex-grow: 1;
      }
      &.w-40 {
        width: 40%;
      }
      &.submit {
        button {
          width: 100%;
          background: var(--accent-bg);
          color: var(--accent-txt);
          border: 0;
          padding: 15px;
          margin: 15px 0;
          text-transform: uppercase;
          font-size: 14px;
        }
      }

      input {
        width: 100%;
        border: 0;
        background: #ebeced;
        border: 0;
        height: 40px;
        padding: 0 15px;
      }

      .radioGr {
        display: flex;
        align-items: center;
        /* flex-flow: row-reverse; */
        margin-right: 10px;
        background-color: #ebeced;
        height: 100%;
        width: 50%;
        padding-left: 10px;
        &:last-child {
          margin-right: 0;
        }
        > span {
          margin-left: 5px;
          font-size: 15px;
          margin-right: 10px;
        }
        input {
          display: none;
        }
        input + .customRadio {
          width: 20px;
          height: 20px;
          border: 1px solid #ccc;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin: 0;
        }
        input:checked {
          + .customRadio {
            width: 20px;
            height: 20px;
            border: 1px solid #ccc;
            border-radius: 20px;
            span {
              width: 10px;
              height: 10px;
              background-color: #ccc;
              border-radius: 10px;
            }
          }
        }
      }
    }
    .radioWrapper {
      display: flex;
      align-items: center;
      height: 40px;
      width: 100%;
      justify-content: space-evenly;
    }
  }
}
.ant-dropdown-menu-item {
  text-align: center;
  font-size: 1.1em;
}
.titleCard {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 63px;
  padding: 0 30px;
  color: var(--accent-bg);
  font-weight: 500;
  i {
    color: #b5b5b5;
  }
}
.travalersSelector {
  height: 40px;
  background: #eaebec;
  display: flex;
  align-items: center;
  padding: 3px;
  font-size: 15px;
  padding: 0 10px;
  cursor: pointer;
  user-select: none;
  * {
    user-select: none;
  }
}
.travalersSelectorDD {
  position: absolute;
  top: 66px;
  z-index: 2;
  background: #eaebec;
  width: 100%;
  box-shadow: 0 0 13px -7px black;
  padding: 15px;
  user-select: none;
  * {
    user-select: none;
  }
  &--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      cursor: pointer;
      margin: 0 4px;
    }
  }
}
.formsContainer--body__item {
  position: relative;
  & .formsContainer--body__item.semi {
    width: 49%;
    margin: 0;
    &:first-child {
      margin-right: 2%;
    }
  }
}
.formsContainer {
  .adult,
  .child {
    background: #eaebec3d;
    padding: 9px;
    margin-top: 10px;
  }
  .swiper-container {
    width: 100%;
  }
  .swiper-wrapper {
    flex-flow: column;
    padding-bottom: 30px;
  }
  .swiper-pagination {
    bottom: 0;
  }
}
.ant-switch-checked {
  background-color: var(--accent-bg);
  color: var(--accent-txt);
}
.swiper-wrapper {
  transition: unset !important;
}
.visures {
  width: 100%;
  max-width: 1135px;
  margin: 0 auto;
  display: flex;
  min-height: 550px;
  margin-top: 60px;
  &--services {
    background-color: #fff;
    width: 25%;
    margin-right: 5px;
    display: flex;
    flex-flow: column;
    &__item {
      display: flex;
      flex-flow: column;
      border-bottom: 1px solid #ebeced;
      &.active {
        .header {
          color: var(--accent-bg);
          font-weight: 500;
          position: sticky;
          top: 0;
          z-index: 1;
        }
      }
      .header {
        padding: 0 15px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        color: #7e7e7e;
        background-color: #fff;
        i {
          font-size: 13px;
        }
      }
      ul {
        padding: 15px;
        box-shadow: inset 0px 11px 20px -16px black;
        margin: 0;
        background-color: #fcfcfc;
        li {
          font-size: 12px;
          position: relative;
          list-style-type: none;
          padding: 5px 0;
          cursor: pointer;
          position: relative;
          padding-left: 25px;
          font-weight: 500;
          color: #5c5c5c;
          &:before {
            content: "•";
            position: absolute;
            left: 10px;
          }
          &.active {
            color: var(--accent-bg);
          }
        }
      }
    }
  }
  &--form {
    background-color: #fff;
    width: 75%;
    .formsContainer--body {
      margin: 0;
    }
    .formsContainer--body .rightForm--right,
    .formsContainer--body .rightForm--left {
      height: calc(100% - 45px);
    }
    .formsContainer--body .rightForm--left {
      border-right: 1px solid #ebeced;
    }
    .formsContainer--body .rightForm--header {
      border-bottom: 1px solid #ebeced;
      height: 45px;
      font-size: 13px;
      padding-left: 7px;
    }
    .formsContainer--body__item.submit button {
      padding: 10px;
    }
  }
}
.visureHeader {
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: stretch;
  font-size: 15px;
  border-bottom: 1px solid #ebeced;
  > span,
  > div {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 45px;
  }
  > span {
    font-weight: 500;
    color: var(--accent-bg);
  }
  > div {
    border-right: 1px solid #ebeced;
    cursor: pointer;
    font-weight: 500;
    color: #c5c5c5;
    i {
      margin-right: 3px;
    }
    &.active {
      color: var(--accent-bg);
    }
    &:nth-child(1) {
      cursor: default;
      color: #595959;
    }
  }
}
.itemWrapper {
  display: flex;
  flex-flow: column;
  height: calc(650px - 45px);
  overflow: auto;
  position: relative;
}

.rightFormOnlShop {
  width: 100%;
  display: flex;
  flex-direction: column;
  .rightForm--header {
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    .TitleBack {
      font-size: 18px;
      font-weight: 500;
      font-family: "Lato";
      color: #f26521;
      i {
        color: #5c5c5c;
        font-size: 16px;
      }
    }
  }
  span.red {
    color: #f26521;
  }
  .ant-radio-group.ant-radio-group-outline {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .ant-radio-wrapper {
      width: 50%;
      margin-right: 5px;
      height: 35px;
      max-width: 175px;
      background: #ebeced;
      display: flex;
      align-items: center;
      padding: 0 10px;
      .ant-radio-checked .ant-radio-inner {
        border-color: #11375d !important ;
      }

      .ant-radio-checked .ant-radio-inner:after {
        background-color: #11375d;
      }

      .ant-radio:hover .ant-radio-inner {
        border-color: #11375d;
      }
    }
  }
  .MainForm {
    height: 241px;
    width: 100%;
    display: flex;
    flex-direction: row;
    .label {
      font-size: 12px;
      font-weight: 400;
      color: #5c5c5c;
      font-family: "Roboto";
    }

    i {
      position: absolute;
      font-size: 15px;
      font-weight: 300;
      right: 15px;
      width: 15px;
      height: 15px;
      top: 50%;
    }
    input.questionInput {
      padding-right: 35px;
    }

    .EuroInput {
      display: flex;
      flex-direction: row;
      width: 100%;
      .Euro {
        width: 48px;
        height: 100%;
        background: #ebeced;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Sofia Pro";
        font-size: 18px;
        font-weight: 300;
        color: #6c6c6c;
        margin-right: 3px;
      }
    }

    textarea {
      border: 0px;
      background: #ebeced;
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
      height: 170px;
      font-size: 14px;
      padding: 0 15px;
      padding-top: 5px;
      border: none;
      overflow: none;
      border: none;
      overflow: auto;
      outline: none;
      box-shadow: none;
      resize: none;
    }
    &--left {
      padding: 20px;
      padding-left: 40px;
    }
    &--right {
      padding: 20px;
      padding-right: 40px;
    }
    &--left,
    &--right {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }
  .SubForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
