.dashboardMobile {
  position: relative;
  width: 100%;
  height: 100%;
  top: 106px;
  padding-bottom: 43px;
  overflow-y: auto;
  //remove desktop foter with css
  + footer {
    display: none;
  }
}

.serviziFilter {
  display: flex;
  flex-flow: column;
  background-color: #272c31;
  color: #fff;
  border-top: 1px solid #3c4349;
  &--search {
    width: 100%;
    position: relative;
    padding: 18px;
    input {
      width: 100%;
      border: 0;
      color: #fff;
      background-color: #3c4349;
      height: 38px;
      border-bottom: 1px solid var(--accent-bg);
      padding: 0 15px;
      &::placeholder {
        color: #fff;
      }
    }
    i {
      position: absolute;
      right: 30px;
      top: 28px;
      pointer-events: none;
    }
  }
  &--cards {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 18px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
    &__item {
      display: flex;
      align-items: center;
      flex-flow: column;
      width: 90px;
      height: 100px;
      border-radius: 5px;
      background-color: #63696d;
      color: #272c31;
      text-align: center;
      text-transform: capitalize;
      justify-content: center;
      flex-shrink: 0;
      padding: 0 5px;
      margin-right: 5px;
      position: relative;

      &.active {
        background-color: var(--accent-bg);
        color: var(--accent-txt);
      }
      i {
        font-size: 40px;
      }
      span {
        line-height: 15px;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 500;
        white-space: break-spaces;
      }
    }
  }
}
.mobileServices {
  display: flex;
  flex-flow: column;
  padding-bottom: 60px;
  &--favorites {
    margin-top: 10px;
  }
  &--panel {
    display: flex;
    flex-flow: column;
  }
  &--header {
    height: 48px;
    font-size: 18px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    background-color: #fff;
    border-bottom: 1px solid #e2e4e5;
    white-space: nowrap;
    text-overflow: ellipsis;

    > span {
      width: 90%;
      display: block;
      text-overflow: hidden;
      overflow: hidden;
    }
    &.active {
      color: var(--accent-txt);
      background-color: var(--accent-bg);
    }
  }
  &--body {
    display: flex;
    flex-flow: row wrap;
    padding: 18px;
    background-color: #fff;
    border-bottom: 1px solid #e2e4e5;
    justify-content: flex-start;
    padding-right: 13px;
    padding-bottom: 30px;
    &__item {
      width: calc(100% / 4 - 5px);
      height: 90px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      border: 1px solid #dedede;
      margin-right: 5px;
      margin-bottom: 5px;
      border-radius: 4px;
      > img {
        margin: 0 auto;
        width: 50%;
        height: 32px;
        margin-bottom: 15px;
        display: block;
        object-fit: contain;
        &[alt="luce-gas"] {
          filter: grayscale(1) brightness(0.3);
        }
      }
      > span {
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        width: 90%;
        font-size: 12px;
        text-transform: capitalize;
      }
    }
  }
}
.servicesForms {
  height: calc(100vh - 106px);
  .mobileNumPad {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow-y: auto;
    justify-content: flex-start;
    align-items: stretch;
    .OtherBanner {
      height: calc(75vh - 104px);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f8f8f8;

      img {
        width: 50%;
        // filter: drop-shadow(0px 0px 6px var(--accent-bg));
      }
    }
    .GamingBanner {
      height: calc(75vh - 104px);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .img {
        height: calc(75vh - 105px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
      &.mobile {
        // justify-content: center;
        .img {
          position: relative;
          width: 470px;
          height: 490px;
          flex-shrink: 0;
          flex-grow: 0;
          transform-origin: center left;

          span {
            position: absolute;
            left: 77px;
            top: 73px;
            color: #ffffffcf;
            font-size: 30px;
            font-weight: 500;
          }
        }
      }
    }
    &--services {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      overflow-x: auto;
      height: 9vh;
      order: 5;
      z-index: 1;
      position: fixed;
      bottom: 9vh;
      background: transparent;
      .serv {
        min-width: 20vw;
        background: #31373c;
        border-right: 1px solid #474e53;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        &.noborder {
          border: none;
        }
        &.active {
          position: relative;
          background: transparent;
          display: flex;
          flex-direction: column;
          border: none;
          .Upper {
            height: 25%;
            width: 100%;
            background: transparent;
            display: flex;
            justify-content: space-between;
            position: relative;
            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background: transparent;
              position: absolute;
              border-left: 7vw solid #ed4c1c;
              border-right: 7vw solid #ed4c1c;
            }
            &--Left {
              width: 0;
              height: 0;
              border-bottom: 2.25vh solid #ed4c1c;
              border-right: 3.5vw solid transparent;
              position: relative;
              left: 6.8vw;
            }
            &--Right {
              width: 0;
              height: 0;
              border-bottom: 2.25vh solid #ed4c1c;
              border-left: 3.5vw solid transparent;
              position: relative;
              right: 6.8vw;
            }
          }
          .Bottom {
            background: #ed4c1c;
            height: 75%;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            &::after {
              content: "";
              width: 100%;
              height: 4%;
              background: #ed4c1c;
              position: absolute;
              top: 0;
              left: 0;
              top: -3%;
            }
          }
        }
        span {
          color: #ffffff;
          font-size: 20px;
          font-weight: 300;
          font-family: "Roboto";
          top: 0.2vh;
          position: relative;
          &:nth-child(2) {
            top: -0.1vh;
            left: 1px;
            position: relative;
          }
        }
      }
      &::-webkit-scrollbar {
        height: 0;
        width: 0;
      }
      &__tab {
        flex-shrink: 0;
        width: 93px;
        height: 100%;
        background-color: #272c31;
        color: #63696d;
        font-size: 24px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #3c4349;
        border-right: 1px solid #3c4349;
        border-bottom: 1px solid #3c4349;
        position: relative;
        overflow: hidden;
        &:nth-child(1) {
          border-left: 1px solid #3c4349;
        }
        span,
        sup {
          position: relative;
          left: 6px;
        }
        &.active {
          background: var(--accent-bg);
          color: #fff;
          border: none;
          &:before {
            content: "\f0d7";
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            position: absolute;
            color: #edeef0;
            font-size: 35px;
            width: 52px;
            left: calc(50% - 26px);
            top: -22px;
            z-index: 1;
          }
        }
      }
    }
    &--header {
      height: 5.5vh;
      background-color: var(--accent-bg);
      color: var(--accent-txt);
      display: flex;
      align-items: center;
      font-size: 18px;
      text-transform: uppercase;
      padding: 0 18px;
      white-space: nowrap;
      > i {
        margin-left: auto;
        &.active {
          color: var(--accent-bg);
          filter: brightness(2);
        }
      }
      > img {
        filter: grayscale(1) brightness(100);
        height: 16px;
        margin-right: 10px;
      }
    }
    &--subh {
      background-color: #fff;
      height: 3.2vh;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-size: 13px;
      white-space: nowrap;
      display: flex;
      justify-content: flex-start;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 18px;
      flex-shrink: 0;
    }
    &--buttons {
      position: fixed;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      z-index: 1;
      box-shadow: 0 -2px 51px -27px black;
      flex-shrink: 0;
      button {
        width: calc(100% / 3);
        font-size: 14px;
        border: 0;
        height: 9vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 4px solid;
        background-color: #fff;
        text-transform: uppercase;
        flex-flow: row wrap;
        &.disable {
          background-color: #ccc;
          pointer-events: none;
        }
        span {
          margin-top: -25px;
          text-transform: lowercase;
          font-size: 13px;
        }
        i {
          margin-left: 4px;
        }
        &:nth-child(1) {
          border-color: #2cb850;
        }
        &:nth-child(2) {
          border-color: #fdaa29;
          border-left: 1px solid #edeef0;
          border-right: 1px solid #edeef0;
        }
        &:nth-child(3) {
          border-color: #ea1900;
        }
      }
    }
    &--input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2.5vh 3vh;
      background-color: #fff;
      height: 9.5vh;
      box-shadow: 2px 2px 9px 0px #0000003b;
      position: relative;
      flex-shrink: 0;
      > span,
      i {
        position: absolute;
        font-size: calc(2.5vh + 2.5vw);
        color: #63696d;
      }
      span {
        left: 20px;
      }
      i {
        right: 10px;
      }
      input {
        height: 100%;
        width: 100%;
        padding-left: 88px;
        /* z-index: 1; */
        border: 0;
        font-size: calc(2.5vh + 2.5vw);
      }
    }
    &--numbers {
      display: flex;
      flex-flow: row wrap;
      background-color: #fff;
      box-shadow: 2px 2px 9px 0px #0000003b;
      margin: 2.5vh 3vh;
      margin-top: 0;
      flex-shrink: 0;
      > div {
        &.bgm {
          height: calc(10.275vh - 19.6875px);
          &.x {
            .triangle {
              width: 0;
              height: 0;
              border-top: 2vh solid transparent;
              border-right: 1.5vh solid #ebebeb;
              border-bottom: 2vh solid transparent;
              border-radius: 4px;
              position: absolute;
              left: -1.5vh;
              top: 0;
            }
            span {
              width: 4vh;
              height: 4vh;
              border: none;
              background: #ebebeb;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              border-radius: 4px;
              i {
                font-size: 17px;
                font-weight: 300;
              }
            }
          }
        }
        width: calc(100% / 3);
        height: calc(13.7vh - 26.25px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: calc(3.5vh + 3.5vw);
        color: #677e90;
        font-weight: 300;
        border-bottom: 1px solid #edeef0;
        border-right: 1px solid #edeef0;
        transition: 0.4s;
        &:hover {
          background-color: var(--accent-bg);
          color: var(--accent-txt);
        }
      }
    }
    &--ticket {
      position: fixed;
      z-index: 3;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      overflow-y: auto;
      padding: 22px;
      .printModal .btn-group {
        padding: 25px;
      }
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      &:after {
        content: "";
        background-color: rgba(0, 0, 0, 0.493);
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
      }
    }
  }
}

.bolletini,
.postepay {
  display: flex;
  flex-flow: column;
  padding-bottom: 113px;
  > video {
    width: 100%;
    height: 300px;
  }
  &--services {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    overflow-y: auto;
    padding: 0 18px;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &__item {
      background-color: #eaebec;
      color: #272c31;
      width: 90px;
      flex-shrink: 0;
      height: 100px;
      margin-right: 10px;
      border-radius: 5px;
      position: relative;
      filter: drop-shadow(2px 3px 3px #0004);
      img {
        width: 75%;
        height: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        object-fit: contain;
        position: relative;
        top: 22px;
      }
      span {
        position: absolute;
        bottom: 4px;
        height: 45px;
        left: 5%;
        width: 90%;
        display: flex;
        justify-content: center;
        font-size: 12px;
        align-items: center;
        text-align: center;
        font-weight: 500;
        line-height: 15px;
      }
      &.active {
        background-color: var(--accent-bg);
        color: var(--accent-txt);
        img {
          filter: invert(1) grayscale(1) brightness(10);
        }
      }
    }
  }
  &.f24Mob {
    form {
      position: relative;
      top: -1px;
    }
    .bolletini {
      &--header {
        background: #156076;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        i {
          margin-right: 5px;
          font-weight: 300;
          &.fa-star {
            font-weight: 900;
          }
        }
      }
      &--subh {
        background: #a5dce9;
        font-size: 16px;
        font-weight: 500;
        color: #156076;
        display: flex;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
        i {
          font-weight: 400;
        }
      }

      &--inputs {
        .DatPag {
          height: 100%;
          visibility: visible;
          opacity: 1;
          transition: 0.4s;
          &.none {
            height: 0;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            padding-top: 0;
            padding-bottom: 0;
            transition: 0.4s;
          }
        }

        .Vis {
          background: #a5dce9;
          font-size: 16px;
          font-weight: 500;
          color: #156076;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 48px;
          padding: 0 20px;
          span {
            font-weight: 500;
          }
          i {
            font-weight: 400;
          }
        }
        .Data {
          background: #fff;
          height: 144px;
          width: 100%;
          padding: 20px;
          .Head {
            font-family: "Barlow";
            font-weight: 600;
            font-size: 12px;
            color: #156076;
            font-size: 14px;
            margin-bottom: 5px;
          }
          .Form {
            width: 100%;
            height: 78px;
            border: 1px solid #ebeced;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            .InputItem {
              padding: 0;
              border: none;
              width: 50%;
              display: flex;
              justify-content: center;
              &:first-child {
                width: 60%;
              }
              &:nth-child(2) {
                width: 30%;
              }
              .ant-row.ant-form-item {
                margin: 0;
              }
              span {
                font-size: 10px;
                font-weight: 400;
                font-family: "Roboto";
                color: #5c5c5c;
                position: relative;
                &.desc {
                  padding-left: 10px;
                }
              }
              .ant-form-item-control {
                input,
                span,
                div {
                  width: 100%;
                }
              }
              input {
                border: none;
                border-bottom: 3px solid #eaebec;
                color: #5c5c5c;
                font-size: 14px;
                font-weight: 400;
                height: 30px;
              }
            }
          }
        }
        .MotivoPag {
          background: #d9eff5;
          display: flex;
          flex-direction: column;
          padding: 40px 20px;
          height: 100%;
          opacity: 1;
          visibility: visible;
          transition: 0.4s;
          &.none {
            height: 0;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            padding-top: 0;
            padding-bottom: 0;
            transition: 0.4s;
          }
          .Table {
            &--Row {
              display: flex;
              flex-flow: wrap;
              width: 100%;
              justify-content: space-between;
              .InputItem {
                width: calc((100% / 3) - 5px);
                height: 85px;
                padding: 0;
                margin-bottom: 6px;
                justify-content: space-between;
                &.last {
                  height: 99px;
                  span.desc {
                    height: 40px;
                  }
                }
                .ant-row.ant-form-item {
                  margin: 0;
                }
                &.checkbox {
                  width: calc(50% - 5px);
                  display: flex;
                  flex-direction: row;
                  background: #fff;
                  height: 58px;
                  margin-bottom: 6px;
                  display: flex;
                  justify-content: space-between;
                  span.checkbox {
                    width: 45%;
                    padding-left: 12%;
                    font-size: 12px;
                    font-weight: 600;
                    font-family: "Barlow";
                    color: #156076;
                    justify-content: flex-start;
                    align-items: center;
                    display: flex;
                  }
                  div.checkbox {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    width: 35%;
                    .ant-checkbox-checked .ant-checkbox-inner {
                      border-color: #a5dce9;
                      border-width: 2px;
                      background: #fff;
                    }
                    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
                    .ant-checkbox:hover .ant-checkbox-inner,
                    .ant-checkbox-input:focus + .ant-checkbox-inner {
                      border-color: #a5dce9;
                      border-width: 2px;
                    }

                    .ant-checkbox {
                      &::after {
                        border: 2px solid #a5dce9;
                      }
                    }
                    .ant-checkbox-inner {
                      border: 2px solid #a5dce9;
                      width: 29px;
                      height: 29px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      text-align: center;
                    }
                    .ant-checkbox-checked .ant-checkbox-inner::after {
                      border-color: #156076;
                      transform: rotate(45deg) scale(1.7) translate(-27%, -50%);
                    }
                  }
                }
                span.desc {
                  width: 100%;
                  color: #156076;
                  font-size: 12px;
                  font-weight: 500;
                  height: 26px;
                  min-height: 26px;
                  display: flex;
                  background: #fff;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  border-radius: 0px;
                  text-transform: uppercase;
                }
                .item {
                  .ant-form-explain {
                    display: none;
                  }
                  input {
                    &::placeholder {
                      color: transparent;
                      opacity: 0;
                    }
                    width: 100%;
                    height: 58px;
                    min-height: 58px;
                    padding: 10px;
                    border-radius: 0px;
                    background: #fff;
                    align-items: center;
                    border: none;
                  }
                }
              }
            }
            .RowContainer {
              width: 100%;
              display: flex;
              flex-direction: column;
            }
          }
          .TableActions {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div {
              height: 58px;
              background: #fff;
              width: calc(50% - 0.5px);
              display: flex;
              justify-content: center;
              align-items: center;
              color: #156076;
              font-size: 12px;
              font-weight: 600;
              font-family: "Barlow";
              text-transform: uppercase;
              &:first-child {
                box-shadow: inset 0px -4px 0px 0px #ff5757;
              }
              &:nth-child(2) {
                box-shadow: inset 0px -4px 0px 0px #2cb850;
              }
              i {
                display: none;
              }
            }
          }
        }
        .SezErrar {
          .Inputs {
            background: #d9eff5;
            display: flex;
            flex-direction: column;
            padding: 20px;
            transition: 0.4s;
            &.none {
              height: 0;
              overflow: hidden;
              opacity: 0;
              visibility: hidden;
              padding-top: 0;
              padding-bottom: 0;
              transition: 0.4s;
            }
            span {
              display: flex;
              flex-flow: wrap;
            }
            span:nth-child(2) div {
              padding-top: 10px;
            }
            div {
              font-family: "Barlow";
              font-weight: 600;
              font-size: 12px;
              color: #156076;
              padding-bottom: 10px;
              width: 100%;
              text-transform: capitalize;
            }
            input {
              width: 33px;
              height: 50px;
              background: #fff;
              display: flex;
              justify-content: center;
              color: #156076;
              font-weight: 400;
              font-family: "Roboto";
              font-size: 30px;
              margin: 0;
              padding: 0;
              margin-right: 1px;
              text-align: center;
              border: none;
            }
          }
        }
      }
      &-beforeh {
        background: #d9eff5;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 150px;
        padding: 15px 0;
        div {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 140px;
            height: auto;
            object-fit: contain;
          }
          &:last-child {
            display: flex;
            flex-direction: column;
            span {
              width: 230px;
              text-transform: uppercase;
              font-size: 13px;
              font-weight: 500;
              color: #156076;
              &:last-child {
                color: #5c5c5c;
                font-size: 10px;
                font-weight: 400;
              }
            }
          }
        }
        .abPart {
          position: absolute;
          top: 18px;
          left: 18px;
          border: 2px solid #156076;
          width: 80px;
          height: 27px;
          justify-content: center;
          align-items: center;
          padding-bottom: 4px;

          :first-child {
            color: #000000;
            text-transform: capitalize;
            font-weight: 400;
            font-size: 12px;
            height: 22px;
            align-self: flex-start;
            display: flex;
            align-items: flex-end;
          }
          :last-child {
            color: #156076;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 16px;
            align-self: flex-start;
            height: 24px;
            display: flex;
            align-items: flex-end;
          }
        }
      }
    }
  }
  &--header {
    background-color: var(--accent-bg);
    padding: 0 18px;
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #edeef0;
    color: var(--accent-txt);
    justify-content: space-between;
    i.active {
      color: var(--accent-bg);
      filter: brightness(2.5);
    }
  }
  &--subh,
  .DatiPagatori {
    background-color: #eaebec;
    padding: 0 18px;
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #272c31;
    border-bottom: 1px solid #edeef0;
  }
  &--buttons {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    box-shadow: 0 -2px 51px -27px black;

    button {
      width: calc(100% / 3);
      font-size: 14px;
      border: 0;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 4px solid;
      background-color: #fff;
      text-transform: uppercase;
      flex-flow: row wrap;
      &.disable {
        background-color: #ccc;
        pointer-events: none;
      }
      span {
        margin-top: -25px;
        text-transform: lowercase;
        font-size: 13px;
      }
      i {
        margin-left: 4px;
      }
      &:nth-child(1) {
        border-color: #2cb850;
      }
      &:nth-child(2) {
        border-color: #299efd;
        border-left: 1px solid #edeef0;
      }
      &:nth-child(3) {
        border-color: #fdaa29;
        border-left: 1px solid #edeef0;
        border-right: 1px solid #edeef0;
      }
      &:nth-child(4) {
        border-color: #ea1900;
      }
    }
  }
  &--inputs {
    display: flex;
    flex-flow: column;
    // padding: 18px;
    background-color: #fff;
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      flex-flow: column;
      align-items: flex-start;
      padding: 0 18px;
      .label {
        width: 40%;
        font-size: 16px;
        white-space: nowrap;
      }
      input,
      select {
        width: 60%;
        font-weight: 600;
        border: 0;
        border: 1px solid #edeef0;
        padding: 3px 10px;
        font-size: 14px;
        height: 50px;
      }
      input,
      select {
        width: 100%;
      }
      &.hasIcon {
        flex-flow: row wrap;
        input {
          width: calc(100% - 55px);
        }
        i {
          width: 55px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #edeef0;
          border-left: 0;
          color: #838383;
          font-size: 16px;
        }
      }
    }
    .InputItem {
      height: 90px;
      display: flex;
      flex-direction: column;
      padding: 7px 20px;
      .ant-radio-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        .ant-radio-wrapper {
          width: 49%;
          height: 100%;
          border: 1px solid #eaebec;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 10px;
          margin: 0;
          .ant-radio-checked .ant-radio-inner {
            border-color: #009840;
          }

          .ant-radio-checked .ant-radio-inner:after {
            background-color: #009840;
          }

          .ant-radio:hover .ant-radio-inner {
            border-color: #009840;
          }
          .ant-radio {
            order: 2;
          }
          span {
            order: 1;
          }
        }
      }
      .ant-select {
        width: 100%;
        line-height: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 0;
        .ant-select-selection-selected-value {
          border: 1px solid #eaebec;
          padding: 0 10px;
          border-radius: 5px;
          font-weight: 400;
          color: #6c6c6c;
          font-size: 16px;
          font-family: "Roboto";
        }
        & div {
          width: 100%;
          line-height: 50px;
          height: 50px;
          display: flex;
          margin: 0;
        }
        svg {
          fill: #272c3199;
          font-weight: 200;
          font-size: 14px;
        }
      }
      i:not(.anticon) {
        visibility: hidden;
        position: absolute;
      }
      input {
        border: 1px solid #eaebec;
        height: 50px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        font-weight: 400;
        color: #6c6c6c;
        font-size: 16px;
        font-family: "Roboto";
        &::placeholder {
          font-weight: 400;
          color: #6c6c6c;
          font-size: 16px;
          font-family: "Roboto";
        }
      }
      span {
        font-size: 16px;
        font-family: "Roboto";
        font-weight: 500;
        color: #272c31;
        &.Red {
          display: none;
        }
      }
    }
  }
  &--condition {
    display: flex;
    flex-flow: column;
    background-color: #edeef0;
    padding: 18px;
    &__check {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        color: #6c6c6c;
        font-size: 14px;
        line-height: 16px;
      }
      input {
        display: none;
        + div {
          width: 20px;
          height: 20px;
          border: 1px solid #a3a3a3;
          border-radius: 4px;
          display: flex;
          flex-shrink: 0;
          margin-right: 10px;
          align-items: center;
          justify-content: center;
          font-size: 15px;
        }
        &:checked {
          + div {
            background-color: var(--accent-bg);
            color: var(--accent-txt);
            border: 0;
            &:before {
              content: "\f00c";
              font-family: "Font Awesome 5 Pro";
            }
          }
        }
      }
    }
    &__orario {
      display: flex;
      flex-flow: column;
      margin-top: 18px;
      font-size: 16px;
      span {
        font-weight: 500;
        color: #272c31;
      }
      > div {
        color: #6c6c6c;
        line-height: 14px;
      }
    }
    &__warning {
      margin-top: 18px;
      font-weight: 500;
      font-size: 14px;
      border-top: 1px solid #d8d8d8;
      padding-top: 18px;
      color: #272c31;
    }
  }
}
.postepay {
  &--inputs {
    display: flex;
    flex-flow: column;
    padding: 18px;
    background-color: #fff;
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      flex-flow: column;
      align-items: flex-start;
      .label {
        width: 40%;
        font-size: 16px;
        white-space: nowrap;
      }
      input,
      select {
        width: 60%;
        font-weight: 600;
        border: 0;
        border: 1px solid #edeef0;
        padding: 3px 10px;
        font-size: 14px;
        height: 50px;
      }
      input,
      select {
        width: 100%;
      }
      &.hasIcon {
        flex-flow: row wrap;
        input {
          width: calc(100% - 55px);
        }
        i {
          width: 55px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #edeef0;
          border-left: 0;
          color: #838383;
          font-size: 16px;
        }
      }
    }
  }
}
.serviceSoon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 50px;
  button {
    background-color: var(--accent-bg);
    color: var(--accent-txt);
    border: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 10px;
  }
}
.loginPopUp {
  position: fixed;
  width: 90%;
  height: 70%;
  margin-left: calc(-45%);
  margin-top: calc(-50% - 40px);
  background-color: #fff;
  z-index: 4;
  display: flex;
  top: 50%;
  left: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 5px;
  min-height: 470px;
  max-height: 470px;
  &--header {
    text-transform: uppercase;
    font-size: 20px;
  }
  &--subheader {
    font-size: 18px;
    font-weight: 300;
    position: relative;
    bottom: 4px;
  }
  &--forms {
    width: 100%;
    padding: 0 16px;
    &__item {
      display: flex;
      flex-flow: column;
      margin-top: 10px;
      .label {
        font-size: 14px;
        font-weight: 500;
        color: #63696d;
      }
      input {
        height: 32px;
        border-radius: 2px;
        background-color: #ebebeb;
        border: 1px solid #bfc3c5;
        padding: 0 10px;
        color: #272c31;
        font-size: 16px;
        &::placeholder {
          text-transform: uppercase;
          font-size: 16px;
          color: #272c31;
        }
      }
      button {
        width: 192px;
        height: 32px;
        border: 0;
        background-color: var(--accent-bg);
        color: var(--accent-txt);
        text-transform: uppercase;
        font-size: 16px;
        margin: 0 auto;
        border-radius: 5px;
        margin-top: 15px;
      }
      .helper {
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        color: #63696d;
        span {
          color: var(--accent-bg);
          text-decoration: underline;
        }
      }
    }
  }
  &--banner {
    display: flex;
    align-items: flex-end;
    height: 100%;

    img {
      width: 100%;
    }
  }
}
.wrapperTop {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  padding: 13px 10px;
  margin-right: 5px;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}
.dd-options {
  width: 100%;
  padding: 11px;
  background: #eaebec;
  display: flex;
  flex-flow: column;
}

.searchContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 15px;
  padding-bottom: 70px;
}
.winterMode {
  .serviziFilter--search input {
    height: 58px;
  }
  .serviziFilter--search i {
    top: 36px;
  }
  .serviziFilter--search {
    position: relative;
    margin-top: 26px;
  }
  .serviziFilter--search::after {
    content: "";
    display: block;
    width: calc(100% - 36px);
    height: 20px;
    background-image: url(/static/media/ice2.eab66aca.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: left;
    top: 9px;
    position: absolute;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}
