.dashboardMobile {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 106px;
  padding-bottom: 43px;
  overflow-y: auto;
  //remove desktop foter with css
  + footer {
    display: none;
  }
}

.serviziFilter {
  display: flex;
  flex-flow: column;
  background-color: #272c31;
  color: #fff;
  border-top: 1px solid #3c4349;
  &--search {
    width: 100%;
    position: relative;
    padding: 18px;
    input {
      width: 100%;
      border: 0;
      color: #fff;
      background-color: #3c4349;
      height: 38px;
      border-bottom: 1px solid var(--accent-bg);
      padding: 0 15px;
      &::placeholder {
        color: #fff;
      }
    }
    i {
      position: absolute;
      right: 30px;
      top: 28px;
      pointer-events: none;
    }
  }
  &--cards {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 18px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
    &__item {
      display: flex;
      align-items: center;
      flex-flow: column;
      width: 90px;
      height: 100px;
      border-radius: 5px;
      background-color: #63696d;
      color: #272c31;
      text-align: center;
      text-transform: capitalize;
      justify-content: center;
      flex-shrink: 0;
      padding: 0 5px;
      margin-right: 5px;
      &.active {
        background-color: var(--accent-bg);
        color: var(--accent-txt);
      }
      i {
        font-size: 40px;
      }
      span {
        line-height: 15px;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}
.mobileServices {
  display: flex;
  flex-flow: column;
  padding-bottom: 60px;
  &--favorites {
    margin-top: 10px;
  }
  &--panel {
    display: flex;
    flex-flow: column;
  }
  &--header {
    height: 48px;
    font-size: 18px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    background-color: #fff;
    border-bottom: 1px solid #e2e4e5;
    white-space: nowrap;
    text-overflow: ellipsis;

    > span {
      width: 90%;
      display: block;
      text-overflow: hidden;
      overflow: hidden;
    }
    &.active {
      color: var(--accent-txt);
      background-color: var(--accent-bg);
    }
  }
  &--body {
    display: flex;
    flex-flow: row wrap;
    padding: 18px;
    background-color: #fff;
    border-bottom: 1px solid #e2e4e5;
    justify-content: flex-start;
    padding-right: 13px;
    &__item {
      width: calc(100% / 4 - 5px);
      height: 90px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      border: 1px solid #dedede;
      margin-right: 5px;
      margin-bottom: 5px;
      border-radius: 4px;
      > img {
        margin: 0 auto;
        width: 83%;
        height: 42px;
        margin-bottom: 15px;
        display: block;
      }
      > span {
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        width: 90%;
        font-size: 12px;
      }
    }
  }
}

.mobileNumPad {
  display: flex;
  flex-flow: column;
  padding-bottom: 50px;
  &--services {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow-x: auto;
    height: 69px;
    background: #272c31;
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
    &__tab {
      flex-shrink: 0;
      width: 93px;
      height: 69px;
      background-color: #272c31;
      color: #63696d;
      font-size: 30px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #3c4349;
      border-right: 1px solid #3c4349;
      border-bottom: 1px solid #3c4349;
      position: relative;
      overflow: hidden;
      &:nth-child(1) {
        border-left: 1px solid #3c4349;
      }
      span,
      sup {
        position: relative;
        left: 6px;
      }
      &.active {
        color: var(--accent-bg);
        &:before {
          content: "\f0d8";
          font-family: "Font Awesome 5 Pro";
          font-weight: 900;
          position: absolute;
          left: 50%;
          bottom: -19px;
          transform: translateX(-50%);
        }
      }
    }
  }
  &--header {
    height: 46px;
    background-color: var(--accent-bg);
    color: var(--accent-txt);
    display: flex;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 18px;
    > i {
      margin-left: auto;
      &.active {
        color: var(--accent-bg);
        filter: brightness(2);
      }
    }
    > img {
      filter: grayscale(1) brightness(100);
      height: 16px;
      margin-right: 10px;
    }
  }
  &--subh {
    background-color: #fff;
    height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 14px;
  }
  &--buttons {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    box-shadow: 0 -2px 51px -27px black;

    button {
      width: calc(100% / 3);
      font-size: 14px;
      border: 0;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 4px solid;
      background-color: #fff;
      text-transform: uppercase;
      flex-flow: row wrap;
      &.disable {
        background-color: #ccc;
        pointer-events: none;
      }
      span {
        margin-top: -25px;
        text-transform: lowercase;
        font-size: 13px;
      }
      i {
        margin-left: 4px;
      }
      &:nth-child(1) {
        border-color: #2cb850;
      }
      &:nth-child(2) {
        border-color: #fdaa29;
        border-left: 1px solid #edeef0;
        border-right: 1px solid #edeef0;
      }
      &:nth-child(3) {
        border-color: #ea1900;
      }
    }
  }
  &--input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    background-color: #fff;
    height: 80px;
    box-shadow: 2px 2px 9px 0px #0000003b;
    position: relative;
    > span,
    i {
      position: absolute;
      font-size: 30px;
      color: #63696d;
    }
    span {
      left: 20px;
    }
    i {
      right: 10px;
    }
    input {
      height: 100%;
      width: 100%;
      padding-left: 88px;
      /* z-index: 1; */
      border: 0;
      font-size: 30px;
    }
  }
  &--numbers {
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    box-shadow: 2px 2px 9px 0px #0000003b;
    margin: 25px;
    margin-top: 0;
    > div {
      width: calc(100% / 4);
      height: 92px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 41px;
      color: #677e90;
      font-weight: 300;
      border-bottom: 1px solid #edeef0;
      border-right: 1px solid #edeef0;
      transition: 0.3s;
      &:hover {
        background-color: var(--accent-bg);
        color: var(--accent-txt);
      }
    }
  }
  &--ticket {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding: 12px;
    .printModal .btn-group {
      padding: 25px;
    }
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &:after {
      content: "";
      background-color: rgba(0, 0, 0, 0.493);
      width: 100%;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
}
.bolletini {
  display: flex;
  flex-flow: column;
  padding-bottom: 75px;
  &--services {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272c31;
    overflow-y: auto;
    padding: 0 18px;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &__item {
      background-color: #63696d;
      color: #272c31;
      width: 90px;
      flex-shrink: 0;
      height: 100px;
      margin-right: 10px;
      border-radius: 5px;
      position: relative;

      img {
        width: 90%;
        height: 42px;
        display: block;
        margin: 0 auto;
        position: relative;
        top: 15px;
      }
      span {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
      }
      &.active {
        background-color: var(--accent-bg);
        color: var(--accent-txt);
        img {
          filter: grayscale(1) brightness(100);
        }
      }
    }
  }
  &--header {
    background-color: #fff;
    padding: 0 18px;
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #edeef0;
    color: #32424e;
    justify-content: space-between;
    i.active {
      color: var(--accent-bg);
    }
  }
  &--subh {
    background-color: #fff;
    padding: 0 18px;
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #32424e;
    border-bottom: 1px solid #edeef0;
  }
  &--buttons {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    box-shadow: 0 -2px 51px -27px black;

    button {
      width: calc(100% / 3);
      font-size: 14px;
      border: 0;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 4px solid;
      background-color: #fff;
      text-transform: uppercase;
      flex-flow: row wrap;
      &.disable {
        background-color: #ccc;
        pointer-events: none;
      }
      span {
        margin-top: -25px;
        text-transform: lowercase;
        font-size: 13px;
      }
      i {
        margin-left: 4px;
      }
      &:nth-child(1) {
        border-color: #2cb850;
      }
      &:nth-child(2) {
        border-color: #fdaa29;
        border-left: 1px solid #edeef0;
        border-right: 1px solid #edeef0;
      }
      &:nth-child(3) {
        border-color: #ea1900;
      }
    }
  }
  &--inputs {
    display: flex;
    flex-flow: column;
    padding: 18px;
    background-color: #fff;
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      flex-flow: column;
      align-items: flex-start;
      .label {
        width: 40%;
        font-size: 16px;
        white-space: nowrap;
      }
      input,
      select {
        width: 60%;
        font-weight: 600;
        border: 0;
        border: 1px solid #edeef0;
        padding: 3px 10px;
        font-size: 14px;
        height: 35px;
      }
      input,
      select {
        width: 100%;
      }
    }
  }
  &--condition {
    display: flex;
    flex-flow: column;
    background-color: #edeef0;
    padding: 18px;
    &__check {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        color: #6c6c6c;
        font-size: 14px;
        line-height: 16px;
      }
      input {
        display: none;
        + div {
          width: 20px;
          height: 20px;
          border: 1px solid #a3a3a3;
          border-radius: 4px;
          display: flex;
          flex-shrink: 0;
          margin-right: 10px;
          align-items: center;
          justify-content: center;
          font-size: 15px;
        }
        &:checked {
          + div {
            background-color: var(--accent-bg);
            color: var(--accent-txt);
            border: 0;
            &:before {
              content: "\f00c";
              font-family: "Font Awesome 5 Pro";
            }
          }
        }
      }
    }
    &__orario {
      display: flex;
      flex-flow: column;
      margin-top: 18px;
      font-size: 16px;
      span {
        font-weight: 500;
        color: #272c31;
      }
      > div {
        color: #6c6c6c;
        line-height: 14px;
      }
    }
    &__warning {
      margin-top: 18px;
      font-weight: 500;
      font-size: 14px;
      border-top: 1px solid #d8d8d8;
      padding-top: 18px;
      color: #272c31;
    }
  }
}
.serviceSoon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 50px;
  button {
    background-color: var(--accent-bg);
    color: var(--accent-txt);
    border: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 10px;
  }
}
.loginPopUp {
  position: fixed;
  width: 90%;
  height: 70%;
  margin-left: calc(-45%);
  margin-top: calc(-50% - 40px);
  background-color: #fff;
  z-index: 4;
  display: flex;
  top: 50%;
  left: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 5px;
  min-height: 470px;

  &--header {
    text-transform: uppercase;
    font-size: 20px;
  }
  &--subheader {
    font-size: 18px;
    font-weight: 300;
    position: relative;
    bottom: 4px;
  }
  &--forms {
    width: 100%;
    padding: 0 16px;
    &__item {
      display: flex;
      flex-flow: column;
      margin-top: 10px;
      .label {
        font-size: 14px;
        font-weight: 500;
        color: #63696d;
      }
      input {
        height: 32px;
        border-radius: 2px;
        background-color: #ebebeb;
        border: 1px solid #bfc3c5;
        padding: 0 10px;
        color: #272c31;
        font-size: 14px;
        &::placeholder {
          text-transform: uppercase;
          font-size: 14px;
          color: #272c31;
        }
      }
      button {
        width: 192px;
        height: 32px;
        border: 0;
        background-color: var(--accent-bg);
        color: var(--accent-txt);
        text-transform: uppercase;
        font-size: 16px;
        margin: 0 auto;
        border-radius: 5px;
        margin-top: 15px;
      }
      .helper {
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        color: #63696d;
        span {
          color: var(--accent-bg);
          text-decoration: underline;
        }
      }
    }
  }
  &--banner {
    display: flex;
    align-items: flex-end;
    height: 100%;

    img {
      width: 100%;
    }
  }
}
