.dashboardMobile {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 43px;
  overflow-y: auto;
}

.dashboardMobile + footer {
  display: none;
}

.serviziFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #272c31;
  color: #fff;
  border-top: 1px solid #3c4349;
}

.serviziFilter--search {
  width: 100%;
  position: relative;
  padding: 18px;
}

.serviziFilter--search input {
  width: 100%;
  border: 0;
  color: #fff;
  background-color: #3c4349;
  height: 38px;
  border-bottom: 1px solid var(--accent-bg);
  padding: 0 15px;
}

.serviziFilter--search input::-webkit-input-placeholder {
  color: #fff;
}

.serviziFilter--search input:-ms-input-placeholder {
  color: #fff;
}

.serviziFilter--search input::-ms-input-placeholder {
  color: #fff;
}

.serviziFilter--search input::placeholder {
  color: #fff;
}

.serviziFilter--search i {
  position: absolute;
  right: 30px;
  top: 28px;
  pointer-events: none;
}

.serviziFilter--cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
  overflow-x: auto;
}

.serviziFilter--cards::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.serviziFilter--cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 90px;
  height: 100px;
  border-radius: 5px;
  background-color: #63696d;
  color: #272c31;
  text-align: center;
  text-transform: capitalize;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 5px;
  margin-right: 5px;
}

.serviziFilter--cards__item.active {
  background-color: var(--accent-bg);
  color: var(--accent-txt);
}

.serviziFilter--cards__item i {
  font-size: 40px;
}

.serviziFilter--cards__item span {
  line-height: 15px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
}

.mobileServices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-bottom: 60px;
}

.mobileServices--favorites {
  margin-top: 10px;
}

.mobileServices--panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.mobileServices--header {
  height: 48px;
  font-size: 18px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px;
  background-color: #fff;
  border-bottom: 1px solid #e2e4e5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mobileServices--header > span {
  width: 90%;
  display: block;
  text-overflow: hidden;
  overflow: hidden;
}

.mobileServices--header.active {
  color: var(--accent-txt);
  background-color: var(--accent-bg);
}

.mobileServices--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 18px;
  background-color: #fff;
  border-bottom: 1px solid #e2e4e5;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 13px;
}

.mobileServices--body__item {
  width: calc(100% / 4 - 5px);
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  border: 1px solid #dedede;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.mobileServices--body__item > img {
  margin: 0 auto;
  width: 83%;
  height: 42px;
  margin-bottom: 15px;
  display: block;
}

.mobileServices--body__item > span {
  position: absolute;
  bottom: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 90%;
  font-size: 12px;
}

.mobileNumPad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-bottom: 50px;
}

.mobileNumPad--services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  height: 69px;
  background: #272c31;
}

.mobileNumPad--services::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.mobileNumPad--services__tab {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 93px;
  height: 69px;
  background-color: #272c31;
  color: #63696d;
  font-size: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #3c4349;
  border-right: 1px solid #3c4349;
  border-bottom: 1px solid #3c4349;
  position: relative;
  overflow: hidden;
}

.mobileNumPad--services__tab:nth-child(1) {
  border-left: 1px solid #3c4349;
}

.mobileNumPad--services__tab span,
.mobileNumPad--services__tab sup {
  position: relative;
  left: 6px;
}

.mobileNumPad--services__tab.active {
  color: var(--accent-bg);
}

.mobileNumPad--services__tab.active:before {
  content: "\f0d8";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  position: absolute;
  left: 50%;
  bottom: -19px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mobileNumPad--header {
  height: 46px;
  background-color: var(--accent-bg);
  color: var(--accent-txt);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 18px;
}

.mobileNumPad--header > i {
  margin-left: auto;
}

.mobileNumPad--header > i.active {
  color: var(--accent-bg);
  -webkit-filter: brightness(2);
          filter: brightness(2);
}

.mobileNumPad--header > img {
  -webkit-filter: grayscale(1) brightness(100);
          filter: grayscale(1) brightness(100);
  height: 16px;
  margin-right: 10px;
}

.mobileNumPad--subh {
  background-color: #fff;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.mobileNumPad--buttons {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0 -2px 51px -27px black;
          box-shadow: 0 -2px 51px -27px black;
}

.mobileNumPad--buttons button {
  width: calc(100% / 3);
  font-size: 14px;
  border: 0;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 4px solid;
  background-color: #fff;
  text-transform: uppercase;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.mobileNumPad--buttons button.disable {
  background-color: #ccc;
  pointer-events: none;
}

.mobileNumPad--buttons button span {
  margin-top: -25px;
  text-transform: lowercase;
  font-size: 13px;
}

.mobileNumPad--buttons button i {
  margin-left: 4px;
}

.mobileNumPad--buttons button:nth-child(1) {
  border-color: #2cb850;
}

.mobileNumPad--buttons button:nth-child(2) {
  border-color: #fdaa29;
  border-left: 1px solid #edeef0;
  border-right: 1px solid #edeef0;
}

.mobileNumPad--buttons button:nth-child(3) {
  border-color: #ea1900;
}

.mobileNumPad--input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px;
  background-color: #fff;
  height: 80px;
  -webkit-box-shadow: 2px 2px 9px 0px #0000003b;
          box-shadow: 2px 2px 9px 0px #0000003b;
  position: relative;
}

.mobileNumPad--input > span,
.mobileNumPad--input i {
  position: absolute;
  font-size: 30px;
  color: #63696d;
}

.mobileNumPad--input span {
  left: 20px;
}

.mobileNumPad--input i {
  right: 10px;
}

.mobileNumPad--input input {
  height: 100%;
  width: 100%;
  padding-left: 88px;
  /* z-index: 1; */
  border: 0;
  font-size: 30px;
}

.mobileNumPad--numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 9px 0px #0000003b;
          box-shadow: 2px 2px 9px 0px #0000003b;
  margin: 25px;
  margin-top: 0;
}

.mobileNumPad--numbers > div {
  width: calc(100% / 4);
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 41px;
  color: #677e90;
  font-weight: 300;
  border-bottom: 1px solid #edeef0;
  border-right: 1px solid #edeef0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobileNumPad--numbers > div:hover {
  background-color: var(--accent-bg);
  color: var(--accent-txt);
}

.mobileNumPad--ticket {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding: 12px;
}

.mobileNumPad--ticket .printModal .btn-group {
  padding: 25px;
}

.mobileNumPad--ticket::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.mobileNumPad--ticket:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.493);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.bolletini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-bottom: 75px;
}

.bolletini--services {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #272c31;
  overflow-y: auto;
  padding: 0 18px;
}

.bolletini--services::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.bolletini--services__item {
  background-color: #63696d;
  color: #272c31;
  width: 90px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100px;
  margin-right: 10px;
  border-radius: 5px;
  position: relative;
}

.bolletini--services__item img {
  width: 90%;
  height: 42px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 15px;
}

.bolletini--services__item span {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.bolletini--services__item.active {
  background-color: var(--accent-bg);
  color: var(--accent-txt);
}

.bolletini--services__item.active img {
  -webkit-filter: grayscale(1) brightness(100);
          filter: grayscale(1) brightness(100);
}

.bolletini--header {
  background-color: #fff;
  padding: 0 18px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #edeef0;
  color: #32424e;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bolletini--header i.active {
  color: var(--accent-bg);
}

.bolletini--subh {
  background-color: #fff;
  padding: 0 18px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #32424e;
  border-bottom: 1px solid #edeef0;
}

.bolletini--buttons {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0 -2px 51px -27px black;
          box-shadow: 0 -2px 51px -27px black;
}

.bolletini--buttons button {
  width: calc(100% / 3);
  font-size: 14px;
  border: 0;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 4px solid;
  background-color: #fff;
  text-transform: uppercase;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.bolletini--buttons button.disable {
  background-color: #ccc;
  pointer-events: none;
}

.bolletini--buttons button span {
  margin-top: -25px;
  text-transform: lowercase;
  font-size: 13px;
}

.bolletini--buttons button i {
  margin-left: 4px;
}

.bolletini--buttons button:nth-child(1) {
  border-color: #2cb850;
}

.bolletini--buttons button:nth-child(2) {
  border-color: #fdaa29;
  border-left: 1px solid #edeef0;
  border-right: 1px solid #edeef0;
}

.bolletini--buttons button:nth-child(3) {
  border-color: #ea1900;
}

.bolletini--inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 18px;
  background-color: #fff;
}

.bolletini--inputs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.bolletini--inputs__item .label {
  width: 40%;
  font-size: 16px;
}

.bolletini--inputs__item input,
.bolletini--inputs__item select {
  width: 60%;
  font-weight: 600;
  border: 0;
  border: 1px solid #edeef0;
  padding: 3px 10px;
  font-size: 14px;
  height: 35px;
}

.bolletini--condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #fff;
  padding: 10px;
}

.bolletini--condition__header {
  font-size: 16px;
  padding: 8px;
}

.bolletini--condition__area {
  border: 1px solid #edeef0;
  padding: 18px;
  height: 125px;
  overflow-y: scroll;
  font-size: 12px;
}

.serviceSoon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 50px;
}

.serviceSoon button {
  background-color: var(--accent-bg);
  color: var(--accent-txt);
  border: 0;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-top: 10px;
}

.loginPopUp {
  position: fixed;
  width: 90%;
  height: 70%;
  margin-left: calc(-45%);
  margin-top: calc(-50% - 40px);
  background-color: #fff;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  left: 50%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.loginPopUp--header {
  text-transform: uppercase;
  font-size: 20px;
}

.loginPopUp--subheader {
  font-size: 18px;
  font-weight: 300;
  position: relative;
  bottom: 4px;
}

.loginPopUp--forms {
  width: 100%;
  padding: 0 16px;
}

.loginPopUp--forms__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 10px;
}

.loginPopUp--forms__item .label {
  font-size: 14px;
  font-weight: 500;
  color: #63696d;
}

.loginPopUp--forms__item input {
  height: 32px;
  border-radius: 2px;
  background-color: #ebebeb;
  border: 1px solid #bfc3c5;
  padding: 0 10px;
  color: #272c31;
  font-size: 14px;
}

.loginPopUp--forms__item input::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 14px;
  color: #272c31;
}

.loginPopUp--forms__item input:-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 14px;
  color: #272c31;
}

.loginPopUp--forms__item input::-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 14px;
  color: #272c31;
}

.loginPopUp--forms__item input::placeholder {
  text-transform: uppercase;
  font-size: 14px;
  color: #272c31;
}

.loginPopUp--forms__item button {
  width: 192px;
  height: 32px;
  border: 0;
  background-color: var(--accent-bg);
  color: var(--accent-txt);
  text-transform: uppercase;
  font-size: 16px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 15px;
}

.loginPopUp--forms__item .helper {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #63696d;
}

.loginPopUp--forms__item .helper span {
  color: var(--accent-bg);
  text-decoration: underline;
}

.loginPopUp--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.loginPopUp--banner img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */