.ticketDetails {
  &--row {
    > span {
      padding: 15px;
    }
    &.animated.fadeIn.Visura {
      .new {
        margin-left: 10px;
      }
      .fal,
      .fas {
        &.a-store {
          color: #dc3545;
        }
        &.fa-building {
          color: #3d6389;
        }
        &.fa-trash,
        &.fa-archive {
          color: #b5b5b5;
        }
      }
    }
  }
  &--filters {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__byTicket {
      margin: 10px 15px;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      @media (max-width: 768px) {
        flex-flow: column;
        align-items: center;
        margin: 0;
        > i {
          margin-top: 5px !important;
        }
        input {
          width: 100%;
          margin: 0 !important;
          margin-top: 5px !important;
        }
        span.status {
          width: 162px;
          font-size: 12px;
          justify-content: flex-start !important;
          text-transform: uppercase;
        }
      }
      input {
        border: 0.5px solid #9f9f9f;
        border-radius: 2px;
        padding: 6px 15px;
        margin: 0 25px 0px 0px;
        font-size: 14px;
        width: 133px;
      }
      span.status {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 6px 10px;
        margin: 0px 2px;
        border-radius: 6px;
        &[data-status="all"] {
          &.active {
            border: 1.5px solid #000000;
          }
        }
        &[data-status="Nuove Richieste"],
        &[data-status="Nuove Offerte"] {
          &.active {
            border: 1.5px solid #238be7;
          }
        }
        &[data-status="In Attesa"] {
          &.active {
            border: 1.5px solid #eb6810;
          }
        }
        &[data-status="Cancellato"] {
          &.active {
            border: 1.5px solid #c91d1d;
          }
        }
        &[data-status="Eseguibile"] {
          &.active {
            border: 1.5px solid #00ac56;
          }
        }
        &[data-status="Completato"] {
          &.active {
            border: 1.5px solid #00ac2b;
          }
        }
        & div {
          margin-right: 5px;
          &[data-status="all"] {
            & span {
              background-color: #000000;
            }
            &.active {
              background-color: #000000;
            }
            & span.active {
              background-color: #fff;
            }
          }
          &[data-status="Nuove Richieste"],
          &[data-status="Nuove Offerte"] {
            &.active {
              background-color: #238be7;
            }
            & span.active {
              background-color: #fff;
            }
          }
          &[data-status="In Attesa"] {
            &.active {
              background-color: #eb6810;
            }
            & span.active {
              background-color: #fff;
            }
          }
          &[data-status="Cancellato"] {
            &.active {
              background-color: #c91d1d;
            }
            & span.active {
              background-color: #fff;
            }
          }
          &[data-status="Eseguibile"] {
            &.active {
              background-color: #00ac56;
            }
            & span.active {
              background-color: #fff;
            }
          }
          &[data-status="Completato"] {
            &.active {
              background-color: #00ac2b;
            }
            & span.active {
              background-color: #fff;
            }
          }
        }
      }
      .fa-building {
        &.active,
        &:hover {
          background-color: #3d6389;
          color: #fff;
        }
      }

      .fa-user {
        &.active,
        &:hover {
          background-color: #578a17;
          color: #fff;
        }
      }
    }
  }
}
