.subheader {
  .cart {
    cursor: pointer;
    text-transform: uppercase;
    i {
      color: var(--accent-bg);
      font-size: 14px;
    }
    &__nr {
      color: var(--accent-bg);
      font-weight: 500;
      font-size: 16px;
      padding: 0 2px;
    }
    > span:first-child {
      padding-right: 15px;
    }
  }
  .categOpened {
    position: absolute;
    top: 60px;
    background-color: var(--header-bg);
    width: 100%;

    .maxWidth {
      margin-top: 10px;
      margin-bottom: 10px;
      justify-content: normal;
      background-color: #fff;
      .categories {
        width: auto;
        padding: 15px 15px 15px 15px;
        display: block;
        border-right: 3px solid var(--header-bg);
        width: 25%;
        &__category {
          border-left: 0;
          display: block;
          font-size: 16px;
          text-transform: uppercase;
          padding: 5px 0;
          margin: 5px 0;

          > div {
            max-width: 100%;
          }
          &:hover {
            color: var(--accent-bg);
          }
          > div {
            padding-left: 25px;
            &:after {
              color: var(--accent-bg);
            }
          }
        }
      }
      .subCatgegories {
        width: 50%;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        border-left: 3px solid var(--header-bg);
        margin-left: -3px;
        .subCategory {
          &__item {
            padding: 2px 15px;
            i {
              opacity: 0.3;
              padding-right: 5px;
              font-size: 11px;
            }
          }
        }
        img {
          height: 80%;
          width: auto;
          position: absolute;
          right: 0;
        }
      }
      .brands {
        width: 25%;
      }
    }
  }
}
