.subheader {
  background: var(--accent-bg);
  &.blur {
    &:after {
      content: "";
      display: block;
      position: fixed;
      z-index: 1;
      top: 160px;
      left: 0;
      background: rgba(0, 0, 0, 0.45);
      width: 100%;
      height: 100%;
      -webkit-animation: show 0.6s ease-in-out 0.1s both;
      animation: show 0.6s ease-in-out 0.1s both;
    }
    .categories {
      &__category {
        &.hovered {
          color: var(--accent-bg);
        }
      }
    }
  }
  .cart {
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    i {
      font-size: 22px;
      &.red {
        // color: red;
      }
    }
    > span {
      position: relative;
    }
    &__nr {
      font-weight: 900;
      font-size: 15px;
      position: absolute;
      width: 90%;
      height: 85%;
      right: 1px;
      text-align: center;
      bottom: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: red;
      color: #fff;

      border-radius: 50%;
      width: 19px;
      height: 19px;
      right: -8px;
      bottom: -7px;
      font-size: 13px;
      &.red {
        background: red;
        color: #fff;
      }
    }

    > span:first-child {
      padding-right: 15px;
    }
  }
  .categOpened {
    position: absolute;
    top: 40px;
    background-color: #585858;
    // background-color: var(--header-bg);
    width: 100%;
    z-index: 2;

    .maxWidth {
      margin-top: 10px;
      margin-bottom: 10px;
      justify-content: normal;
      background-color: #fff;
      align-items: normal;
      .categories {
        width: auto;
        padding: 15px 15px 15px 15px;
        display: block;
        border-right: 3px solid var(--header-bg);
        width: 25%;

        &__category {
          border-left: 0;
          display: block;
          font-size: 16px;
          text-transform: uppercase;
          padding: 8px 0;
          margin: 5px 0;

          > div {
            max-width: 100%;
            &:after {
              top: 10px;
            }
          }
          &:hover {
            color: var(--accent-bg);
          }
          > div {
            padding-left: 25px;
            &:after {
              color: var(--accent-bg);
            }
          }
        }
      }
      .subCatgegories {
        width: 50%;
        display: flex;
        justify-content: space-between;
        position: relative;
        border-left: 3px solid var(--header-bg);
        margin-left: -3px;
        flex: 1 1;
        .subCategory {
          z-index: 1;
          padding: 15px;
          &__item {
            padding: 4px 0;
            cursor: pointer;
            &:hover {
              color: var(--accent-bg);
            }
            i {
              opacity: 0.3;
              padding-right: 5px;
              font-size: 11px;
            }
          }
        }
        img {
          z-index: 0;
          height: 100%;
          width: auto;
          position: absolute;
          right: 0;
        }
      }
      .brands {
        width: 25%;
        max-width: 230px;
        background-color: #f2f2f2;
        max-height: 475px;
        padding: 0px 15px;
        padding-bottom: 15px;
        &__body {
          max-height: 410px;
          overflow-y: auto;
          overflow-x: hidden;
        }
        .slick-slider {
          width: calc(100% - 60px);
          text-align: center;
          left: 30px;
          .slick-prev:before,
          .slick-next:before {
            color: var(--accent-bg);
            .slick-slide img {
              text-align: center;
              display: inline-block;
            }
          }
        }
        &__title {
          padding: 10px 0px 10px 30px;
          text-transform: uppercase;
        }
        &__item {
          background-color: #fff;
          padding: 3px 0px;
          height: 50px;
          margin: 2px;
          width: calc(50% - 4px) !important;
          float: left;
          text-align: center;
          opacity: 0.6;
          border: 1px solid;
          line-height: normal;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          img {
            &.hidden {
              display: none;
            }
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
