.subheader {
  .cart {
    cursor: pointer;
    text-transform: uppercase;
    i {
      color: var(--accent-bg);
      font-size: 14px;
    }
    &__nr {
      color: var(--accent-bg);
      font-weight: 500;
      font-size: 16px;
      padding: 0 2px;
    }
    > span:first-child {
      padding-right: 15px;
    }
  }
  .categOpened {
    position: absolute;
    top: 60px;
    background-color: var(--header-bg);
    width: 100%;
    .maxWidth {
      background-color: #fff;
      margin-top: 10px;
      margin-bottom: 10px;

      .categories {
        width: auto;
        padding: 15px 15px 15px 15px;
        display: block;
        border-right: 3px solid var(--header-bg);

        &__category {
          border-left: 0;
          display: block;
          font-size: 16px;
          text-transform: uppercase;
          padding: 5px 0;
          margin: 5px 0;

          > div {
            max-width: 100%;
          }
          &:hover {
            color: var(--accent-bg);
          }
          > div {
            padding-left: 25px;
            &:after {
              color: var(--accent-bg);
            }
          }
        }
      }
      .subCatgegories {
        width: 50%;
      }
    }
  }
}
