@media (max-width: 1453px) {
}
@media (max-width: 1150px) {
}
@media (max-width: 1197px) {
}
@media (max-width: 984px) {
  ._modulePopUP__table2 {
    position: fixed;
    bottom: 0px;
    left: 0;
  }
  ._modulePopUP__body div:nth-child(2) {
    order: -1;
  }
  .modulePopUP3 ._modulePopUP__body div:nth-child(2) {
    order: 0;
  }
  .bacnoPosta {
    float: none;
    margin: 0 auto;
    display: block;
  }
  ._modulePopUP__table2 td:nth-child(1) {
    border-left: 1px solid $second;
  }
  .modulePopUP {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
  }
  .max-width_modulePopUP {
    padding-top: 0 !important;
    height: 100vh;
    overflow: scroll;
  }
  .euroboll span {
    font-size: 14px;
    text-transform: lowercase;
  }
}
@media (max-width: 768px) {
  .rightCol_Module {
    height: 100%;
    display: none;
    position: absolute;
    background: #fff;
    z-index: 10;
    width: 100% !important;
    padding-top: 0 !important;
  }
}
@media (max-width: 425px) {
  .azioni .icon {
    right: -48px;
    top: -22px;
  }
  .azioni-tab:hover .icon,
  .azioni-tab.active-tab .icon {
    right: -50px;
  }
  .azioni-tab {
    background-position-x: 88px;
    h2 {
      font-size: 16px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
