.infoUser.generalInfo.row {
  max-width: 1154px;
  margin: 0 auto;
  border-top: 3px solid #00e2b6;
  background: #fff;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.infoUser.generalInfo.row .anticon-eye-invisible,
.infoUser.generalInfo.row .anticon-eye,
.infoUser.generalInfo.row .ant-calendar-picker-icon {
  color: #9c9ea2;
}

.infoUser.generalInfo.row .hr {
  position: absolute;
  height: 1px;
  background: #484d53;
  width: 100%;
  top: 75px;
  left: 0;
}

.infoUser.generalInfo.row .col1Form {
  border-right: 1px solid #8ca0b3;
}

.infoUser.generalInfo.row .col2Form {
  padding-bottom: 20px;
}

.infoUser.generalInfo.row .rowUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infoUser.generalInfo.row .rowUp .firstcol,
.infoUser.generalInfo.row .rowUp .secondcol {
  width: 50%;
  padding: 10px 30px;
  border-bottom: 1px solid #8ca0b3;
}

.infoUser.generalInfo.row .rowUp .firstcol {
  border-right: 1px solid #8ca0b3;
}

.infoUser.generalInfo.row .rowdown {
  padding: 30px;
}

.infoUser.generalInfo.row .rowdown .checkboxes li {
  color: #212529;
}

.infoUser.generalInfo.row .firstcol,
.infoUser.generalInfo.row .secondcol,
.infoUser.generalInfo.row .thirdcol {
  padding: 10px 30px;
  padding-bottom: 50px;
}

.infoUser.generalInfo.row .thirdRegMob .firstcol {
  padding-bottom: 0;
}

.infoUser.generalInfo.row .titleReg {
  color: #212529;
  text-transform: uppercase;
  text-align: left;
  font-size: 18px;
  white-space: nowrap;
  padding-bottom: 50px;
  padding-top: 20px;
}

.infoUser.generalInfo.row .ant-col-sm-16 {
  width: 100%;
}

.infoUser.generalInfo.row .ant-form-item {
  margin: 0;
  margin-bottom: 3px;
}

.infoUser.generalInfo.row .ant-calendar-picker {
  width: 100%;
}

.infoUser.generalInfo.row .ant-input-group-addon {
  border: 0;
  background-color: none;
  padding: 0;
  border-right: 2px solid #8ca0b3;
}

.infoUser.generalInfo.row .Select-clear {
  display: none;
}

.infoUser.generalInfo.row .Select.has-value.Select--single
> .Select-control
.Select-value
.Select-value-label,
.infoUser.generalInfo.row .Select.has-value.is-pseudo-focused.Select--single
> .Select-control
.Select-value
.Select-value-label,
.infoUser.generalInfo.row .ant-checkbox-wrapper {
  color: #2d3137;
}

.infoUser.generalInfo.row .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00e2b6;
  border-color: #8ca0b3;
}

.infoUser.generalInfo.row .firstcol #infoUser_sesso {
  display: block;
}

.infoUser.generalInfo.row input#infoUser_province {
  display: block;
  margin-top: 0px;
  margin-bottom: 3px;
}

.infoUser.generalInfo.row .ant-form-item-control {
  line-height: 30px;
}

.infoUser.generalInfo.row select[name="rcrs-country"] {
  margin-top: 2px;
}

.infoUser.generalInfo.row .ant-select-selection__placeholder,
.infoUser.generalInfo.row .Select-placeholder {
  text-transform: uppercase;
  color: #212529;
}

.infoUser.generalInfo.row input,
.infoUser.generalInfo.row .ant-select-selection,
.infoUser.generalInfo.row select {
  background: #edeef0;
  border: 0;
  border-radius: 0;
  color: #212529;
  width: 100%;
  height: 35px;
}

.infoUser.generalInfo.row input .anticon,
.infoUser.generalInfo.row .ant-select-selection .anticon,
.infoUser.generalInfo.row select .anticon {
  color: #212529;
}

.infoUser.generalInfo.row input::-webkit-input-placeholder,
.infoUser.generalInfo.row .ant-select-selection::-webkit-input-placeholder,
.infoUser.generalInfo.row select::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #212529;
}

.infoUser.generalInfo.row input:-ms-input-placeholder,
.infoUser.generalInfo.row .ant-select-selection:-ms-input-placeholder,
.infoUser.generalInfo.row select:-ms-input-placeholder {
  text-transform: uppercase;
  color: #212529;
}

.infoUser.generalInfo.row input::-ms-input-placeholder,
.infoUser.generalInfo.row .ant-select-selection::-ms-input-placeholder,
.infoUser.generalInfo.row select::-ms-input-placeholder {
  text-transform: uppercase;
  color: #212529;
}

.infoUser.generalInfo.row input::placeholder,
.infoUser.generalInfo.row .ant-select-selection::placeholder,
.infoUser.generalInfo.row select::placeholder {
  text-transform: uppercase;
  color: #212529;
}

.infoUser.generalInfo.row input:-webkit-autofill,
.infoUser.generalInfo.row input:-webkit-autofill:hover,
.infoUser.generalInfo.row input:-webkit-autofill:focus,
.infoUser.generalInfo.row input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #5f656d inset !important;
  color: #212529;
}

.infoUser.generalInfo.row .sendBTN button {
  background: #2d3137;
  border: 0;
  border-radius: 0;
  width: 100%;
  height: 60px;
  color: #00e2b6;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 4px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.infoUser.generalInfo.row .sendBTN button:hover {
  background: #00e2b6;
  color: #2d3137;
}

.infoUser.generalInfo.row .closeTHIS {
  background: #383d45;
  border: 2px solid #8ca0b3;
  border-radius: 20px;
  padding: 0px 4px;
  position: absolute;
  right: -6px;
  top: -10px;
  font-size: 10px;
  color: #212529;
  cursor: pointer;
  z-index: 1;
}

.infoUser.generalInfo.row.hideregister {
  -webkit-animation: zoomOutUp 1s ease-in-out;
          animation: zoomOutUp 1s ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.infoUser.generalInfo.row .Select-control {
  background-color: #edeef0;
  border: 0;
  border-radius: 0;
  line-height: 0;
}

.backTORegister {
  background-color: #383d45;
  max-width: 1154px;
  border-top: 3px solid #00e2b6;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px;
  -webkit-animation: zoomInUp 0.4s ease-in-out;
          animation: zoomInUp 0.4s ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.backTORegister button,
.backTORegister a {
  background: #2d3137;
  border: 0;
  color: #00e2b6;
  padding: 10px 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 1px solid transparent;
  width: 200px;
  text-align: center;
  margin-top: 40px;
}

.backTORegister button i,
.backTORegister a i {
  margin-left: 10px;
  position: relative;
  top: 1px;
}

.backTORegister button:hover,
.backTORegister a:hover {
  border: 1px solid #00e2b6;
  color: #00e2b6;
  background-color: #24272c;
}

.backTORegister.hideregister {
  -webkit-animation: zoomInUp 1s ease-in-out;
          animation: zoomInUp 1s ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.steps-content {
  position: relative;
  margin-top: 100px;
}

.steps-content .firstRegMob,
.steps-content .secondRegMob,
.steps-content .thirdRegMob {
  width: 100%;
}

.steps-content .firstRegMob .secondcol,
.steps-content .secondRegMob .secondcol,
.steps-content .thirdRegMob .secondcol {
  padding: 10px 30px;
}

.steps-content .counter {
  position: absolute;
  color: #00e2b6;
  font-size: 16px;
  right: 33px;
  top: 30px;
}

.steps-content .steps-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.steps-content .steps-action .ant-btn {
  background: #2d3137;
  border: 0;
  border-radius: 0;
  width: 100%;
  height: 60px;
  color: #00e2b6;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 4px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.steps-content .steps-action .ant-btn:first-child {
  border-right: 1px solid #8ca0b3;
}

.steps-content .steps-action .ant-btn:hover {
  background: #00e2b6;
  color: #2d3137;
}

.backLayer,
.backLayer2x {
  position: absolute;
  background-color: #2c323d85;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  transition: 0.3s;
}

.backLayer2x {
  top: -19px;
  width: 79%;
  left: 53%;
  margin-left: -43%;
  -webkit-animation: slideInDown 0.8s ease-out;
          animation: slideInDown 0.8s ease-out;
}

.backLayer {
  top: -10px;
  width: 85%;
  left: 50%;
  margin-left: -43%;
  -webkit-animation: slideInDown 0.7s ease-out;
          animation: slideInDown 0.7s ease-out;
}

.firstanim {
  -webkit-animation: zoomInDown 0.6s ease !important;
          animation: zoomInDown 0.6s ease !important;
}

.secondanim {
  -webkit-animation: zoomInUp 0.61s ease !important;
          animation: zoomInUp 0.61s ease !important;
}

.thirdanim {
  -webkit-animation: zoomInDown 0.62s ease !important;
          animation: zoomInDown 0.62s ease !important;
}

@media (max-width: 500px) {
  .infoUser.generalInfo.row,
  .backTORegister {
    border-top: 0 !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  .infoUser.generalInfo.row .rowUp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .infoUser.generalInfo.row .rowUp .firstcol,
  .infoUser.generalInfo.row .rowUp .secondcol {
    width: 100%;
  }
  .infoUser.generalInfo.row .firstcol {
    width: 100%;
  }
}
/*# sourceMappingURL=register.css.map */