//
.infoUser.generalInfo.row {
  max-width: 1154px;
  margin: 0 auto;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 100px;
  position: relative;
  .inpLabel {
    text-transform: capitalize;
  }
  .anticon-eye-invisible,
  .anticon-eye,
  .ant-calendar-picker-icon {
    color: #9c9ea2;
  }

  .ant-row.ant-form-item {
    width: 100%;
  }
  .confirmedMessage {
    color: green;
  }
  .error {
    padding: 10px 5px;
    text-transform: uppercase;
    border: 1px solid #c6cdda;
    color: #ff3400;
    position: relative;
    font-size: 11px;
  }
  .closeAlert {
    position: absolute;
    background: #ff3400;
    padding: 0 5px;
    border-radius: 60px;
    font-size: 10px;
    right: -8px;
    top: -8px;
    cursor: pointer;
    color: #fff;
  }
  .ant-form-explain {
    color: #ff3400;
    line-height: normal;
    font-size: 12px;
    font-weight: 500;
    padding-left: 10px;
  }

  .hr {
    position: absolute;
    height: 1px;
    background: #dfe4ef;
    width: 100%;
    top: 75px;
    left: 0;
  }
  .col1Form {
    border-right: 1px solid #dfe4ef;
  }
  .col2Form {
    padding-bottom: 20px;
  }
  .rowUp {
    display: flex;
    .firstcol,
    .secondcol {
      width: 50%;
      padding: 10px 30px;
      border-bottom: 1px solid #dfe4ef;
    }
    .firstcol {
      border-right: 1px solid #dfe4ef;
    }
  }
  .rowdown {
    padding: 30px;
    .checkboxes {
      li {
        color: #212529;
      }
    }
  }
  .firstcol,
  .secondcol,
  .thirdcol {
    padding: 10px 30px;
    padding-bottom: 50px;
  }
  .thirdRegMob {
    .firstcol {
      padding-bottom: 0;
    }
  }
  .ant-form-item + .titleReg {
    padding-bottom: 10px;
  }
  .titleReg {
    color: #ed4c14;
    text-transform: uppercase;
    text-align: left;
    font-size: 17px;
    white-space: nowrap;
    padding-bottom: 50px;
    padding-top: 20px;
    font-weight: 500;
  }
  .rowUp .ant-col-sm-16,
  .firstcol .ant-col-sm-16 {
    width: 100%;
    border: 1px solid #dfe4ef;
  }
  .ant-form-item {
    margin: 0;
    margin-bottom: 3px;
  }
  .ant-calendar-picker {
    width: 100%;
  }
  .ant-input-group-addon {
    border: 0;
    background-color: none;
    padding: 0;
    border-right: 2px solid #dfe4ef;
  }
  .ant-select-selection.ant-select-selection--single {
    // margin-bottom: 3px;
  }
  .Select-clear {
    display: none;
  }
  .Select.has-value.Select--single
    > .Select-control
    .Select-value
    .Select-value-label,
  .Select.has-value.is-pseudo-focused.Select--single
    > .Select-control
    .Select-value
    .Select-value-label,
  .ant-checkbox-wrapper {
    color: #2d3137;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #ed4c14;
    border-color: #dfe4ef;
  }
  .firstcol #infoUser_sesso {
    // margin-top: 2px;
    display: block;
  }
  input#infoUser_province {
    display: block;
    margin-top: 0px;
    margin-bottom: 3px;
  }
  .ant-form-item-control {
    line-height: 30px;
  }
  select[name="rcrs-country"] {
    margin-top: 2px;
  }
  .ant-select-selection__placeholder,
  .Select-placeholder {
    text-transform: uppercase;
    color: #212529;
  }
  input,
  .ant-select-selection,
  select {
    background: #fff;
    border: 0;
    border-radius: 0;
    color: #212529;
    width: 100%;
    height: 29px;
    .anticon {
      color: #212529;
    }
    &::placeholder {
      text-transform: uppercase;
      color: #212529;
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #5f656d inset !important;
    color: #212529;
  }
  .sendBTN {
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 0;
    left: 5%;
  }
  .sendBTN button {
    background: transparent;
    border: 1px solid #ed4c14;
    border-radius: 0;
    width: 100%;
    height: 60px;
    color: #ed4c14;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 4px;
    transition: 0.3s ease-in-out;
    &:hover {
      background: #ed4c14;
      color: #fff;
    }
  }
  .closeTHIS {
    background: #383d45;
    border: 2px solid #dfe4ef;
    border-radius: 20px;
    padding: 0px 4px;
    position: absolute;
    right: -6px;
    top: -10px;
    font-size: 10px;
    color: #212529;
    cursor: pointer;
    z-index: 1;
  }
  &.hideregister {
    animation: zoomOutUp 1s ease-in-out;
    animation-iteration-count: 1;
  }
  .Select-control {
    border: 1px solid #dfe4ef;
    border: 0;
    border-radius: 0;
    // margin-bottom: 3px;
    // margin-top: 2px;
    // height: 35px;
    line-height: 0;
  }
}
.backTORegister {
  background-color: #383d45;
  max-width: 1154px;
  border-top: 3px solid #ed4c14;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  animation: zoomInUp 0.4s ease-in-out;
  animation-iteration-count: 1;
  display: none;
  flex-direction: column;

  button,
  a {
    background: #2d3137;
    border: 0;
    color: #ed4c14;
    padding: 10px 30px;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent;
    width: 200px;
    text-align: center;
    margin-top: 40px;
    i {
      margin-left: 10px;
      position: relative;
      top: 1px;
    }
    &:hover {
      border: 1px solid #ed4c14;
      color: #ed4c14;
      background-color: #24272c;
    }
  }
  &.hideregister {
    animation: zoomInUp 1s ease-in-out;
    animation-iteration-count: 1;
  }
}
.steps-content {
  position: relative;
  margin-top: 100px;
  .firstRegMob,
  .secondRegMob,
  .thirdRegMob {
    width: 100%;
    .secondcol {
      padding: 10px 30px;
    }
  }
  .counter {
    position: absolute;
    color: #ed4c14;
    font-size: 16px;
    right: 33px;
    top: 30px;
  }
  .steps-action {
    display: flex;
    align-items: center;
    width: 100%;
    .ant-btn {
      background: #2d3137;
      border: 0;
      border-radius: 0;
      width: 100%;
      height: 60px;
      color: #ed4c14;
      text-transform: uppercase;
      font-size: 20px;
      margin-top: 4px;
      transition: 0.3s ease-in-out;
      flex-grow: 1;
      overflow: hidden;
      &:first-child {
        border-right: 1px solid #dfe4ef;
      }
      &:hover {
        background: #ed4c14;
        color: #2d3137;
      }
    }
  }
}

.backLayer,
.backLayer2x {
  position: absolute;
  background-color: #2c323d85;
  height: 100%;
  transition: 0.3s;
  opacity: 1;
  transition: 0.3s;
}
.backLayer2x {
  top: -19px;
  width: 79%;
  left: 53%;
  margin-left: -43%;
  animation: slideInDown 0.8s ease-out;
}
.backLayer {
  top: -10px;
  width: 85%;
  left: 50%;
  margin-left: -43%;
  animation: slideInDown 0.7s ease-out;
}
.firstanim {
  animation: zoomInDown 0.6s ease !important;
}
.secondanim {
  animation: zoomInUp 0.61s ease !important;
}
.thirdanim {
  animation: zoomInDown 0.62s ease !important;
}
@media (max-width: 500px) {
  .infoUser.generalInfo.row,
  .backTORegister {
    border-top: 0 !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  .infoUser.generalInfo.row .rowUp {
    flex-direction: column;
    width: 100%;
  }

  .infoUser.generalInfo.row .rowUp .firstcol,
  .infoUser.generalInfo.row .rowUp .secondcol {
    width: 100%;
  }
  .infoUser.generalInfo.row .firstcol {
    width: 100%;
  }
}

.Select-control {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select--single > .Select-control .Select-value,
.Select-placeholder {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.stepForm {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #fff;
  padding: 20px;
  min-height: 500px;
  position: relative;
  .step {
    display: none;
    &.isActive {
      display: block;
    }
  }
  .ant-input-group-addon {
    border: 0;
    padding: 0;
  }
  .ant-select-selection,
  .Select-control {
    border: 1px solid #d9d9d9;
    border-radius: 0;
  }
  .Select-input input {
    border: 0;
  }
  #infoUser_number_prefix {
    border-right: 0;
  }
  .ant-form-item-control input {
    border-radius: 0;
    &:hover {
      border-color: #f26521;
    }
  }
  .ant-select-selection--single,
  .ant-calendar-picker {
    width: 100%;
  }
  .inpLabel {
    text-transform: capitalize;
  }
  .stepBtn {
    text-align: center;
    background-color: #f26521;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    flex-grow: 1;
    margin-top: 20px;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 60px;
  }
  .ant-row {
    margin: 0;
  }
  .titleReg {
    color: #ed4c14;
    text-align: center;
    font-size: 20px;
  }
}
.messagePopUp {
  position: fixed;
  width: 100%;
  max-width: 300px;
  background: #e0e0e0;
  height: 300px;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  text-align: center;
  .fa-exclamation {
    color: rgb(230, 57, 57);
  }
  .fa-user-check {
    color: rgb(57, 230, 95);
  }
  .heading {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
  }
  i.fa.fa-times-circle {
    position: absolute;
    right: -10px;
    top: -11px;
    opacity: 1;
    color: red;
    cursor: pointer;
    font-weight: 300;
    background: #ccc;
    border-radius: 20px;
  }
}

.newReg {
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  &--header {
    background-color: #f26521;
    color: #212529;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    letter-spacing: 5px;
  }
  &--row {
    display: flex;
    flex-flow: row;
    @media (max-width: 1024px) {
      flex-flow: column;
    }
    &__col {
      width: calc(100% / 3);
      @media (max-width: 1024px) {
        width: calc(100%);
      }
      border-right: 1px solid #b8bbc0;
      padding: 20px 5px;
      display: flex;
      flex-flow: row wrap;

      &:last-child {
        border-right: 0;
      }
      .itemCol {
        padding: 5px;
        &.full {
          width: 100%;
        }
        &.semi {
          width: 50%;
        }
      }
      &.submitcol {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
      }
    }
  }
  .ant-select-selection--single,
  .ant-calendar-picker {
    width: 100%;
  }
  .inputLabel {
    color: #5c5c5c;
    > span {
      color: var(--red);
      position: relative;
      cursor: pointer;
    }
  }
  .SubmitButton {
    background-color: #f26521;
    color: #25282e;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    height: 40px;
  }
  .ant-row {
    margin: 0;
    padding: 0;
  }
  .ant-checkbox-wrapper {
    white-space: pre-wrap;
    font-size: 12px;
    padding-left: 14px;
  }
  .ant-input,
  .ant-select-selection,
  .Select-control {
    border: 0;
    border-radius: 0;
    background-color: #dce1e6;
    border: 1px solid #dce1e6;
    color: #5c5c5c;
    height: 35px;
  }
  .piva .ant-form-item-children {
    display: flex;
    background: #dce1e6;
    justify-content: space-between;
    align-items: center;
    .fa-file-check {
      color: #14a137;
      position: relative;
      right: 5px;
    }
    .fa-link {
      color: #166ca5;
      position: relative;
      right: 7px;
      cursor: pointer;
    }
  }

  .Select-clear-zone {
    display: none;
  }
  .ant-input-group-addon {
    padding: 0 !important;
    border-radius: 0;
  }
  div#infoUser_pivaVerifica {
    width: 80%;
  }
  input#infoUser_number_prefix {
    height: 33px;
    border-radius: 0;
  }
  .Select-input,
  .Select-control {
    height: 35px;
  }
  .ant-form-item-control {
    line-height: unset;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #f26521;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #f26521;
    border-color: #f26521;
  }
  .helper {
    position: absolute;
    right: 0;
    z-index: 1;
    white-space: nowrap;
    top: 0;
    transform: translate(101%, -19px);
    background: #ccc;
    color: #222;
    padding: 2px 7px;
    border-radius: 6px;
  }
}
.Nmessage {
  background-color: #ce3232;
  color: #fff;
  text-align: center;
  padding: 7px;
  border-radius: 2px;
  text-transform: capitalize;
  &.S {
    background-color: #01cc67;
    color: #222;
  }
  i {
    margin-right: 3px;
  }
}
