.AdminRightForm {
  position: fixed;
  width: 400px;
  right: 0;
  bottom: 0;
  top: 71px;
  min-height: calc(100vh - 71px);
  background-color: #ffffff;
  overflow: auto;
  border: 1px solid #ebeced;
}

.AdminRightForm::-webkit-scrollbar-thumb {
  background: #0078ff;
}

.AdminRightForm .Tranzacioni {
  height: 62px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminRightForm .Tranzacioni div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  border: 1px solid #ebeced;
}

.AdminRightForm .Tranzacioni div span {
  font-weight: 300;
}

.AdminRightForm .Tranzacioni div span:first-child {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #5c5c5c;
}

.AdminRightForm .Tranzacioni div span:nth-child(2) {
  font-size: 16px;
  color: #0578fc;
  font-family: "Roboto", sans-serif;
}

.AdminRightForm .Graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 170px;
  padding: 0px 5px;
  padding-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f3f3f4;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.AdminRightForm .Graph--Element {
  background-color: #0377fc;
  opacity: 0.3;
  margin: 0px 1.2px;
  width: 6px;
}

.AdminRightForm .Graph--Element:hover {
  background-color: #0578fc;
  opacity: 1;
}

.AdminRightForm .Graph .Date {
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 5%;
  top: 1%;
}

.AdminRightForm .Graph .Date div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminRightForm .Graph .Date div:first-child span:first-child {
  font-family: "Roboto", sans-serif;
  font-size: 31px;
  font-weight: 100;
  color: #5c5c5c;
}

.AdminRightForm .Graph .Date div:first-child span:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 15%;
  top: 80%;
  font-weight: 500;
  color: #aaaaaa;
  font-size: 10px;
}

.AdminRightForm .Graph .Date div {
  padding: 1px 3px;
}

.AdminRightForm .Graph .Date div > i {
  font-size: 12px;
  padding-top: 12px;
}

.AdminRightForm .Close {
  position: fixed;
  right: 0;
  top: 71.5px;
  width: 40px;
  height: 30px;
  font-family: "Font Awesome 5 Pro";
  border: 1px solid #f3f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  cursor: pointer;
}

.AdminRightForm .Close i {
  font-family: "Font Awesome 5 Pro";
  color: #e30000;
  font-weight: 500;
  font-size: 18px;
}

.AdminRightForm .printModal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 98vh;
  height: 100%;
  padding: 0 15px;
  position: fixed;
  top: 71px;
  right: 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 99vh;
  border: 1px solid #ebeced;
  padding-right: 10px;
}

.AdminRightForm .printModal i {
  font-size: 14px;
  font-weight: 300;
  font-family: "Font Awesome 5 Pro";
  zoom: 1;
}

.AdminRightForm .printModal button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminRightForm .printModal .Buttons--Print {
  position: absolute;
  width: 100%;
  height: 52px;
  bottom: 63px;
  font-size: 14px;
  font-weight: bold;
  zoom: 1;
  border: none;
  width: 33.33%;
  left: 0;
  border-right: 1px solid #ebeced;
  border-top: 2px solid #00ac5c;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  zoom: 1;
}

.AdminRightForm .printModal .Buttons--Download {
  position: absolute;
  width: 100%;
  height: 52px;
  bottom: 63px;
  font-size: 14px;
  font-weight: bold;
  zoom: 1;
  border: none;
  width: 33.33%;
  left: 33.33%;
  border-right: 1px solid #ebeced;
  border-top: 2px solid #ffb100;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  zoom: 1;
}

.AdminRightForm .printModal .Buttons--Send {
  position: absolute;
  width: 100%;
  height: 52px;
  bottom: 63px;
  font-size: 14px;
  font-weight: bold;
  zoom: 1;
  border: none;
  width: 33.33%;
  left: 66.66%;
  border-right: 1px solid #ebeced;
  border-top: 2px solid #0078ff;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  zoom: 1;
}

.AdminRightForm .printModal .barcodeModal {
  margin: 5px auto;
}

.AdminRightForm .printModal div.ContainerOfData:nth-child(1) {
  zoom: 1;
  overflow: auto;
  width: 100%;
  padding: 0;
  padding-right: 20px;
  margin: 34px 0;
  height: calc(98vh - 145px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.AdminRightForm .printModal div.ContainerOfData:nth-child(1)::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.AdminRightForm .printModal div.ContainerOfData:nth-child(1)::-webkit-scrollbar-thumb {
  background: #0078ff;
}

.AdminRightForm .printModal div.ContainerOfData:nth-child(1) .headerModal {
  margin: 0;
  width: 100%;
  zoom: 0.85;
}

.AdminRightForm .printModal div.ContainerOfData:nth-child(1) :nth-child(2) {
  zoom: 0.85;
  height: auto;
  width: 100%;
}

.AdminRightForm .printModal div.ContainerOfData:nth-child(1) :nth-child(3) {
  height: auto;
}

.AdminRightForm .AdminRightForm--Box--LeUltime--Dropdown {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminRightForm .AdminRightForm--Box--LeUltime--Dropdown--Row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ebeced;
  padding: 0 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminRightForm .AdminRightForm--Box--LeUltime--Dropdown--Row--Data {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.AdminRightForm .AdminRightForm--Box--LeUltime--Dropdown--Row--Data.Date {
  color: #727272;
  font-weight: 400;
}

.AdminRightForm .AdminRightForm--Box--LeUltime--Dropdown--Row--Data.Id {
  color: #4b4b4b;
  font-weight: 500;
}

.AdminRightForm .AdminRightForm--Box--LeUltime--Dropdown--Row--Data.User {
  color: #727272;
  font-weight: 400;
}

.AdminRightForm .AdminRightForm--Box--LeUltime--Dropdown--Row--Data.Price {
  color: #0078ff;
  font-weight: 500;
}

.AdminRightForm--Box {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  padding: 15px 0;
  padding-right: 5%;
  padding-left: 7%;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ebeced;
  color: #5c5c5c;
}

.AdminRightForm--Box > i {
  cursor: pointer;
  width: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminRightForm--Box--Statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminRightForm--Box--Statistic > i {
  width: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 9%;
  font-size: 16px;
  font-weight: 300;
}

.AdminRightForm--Box--HeartRate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminRightForm--Box--HeartRate > i {
  width: 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 15px;
  font-size: 16px;
  font-weight: 300;
}

.AdminRightForm--Box--Wallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminRightForm--Box--Wallet--Dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.AdminRightForm--Box--Wallet--Dropdown div.InputHolder {
  border: 1px solid #ebeced;
  margin: 11px 27px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  position: relative;
  font-size: 13px;
  border-radius: 6px;
}

.AdminRightForm--Box--Wallet--Dropdown div.InputHolder:nth-child(2) {
  margin-top: 28px;
  padding: 0;
}

.AdminRightForm--Box--Wallet--Dropdown div.InputHolder input {
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
}

.AdminRightForm--Box--Wallet--Dropdown div.InputHolder > i {
  position: absolute;
  top: 0;
  left: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14%;
  font-size: 14px;
}

.AdminRightForm--Box--Wallet--Dropdown div.InputHolder > i.fa-check {
  color: #00ac5c;
  border-left: 1px solid #ebeced;
  font-size: 15px;
}

.AdminRightForm--Box--Wallet--Dropdown div.InputHolder span {
  width: 14%;
  position: absolute;
  top: 0;
  left: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.AdminRightForm--Box--Wallet--Dropdown--Submit {
  margin: 11px 27px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  border: none;
  background: #0078ff;
  color: #ffffff;
}

.AdminRightForm--Box--Wallet--Dropdown--ChoseButtons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminRightForm--Box--Wallet--Dropdown--ChoseButtons button {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  border: none;
  background-color: #ffffff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  border: 1px solid #ebeced;
  font-weight: bold;
}

.AdminRightForm--Box--Wallet--Dropdown--ChoseButtons button:nth-child(1) {
  border-bottom: 2px solid #00ac5c;
  position: relative;
}

.AdminRightForm--Box--Wallet--Dropdown--ChoseButtons button:nth-child(1) svg {
  display: none;
}

.AdminRightForm--Box--Wallet--Dropdown--ChoseButtons button:nth-child(1).active {
  color: #00ac5c;
}

.AdminRightForm--Box--Wallet--Dropdown--ChoseButtons button:nth-child(1).active svg {
  display: block;
  position: absolute;
  left: 48%;
  bottom: 0px;
  width: 11px;
  height: 7px;
  fill: #00ac5c;
}

.AdminRightForm--Box--Wallet--Dropdown--ChoseButtons button:nth-child(2) {
  border-bottom: 2px solid #ffb100;
  position: relative;
}

.AdminRightForm--Box--Wallet--Dropdown--ChoseButtons button:nth-child(2) svg {
  display: none;
}

.AdminRightForm--Box--Wallet--Dropdown--ChoseButtons button:nth-child(2).active {
  color: #ffb100;
}

.AdminRightForm--Box--Wallet--Dropdown--ChoseButtons button:nth-child(2).active svg {
  display: block;
  position: absolute;
  left: 48%;
  bottom: 0px;
  width: 11px;
  height: 7px;
  fill: #ffb100;
}

.AdminRightForm--Box--Wallet > i {
  padding-right: 15px;
  font-size: 16px;
  font-weight: 300;
}
/*# sourceMappingURL=adminRightForm.css.map */