.AdminHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 71px;
  top: 30px;
  position: fixed;
  background-color: #ffffff;
  border-bottom: 2.5px solid #0078ff;
  z-index: 2;
}

.AdminHeader--Box {
  width: 39.333%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

@media (max-width: 550px) {
  .AdminHeader--Box {
    height: 60px;
  }
}

.AdminHeader--Title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.AdminHeader--Title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 86%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminHeader--Title span {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminHeader--Title span .fal.fa-bars {
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  border-right: 1px solid #ebeced;
  color: #353d45;
}

.AdminHeader--Title span:nth-child(1) {
  color: #0078ff;
  font-weight: 900;
  font-size: 18px;
  font-style: italic;
}

.AdminHeader--Title span:nth-child(2) {
  color: #272c314d;
  font-weight: 400;
  font-size: 19px;
  text-transform: uppercase;
  font-style: italic;
}

.AdminHeader--Category {
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #ebeced;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

@media (max-width: 550px) {
  .AdminHeader--Category {
    height: 60px;
  }
}

.AdminHeader--Category.active {
  color: #0078ff;
}

.AdminHeader--Category:nth-child(1) {
  border-left: 1px solid #ebeced;
}

.AdminHeader--Category:nth-last-child() {
  border-right: none;
}

.AdminHeader--Category div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminHeader--Category div > i {
  width: 23px;
  padding-right: 7px;
}

.AdminHeader--Category--Prenotazioni {
  cursor: pointer;
  color: #0078ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.AdminHeader--Category--Prenotazioni.active {
  color: #0078ff;
}

.AdminHeader--Category--Prenotazioni div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminHeader--Category--Prenotazioni div > i {
  width: 23px;
  padding-right: 7px;
}

.AdminHeader--ButtonWrapper {
  height: 100%;
  width: 15%;
}

.AdminHeader--ButtonWrapper button {
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #0078ff;
  color: #ffffff;
  font-weight: bold;
  font-family: Lato;
  font-size: 14px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .AdminHeader--Box {
    width: 48%;
  }
}

@media (max-width: 1300px) {
  .AdminHeader--Box {
    width: 60%;
  }
}

@media (max-width: 1050px) {
  .AdminHeader {
    font-size: 14px;
  }
  .AdminHeader--Box {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .AdminHeader--Box {
    width: 75%;
  }
}

@media (max-width: 800px) {
  .AdminHeader--Title {
    font-size: 14px;
  }
  .AdminHeader--Category, .AdminHeader--Category--Prenotazioni {
    font-size: 12px;
  }
  .AdminHeader--Category div, .AdminHeader--Category--Prenotazioni div {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .AdminHeader--Category div > i, .AdminHeader--Category--Prenotazioni div > i {
    padding-bottom: 10px;
  }
  .AdminHeader--ButtonWrapper {
    font-size: 12px;
    padding: 0;
  }
  .AdminHeader--ButtonWrapper button {
    padding: 0;
  }
}

@media (max-width: 550px) {
  .Admin-Panel .backDrop {
    bottom: 60px;
    top: 101px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 161px);
  }
  .Admin-Panel .AdminHeader .AdminHeader--Box {
    display: none;
  }
  .Admin-Panel .AdminHeader .AdminHeader--Title {
    width: 100%;
  }
  .Admin-Panel .AdminHeader .AdminHeader--Title span:nth-child(2) {
    margin-left: 5px;
  }
  .Admin-Panel .AdminLeftForm {
    height: calc(100% - 60px);
  }
  .Admin-Panel .AdminListaUtentiRow,
  .Admin-Panel .AdminServizi {
    margin-bottom: 120px !important;
  }
  .Admin-Panel .AdminHeader ~ .AdminHeader {
    bottom: 0;
    top: auto;
    height: 60px;
    z-index: 13 !important;
  }
  .Admin-Panel .AdminHeader ~ .AdminHeader .AdminHeader--Category,
  .Admin-Panel .AdminHeader ~ .AdminHeader .AdminHeader--Category--Prenotazioni {
    color: #fff;
    border: none;
    border-left: 1px solid #0360cc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .Admin-Panel .AdminHeader ~ .AdminHeader .AdminHeader--Category div,
  .Admin-Panel .AdminHeader ~ .AdminHeader .AdminHeader--Category--Prenotazioni div {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .Admin-Panel .AdminHeader ~ .AdminHeader .AdminHeader--Category div i,
  .Admin-Panel .AdminHeader ~ .AdminHeader .AdminHeader--Category--Prenotazioni div i {
    font-weight: 300 !important;
    font-size: 20px !important;
    margin: 0;
    padding: 0;
  }
  .Admin-Panel .AdminHeader ~ .AdminHeader .AdminHeader--Category.active,
  .Admin-Panel .AdminHeader ~ .AdminHeader .AdminHeader--Category--Prenotazioni.active {
    background: #0360cc;
    color: #fff;
  }
  .Admin-Panel .AdminHeader ~ .AdminHeader .AdminHeader--Box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #0078ff;
  }
  .Admin-Panel .AdminHeader ~ .AdminHeader .AdminHeader--Box span {
    display: none;
  }
}

.logOutBtn {
  padding: 1px 10px;
  border: 1px solid #fff;
  border-radius: 46px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
}

.timeH {
  margin-left: 15px !important;
  margin-right: auto !important;
}
/*# sourceMappingURL=adminHeader.css.map */