.Statist {
  height: 180px;
  background: #272c31;
  position: relative;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Statist .calendarWrapper {
  position: absolute;
  right: calc((100vw - 1135px) / 2);
  top: 52px;
}

@media (max-width: 1135px) {
  .Statist .calendarWrapper {
    right: 2%;
  }
}

.Statist.min {
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Statist div.Categories {
  max-width: 1135px;
  margin: 0 auto;
}

@media (max-width: 1135px) {
  .Statist div.Categories {
    max-width: 100%;
  }
}

.Statist div.Categories.Filters {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Statist div.Categories.Filters div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.Statist div.Categories.Filters div:first-child i {
  color: #e2e3e3;
  font-size: 16px;
  font-weight: 300;
  padding-right: 10px;
}

.Statist div.Categories.Filters div:first-child span {
  color: #e2e3e3;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto";
  text-transform: uppercase;
}

.Statist div.Categories.Filters div:nth-child(2) i {
  color: #e2e3e3;
  font-size: 16px;
  font-weight: 300;
  padding: 0 10px;
}

.Statist div.Categories.Filters div:nth-child(2) i.fa-angle-up,
.Statist div.Categories.Filters div:nth-child(2) i .fa-angle-down {
  font-size: 24px;
}

.Statist div.Categories.Filters div:nth-child(2) span {
  color: #e2e3e3;
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto";
}

.Statist div.Categories.Filters div:nth-child(2) span.Bordered {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  height: 30px;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.Statist div.Categories.Filters div:nth-child(2) span.Bordered:nth-child(2) {
  width: 30px;
  height: 30px;
}

.Statist div.Categories.Filters div:nth-child(2) span.Bordered i {
  font-size: 16px;
}

.Statist div.Categories.data {
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Statist div.Categories.data .Graph,
.Statist div.Categories.data .Additinal.Statist {
  width: 100%;
  margin: 0 0.5%;
  height: 150px;
  background: #3c4349;
}

.Statist div.Categories.data .Graph:first-child,
.Statist div.Categories.data .Additinal.Statist:first-child {
  margin: 0 0;
  margin-right: 1%;
}

.Statist div.Categories.data .Graph:last-child,
.Statist div.Categories.data .Additinal.Statist:last-child {
  margin: 0 0;
  margin-left: 1%;
}

.Statist div.Categories.data .Additinal.Statist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Statist div.Categories.data .Additinal.Statist div:first-child {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Statist div.Categories.data .Additinal.Statist div:first-child span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 15px;
}

.Statist div.Categories.data .Additinal.Statist div:first-child span:nth-child(1) {
  font-size: 30px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  top: 10%;
}

.Statist div.Categories.data .Additinal.Statist div:first-child span:nth-child(2) {
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
}

.Statist div.Categories.data .Additinal.Statist div:nth-child(2):not(.agenzie) {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ffffff1a;
}

.Statist div.Categories.data .Additinal.Statist div:nth-child(2):not(.agenzie) div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #ffffff1a;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Statist div.Categories.data .Additinal.Statist div:nth-child(2):not(.agenzie) div span:nth-child(1) {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 100;
  color: #ffffff;
  position: relative;
  top: 13%;
  font-family: "Roboto";
}

.Statist div.Categories.data .Additinal.Statist div:nth-child(2):not(.agenzie) div span:nth-child(2) {
  padding: 0;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Statist div.Categories.data .Additinal.Statist div:nth-child(2):not(.agenzie) div span:nth-child(2) span {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  font-family: "Roboto";
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -12%;
  position: relative;
}

.Statist div.Categories.data .Additinal.Statist div:nth-child(2):not(.agenzie) div span:nth-child(2) span:nth-child(1) {
  width: 45%;
}

.Statist div.Categories.data .Additinal.Statist div:nth-child(2):not(.agenzie) div span:nth-child(2) span:nth-child(2) {
  width: 55%;
}

.Statist div.Categories.data .Additinal.Statist div:nth-child(2):not(.agenzie) div span:nth-child(2) i {
  font-size: 9px;
  font-weight: 600;
  color: #ffffff;
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -2px;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.5px;
}

.Statist div.Categories.data .Additinal.Statist div:nth-child(2):not(.agenzie) div:last-child {
  border: none;
}

.Statist div.Categories.data .Graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 10px;
  padding-top: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.Statist div.Categories.data .Graph .Additional {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  height: 47%;
  padding-left: 6%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Statist div.Categories.data .Graph .Additional div {
  font-family: "Roboto";
}

.Statist div.Categories.data .Graph .Additional div:first-child {
  font-size: 30px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
  height: 39px;
}

.Statist div.Categories.data .Graph .Additional div:nth-child(2) {
  font-size: 10px;
  color: #ffffff;
  font-weight: 400;
  height: 13px;
  text-transform: uppercase;
}

.Statist div.Categories.data .Graph .Date {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 15%;
  margin-right: 5%;
  height: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Statist div.Categories.data .Graph .Date div {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Statist div.Categories.data .Graph .Date div span {
  font-size: 20px;
  font-weight: 100;
  color: #ffffff;
  font-family: "Roboto";
}

.Statist div.Categories.data .Graph .Date div i {
  font-size: 11px;
  font-weight: 300;
  color: #ffffff;
  position: relative;
  top: 34%;
  height: 100%;
}

.Statist div.Categories.data .Graph--Element {
  background: #ffffff33;
  width: 2.11%;
}

.Statist div.Categories.data .Graph--Element:hover, .Statist div.Categories.data .Graph--Element:focus {
  background: #f26521;
}
/*# sourceMappingURL=Statistiche.css.map */