.RightFormModal {
  position: fixed;
  width: 70vw;
  top: 101px;
  margin: calc((30vh - 101px) / 2) 15vw;
  height: 70vh;
  z-index: 6;
  box-shadow: 0 3px 6px 1px #0000008c;
  & .AdminRightForm--Box--Wallet--Dropdown {
    background-color: #ffffff;
    padding: 4vh 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 7vh;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 6;
    &--Submit {
      margin-top: 3vh;
      font-weight: 500;
    }
    background: #272c31;

    & div.InputHolder {
      margin: 3vh 27px;
      height: 8vh;
      background: #272c31;
      border: 1px solid rgba(255, 255, 255, 0.1);

      & i.fa-search {
        margin: 0 calc((14% - 21px) / 2);
      }
      &:nth-child(2) {
        margin-top: 4vh;
      }
    }
  }

  & .Header {
    position: absolute;
    width: calc(100% - 8.25vw);
    z-index: 7;
    background: #353d45;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    padding-left: 3vw;
    align-items: center;
    font-size: calc(1.6vw + 1.6vh);
    font-family: "Roboto";
    height: 7vh;
    box-sizing: border-box;
  }

  & .Close {
    position: absolute;
    z-index: 7;
    background: #c53f3f;
    left: calc(100% - 8.9vw);
    width: 9vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1.6vw + 1.6vh);
    font-family: "Roboto";
    display: flex;
    box-sizing: border-box;

    & i {
      color: #ffffff;

      font-weight: 400;
      font-size: calc(1.6vw + 1.6vh);
    }
  }
  & .backDrop {
    top: 101px;
    height: calc(100vh - 71px);
    width: calc(100vw - 51px);
    left: 51px;
    z-index: 4;
  }
}
