.BolletiniWrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Bolletini {
  width: 870px;
  height: auto;
  max-height: 100vh;
  overflow: auto;
  position: relative;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Bolletini-Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 68px;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ebeced;
  padding: 0 20px;
  padding-right: 25px;
}

.Bolletini-Header span {
  font-size: 18px;
  font-weight: 500;
  font-family: "Lato";
  color: var(--accent-bg);
}

.Bolletini-Header img {
  width: 60px;
  height: 38px;
  -o-object-fit: contain;
     object-fit: contain;
}

.Bolletini-Form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Bolletini-Form form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  overflow: auto;
}

.Bolletini-Form form .Left,
.Bolletini-Form form .Right {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  padding: 12px 25px;
}

.Bolletini-Form form .Left {
  border-right: 1px solid #ebeced;
}

.Bolletini-Form form .Condizioni {
  height: 245px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Bolletini-Form form .Condizioni .contitions-boll,
.Bolletini-Form form .Condizioni .euroboll {
  border: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.Bolletini-Form form .Condizioni .contitions-boll {
  padding: 10px 5px;
}

.Bolletini-Form form .Condizioni .contitions-boll p {
  font-size: 11px;
  font-weight: 400;
  font-family: "Roboto";
  color: #32424e;
}

.Bolletini-Form form .Condizioni .ant-checkbox-wrapper {
  height: 65px;
  border: 1px solid #ebeced;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.Bolletini-Form form .Condizioni .ant-checkbox-wrapper span:not(.ant-checkbox):not(.ant-checkbox-inner) {
  font-size: 13px;
  font-weight: 400;
  margin-left: 12px;
  font-family: "Roboto";
  color: #6c6c6c;
}

.Bolletini-Form form .Condizioni .col-12 {
  height: 145px;
  min-height: 145px;
  max-height: 145px;
  overflow: auto;
  border: 1px solid #ebeced;
}

.Bolletini-Form form .Condizioni .col-12::-webkit-scrollbar-thumb {
  background: #585858;
}

.Bolletini-Form form .Condizioni.control {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #ebeced;
  padding: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  min-height: 35px;
  cursor: pointer;
}

.Bolletini-Form form .Condizioni.control span {
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto";
  color: #5c5c5c;
}

.Bolletini-Form form .Condizioni.control i {
  font-size: 16px;
  font-weight: 300;
}

.Bolletini-Form form .Actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 80px;
  margin-bottom: 18px;
}

.Bolletini-Form form .Actions .Actions--Item {
  width: 25%;
  height: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #ebeced;
  cursor: pointer;
}

.Bolletini-Form form .Actions .Actions--Item:first-child {
  border-bottom: 2px solid #00b850;
}

.Bolletini-Form form .Actions .Actions--Item:nth-child(2) {
  border-bottom: 2px solid #0088bb;
}

.Bolletini-Form form .Actions .Actions--Item:nth-child(3) {
  border-bottom: 2px solid #ffaa00;
}

.Bolletini-Form form .Actions .Actions--Item:last-child {
  border-bottom: 2px solid #ff3400;
}

.Bolletini-Form form .Actions .Actions--Item h3 {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #040505;
  width: 100%;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 5px;
}

.Bolletini-Form form .Actions .Actions--Item p {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  color: #040505;
  width: 100%;
  height: 19px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.Bolletini-Form form .Actions .Actions--Item img {
  width: 25.3px;
  height: 19px;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.Bolletini-Form form div.InputItem {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 13.5px;
  position: relative;
}

.Bolletini-Form form div.InputItem .ant-radio-group.ant-radio-group-outline {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Bolletini-Form form div.InputItem .ant-radio-group.ant-radio-group-outline .ant-radio-wrapper {
  background: #ebeced;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.Bolletini-Form form div.InputItem .ant-radio-group.ant-radio-group-outline .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #11375d !important;
}

.Bolletini-Form form div.InputItem .ant-radio-group.ant-radio-group-outline .ant-radio-wrapper .ant-radio-checked .ant-radio-inner:after {
  background-color: #11375d;
}

.Bolletini-Form form div.InputItem .ant-radio-group.ant-radio-group-outline .ant-radio-wrapper .ant-radio:hover .ant-radio-inner {
  border-color: #11375d;
}

.Bolletini-Form form div.InputItem:last-child {
  margin-bottom: 18px;
}

.Bolletini-Form form div.InputItem span:first-child {
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto";
  height: 18px;
}

.Bolletini-Form form div.InputItem span:first-child .Red {
  color: #f26521;
}

.Bolletini-Form form div.InputItem i:not(.ant-select-arrow-icon) {
  position: absolute;
  top: 26.5px;
  right: 10px;
  font-size: 16px;
  font-weight: 300;
  width: 16px;
  height: 16px;
  color: #b5b5b5;
}

.Bolletini-Form form div.InputItem .ant-radio-group {
  padding: 0 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 32px;
  background: #ebeced;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Bolletini-Form form div.InputItem .ant-radio-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Bolletini-Form form div.InputItem .ant-form-explain {
  top: -6px;
  position: relative;
  font-size: 13px;
}

.Bolletini-Form form div.InputItem .ant-select.ant-select-enabled {
  top: -3px;
  height: 31px;
  border-radius: 4px;
}

.Bolletini-Form form div.InputItem .ant-select.ant-select-enabled div {
  border-radius: 4px;
}

.Bolletini-Form form div.InputItem input {
  height: 31px;
  background: #ebeced;
  padding-right: 35px;
  top: -3px;
  padding-left: 10px;
  color: #5c5c5c;
}

.Bolletini-Form form div.InputItem .ant-select-selection--single {
  width: 100%;
  height: 32px;
  line-height: 32px;
}

.Bolletini-Form form div.InputItem .ant-select-selection__rendered {
  height: 32px;
  line-height: 32px;
  background: #ebeced;
  padding-right: 35px;
  padding-left: 10px;
  color: #5c5c5c;
  width: 100%;
  margin-left: 0;
}

.Bolletini-Form form div.InputItem .ant-select-selection__rendered span,
.Bolletini-Form form div.InputItem .ant-select-selection__rendered div {
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 0;
  height: 32px;
  line-height: 32px;
}

.Bolletini-Form form .Right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Bolletini-Form form .Right.BA .InputItem {
  margin-bottom: 25px;
}

.Bolletini-Form form .Right.PA .InputItem {
  margin-bottom: 18px;
}

.Bolletini-Form form .Left.BA .InputItem {
  margin-bottom: 25px;
}

.Bolletini-Form form .Left.PA .InputItem {
  margin-bottom: 18px;
}

.Bolletini-Form form .ant-select-selection__placeholder {
  top: 0;
  left: 10px;
}

div.modulePopUP.modulePopUP1 div.module.container-fluid.max-width_modulePopUP {
  max-width: 870px;
  padding-top: 0;
  padding-bottom: 0;
}

.inpPopUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.466);
  padding: 20px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.inpPopUp.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.inpPopUp input {
  text-align: center;
  padding: 5px 20px;
  text-transform: uppercase;
  border: 1px solid #edeef0;
  width: 90%;
}

.inputSeperate {
  width: 60px;
}

.F24 {
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.F24--Bottom {
  margin: 10px 35px;
  border: 1px solid #a5dce9;
  min-height: 283px;
  height: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.F24--Bottom.none {
  height: 33px;
  min-height: 33px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.F24--Bottom.none .Table--Header,
.F24--Bottom.none .RowContainer,
.F24--Bottom.none .RowContainer .Table--Row,
.F24--Bottom.none .TableActions {
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.F24--Bottom .TableVis {
  color: #156076;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
  min-height: 35px;
  padding: 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d9eff5;
}

.F24--Bottom .TableVis i {
  font-size: 16px;
}

.F24--Bottom .TableActions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d9eff5;
  padding: 0 15px;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.F24--Bottom .TableActions div {
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.F24--Bottom .TableActions div span {
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto";
  color: #156076;
}

.F24--Bottom .TableActions div i {
  font-size: 16px;
  font-weight: 300;
  color: #156076;
  margin-right: 5px;
}

.F24--Bottom .TableActions div i.fa-plus {
  margin-left: 5px;
  margin-right: 0;
}

.F24--Bottom .Table {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 100%;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.F24--Bottom .Table--Header {
  width: 100%;
  font-size: 9px;
  font-weight: 600;
  font-family: "Barlow";
  color: #156076;
  background: #a5dce9;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.F24--Bottom .Table--Header span {
  width: 70px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.F24--Bottom .Table--Header span:nth-child(4), .F24--Bottom .Table--Header span:nth-child(5), .F24--Bottom .Table--Header span:nth-child(6), .F24--Bottom .Table--Header span:nth-child(7) {
  width: 36.5px;
}

.F24--Bottom .Table--Header span:nth-child(6) {
  padding: 4px 0;
  padding-left: 8px;
}

.F24--Bottom .Table .RowContainer {
  padding: 15px;
  padding-bottom: 0px;
  background: #d9eff5;
}

.F24--Bottom .Table--Row {
  width: 100%;
  background: #d9eff5;
  height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.F24--Bottom .Table--Row .InputItem {
  margin: 0;
}

.F24--Bottom .Table--Row .InputItem .ant-checkbox-checked .ant-checkbox-inner {
  border-color: #a5dce9;
  background: #fff;
}

.F24--Bottom .Table--Row .InputItem .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.F24--Bottom .Table--Row .InputItem .ant-checkbox:hover .ant-checkbox-inner,
.F24--Bottom .Table--Row .InputItem .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #a5dce9;
  border-width: 2px;
}

.F24--Bottom .Table--Row .InputItem .ant-checkbox::after {
  border: 2px solid #a5dce9;
}

.F24--Bottom .Table--Row .InputItem .ant-form-item-children {
  margin: 7px;
}

.F24--Bottom .Table--Row .InputItem .ant-checkbox-inner {
  border: 2px solid #a5dce9;
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.F24--Bottom .Table--Row .InputItem .ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #156076;
}

.F24--Bottom .Table--Row .InputItem .ant-row.ant-form-item {
  margin: 0;
}

.F24--Bottom .Table--Row .InputItem .InputItem {
  width: 64.5px;
  height: 34px;
}

.F24--Bottom .Table--Row .InputItem input:not(.ant-checkbox-input) {
  width: 64.5px;
  height: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 14px;
  color: #156076;
  font-weight: 400;
  margin: 2px;
  z-index: 1;
}

.F24--Footer {
  margin: 10px 35px;
}

.F24--Footer--Head {
  font-size: 12px;
  font-weight: 400;
  color: #156076;
  width: 100%;
  border-bottom: 1px solid #a5dce9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15px;
  padding-bottom: 7px;
  margin-top: 10px;
}

.F24--Footer--Foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.F24--Footer--Foot .Data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #ebeced;
  padding-left: 10px;
  width: calc(100% - 366px);
  height: 78px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.F24--Footer--Foot .Data .InputItem {
  margin-right: 15px;
}

.F24--Footer--Foot .Data .InputItem .ant-row.ant-form-item {
  margin-bottom: 0;
}

.F24--Footer--Foot .Data .InputItem span:first-child {
  font-weight: 400;
  color: #5c5c5c;
  font-size: 10px;
  font-family: "Roboto";
}

.F24--Footer--Foot .Data .InputItem span:first-child.Red {
  color: #f26521;
}

.F24--Footer--Foot .Data .InputItem input {
  color: #5c5c5c;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-bottom: 3px solid #ebeced;
}

.F24--Footer--Foot .Actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #ebeced;
  width: 366px;
}

.F24--Footer--Foot .Actions--Item {
  border-bottom: 2px solid #ebeced;
  width: 91px;
  height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.F24--Footer--Foot .Actions--Item:first-child {
  border-color: #00b850;
}

.F24--Footer--Foot .Actions--Item:nth-child(2) {
  border-color: #0088bb;
}

.F24--Footer--Foot .Actions--Item:nth-child(3) {
  border-color: #ffaa00;
}

.F24--Footer--Foot .Actions--Item:nth-child(4) {
  border-color: #ff3400;
}

.F24--Footer--Foot .Actions--Item h3 {
  font-size: 14px;
  font-weight: 400;
  color: #040505;
  font-family: "Roboto";
  margin: 0;
  height: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.F24--Footer--Foot .Actions--Item img {
  width: 19px;
  height: 19px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.F24--Footer--Foot .Actions--Item p {
  font-size: 12px;
  font-weight: 400;
  color: #040505;
  font-family: "Roboto";
  margin: 0;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  text-align: center;
}

.F24--Middle {
  margin: 10px 35px;
  border: 1px solid #a5dce9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 132px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.F24--Middle.none {
  height: 33px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.F24--Middle.none .F24--Middle-Inputs,
.F24--Middle.none .Inputs {
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.F24--Middle div:first-child {
  color: #156076;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
  min-height: 35px;
  padding: 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d9eff5;
}

.F24--Middle div:first-child i {
  font-size: 16px;
}

.F24--Middle div:nth-child(2).F24--Middle-Inputs {
  height: 97px;
  opacity: 1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.F24--Middle div:nth-child(2).F24--Middle-Inputs div:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #a5dce9;
}

.F24--Middle div:nth-child(2).F24--Middle-Inputs div:first-child span {
  color: #156076;
  font-size: 9px;
  font-weight: 600;
  font-family: "Barlow";
  text-transform: capitalize;
  padding-left: 2px;
}

.F24--Middle div:nth-child(2).F24--Middle-Inputs div:first-child span:first-child {
  width: 25%;
}

.F24--Middle div:nth-child(2).F24--Middle-Inputs div:first-child span:nth-child(2) {
  width: 61%;
}

.F24--Middle div:nth-child(2).F24--Middle-Inputs div:nth-child(2).Inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 65px;
  background: #d9eff5;
  padding: 0 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.F24--Middle div:nth-child(2).F24--Middle-Inputs div:nth-child(2).Inputs span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.F24--Middle div:nth-child(2).F24--Middle-Inputs div:nth-child(2).Inputs span input {
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  color: #156076;
  font-weight: 400;
  font-family: "Roboto";
  font-size: 14px;
  border: none;
  text-align: center;
  margin-right: 1px;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.F24--Middle div:nth-child(2).F24--Middle-Inputs div:nth-child(2).Inputs span:first-child {
  width: 25%;
}

.F24--Middle div:nth-child(2).F24--Middle-Inputs div:nth-child(2).Inputs span:nth-child(2) {
  width: 65%;
}

.F24--Top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px 35px;
}

.F24--Top .ant-form-item-children {
  width: 100%;
}

.F24--Top .ant-form-item-children div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.F24--Top .ant-radio-wrapper {
  background: #ebeced;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  width: 48%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
}

.F24--Top .ant-radio-wrapper span {
  font-size: 14px !important;
}

.F24--Top .ant-radio-wrapper:nth-child(2) {
  margin-right: 0;
}

.F24--Top .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #588a17 !important;
}

.F24--Top .ant-radio-wrapper .ant-radio-checked .ant-radio-inner:after {
  background-color: #588a17;
}

.F24--Top .ant-radio-wrapper .ant-radio:hover .ant-radio-inner {
  border-color: #588a17;
}

.F24--Top input,
.F24--Top .Condizioni.control {
  height: 35px;
  background: #ebeced;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.F24--Top .Condizioni {
  width: 100%;
  margin-top: 15px;
}

.F24--Top .Condizioni .ant-checkbox-checked .ant-checkbox-inner {
  border-color: #32cc67;
  background: #fff;
}

.F24--Top .Condizioni .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.F24--Top .Condizioni .ant-checkbox:hover .ant-checkbox-inner,
.F24--Top .Condizioni .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #32cc67;
}

.F24--Top .Condizioni .ant-checkbox::after {
  border: 1px solid #32cc67;
}

.F24--Top .Condizioni .ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #32cc67;
}

.F24--Top .Condizioni label {
  font-size: 13px;
  font-weight: 400;
  font-family: "Roboto";
  color: #6c6c6c;
  border: 1px solid #ebeced;
  padding: 15px 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.F24--Top .Condizioni label span:not(.ant-checkbox-inner):nth-child(2) {
  position: relative;
  left: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
}

.F24--Top .Condizioni div {
  padding: 0;
}

.F24--Top .Condizioni .contitions-boll {
  width: 100%;
  padding: 20px 15px;
  max-height: 164px;
  overflow: auto;
  border: 1px solid #ebeced;
  font-size: 11px;
  font-weight: 400;
  scrollbar-color: #585858;
}

.F24--Top .Condizioni .contitions-boll::-webkit-scrollbar {
  width: 5px;
}

.F24--Top .Condizioni .contitions-boll::-webkit-scrollbar-thumb {
  background: #585858;
}

.F24--Top .ant-row.ant-form-item {
  margin-bottom: 5px;
}

.F24--Top .InputItem span {
  font-size: 10px;
  font-weight: 400;
  color: #5c5c5c;
}

.F24--Top .InputItem span .Red {
  font-size: 10px;
  font-weight: 400;
  color: #f26521;
}

.F24--Top .Left {
  padding-right: 25px;
  border-right: 1px solid #ebebeb;
  background: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
}

.F24--Top .Right {
  padding-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #fff;
  width: 50%;
}

.F24-Header {
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.F24-Header span img {
  width: 70px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.F24-Header span:first-child {
  font-size: 18px;
  font-weight: 500;
  font-family: "Lato";
  color: var(--accent-bg);
  text-transform: uppercase;
}

.F24-AfterHeader {
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
  background: #d9eff5;
}

.F24-AfterHeader span {
  color: #156076;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto";
  text-transform: uppercase;
}

.F24-AfterHeader span:first-child {
  width: 227px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.F24-AfterHeader span:first-child h4 {
  color: #156076;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto";
  margin: 0;
  margin-bottom: 2px;
}

.F24-AfterHeader span:first-child h5 {
  font-size: 10px;
  font-weight: 400;
  color: #5c5c5c;
  margin: 0;
}

.F24-AfterHeader span:nth-child(2) {
  width: 130px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.F24-AfterHeader span:nth-child(2) img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.F24-AfterHeader span:last-child {
  width: 227px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.F24 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=newStyl.css.map */