.bolletino .ant-row.ant-form-item {
  width: 100%;
}

.bolletino .error {
  padding: 5px;
  text-transform: uppercase;
  border: 1px solid #c6cdda;
  color: #b31e1e;
  position: relative;
  font-size: 11px;
}

.bolletino .success {
  padding: 5px;
  text-transform: uppercase;
  border: 1px solid #c6cdda;
  color: #315a15;
  position: relative;
  font-size: 11px;
}

.bolletino .closeAlert {
  position: absolute;
  background: #ff3400;
  padding: 0 5px;
  border-radius: 60px;
  font-size: 10px;
  right: -8px;
  top: -8px;
  cursor: pointer;
  color: #fff;
}

.bolletino .ant-form-explain {
  color: #ff3400;
  line-height: normal;
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
}

.alertError {
  padding: 5px;
  text-transform: uppercase;
  border: 1px solid #c6cdda;
  color: #ff3400;
  position: relative;
  font-size: 11px;
}

.alertError .closeAlert {
  position: absolute;
  background: #ff3400;
  padding: 0 5px;
  border-radius: 60px;
  font-size: 10px;
  right: -8px;
  top: -8px;
  cursor: pointer;
  color: #fff;
}

.confirmedMessage {
  padding: 5px;
  text-transform: uppercase;
  border: 1px solid #c6cdda;
  color: green;
  position: relative;
  font-size: 11px;
}

.confirmedMessage .closeAlert {
  position: absolute;
  background: #ff3400;
  padding: 0 5px;
  border-radius: 60px;
  font-size: 10px;
  right: -8px;
  top: -8px;
  cursor: pointer;
  color: #fff;
}

.telRechanrge .max-width_modulePopUP-carrier {
  max-width: 1030px;
}

.universalModal .content {
  background: #e4e4e4;
  position: relative;
  top: -80%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 0px 20px 4px #313131;
          box-shadow: 0px 0px 20px 4px #313131;
  z-index: 1;
}

.modalbackdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.universalModal {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  z-index: 1000;
  background: #0a0a0a5c;
}

.universalModal:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.universalModal--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border-bottom: 2px solid #d2d2d2;
}

.universalModal--title {
  width: 100%;
  padding: 5px 20px;
}

.universalModal--title > h3 {
  font-family: "Roboto", "sans-serif";
  font-size: 24px;
  font-weight: normal;
  color: #32424e;
  cursor: default;
  margin: 0;
}

.universalModal--header > button {
  border: none;
  background: transparent;
  color: red;
}

.universalModal--main {
  background: white;
  padding: 10px;
}

.col-4.notNumbers {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  max-width: 100%;
}

.col-4.notNumbers tr {
  width: calc(100% / 3);
  display: inline-block;
}

.col-4.notNumbers tr td {
  width: 100%;
  height: 80px;
  display: block;
}

.euroboll .ant-select.ant-select-enabled.ant-select-no-arrow {
  border: 1px solid #edeef0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: bold;
}

.col-12.document {
  margin-left: 30px;
  margin-top: 7px;
}

.col-12.document .ant-form-item:nth-child(1) {
  margin-bottom: 0px;
  width: 41.5%;
  display: inline-block;
}

.col-12.document .ant-form-item:nth-child(2) {
  margin-bottom: 0px;
  width: 58.5%;
  display: inline-block;
}

.col-12.document .ant-select-selection--single {
  border: 1px solid #edeef0;
  width: 100%;
}

.col-12.document .ant-select-selection__placeholder,
.col-12.document .ant-select-selection-selected-value {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  font-weight: normal;
  color: #212529;
}

._modulePopUP__body {
  position: relative;
  overflow: hidden;
}

.inpPopUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.466);
  padding: 20px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.inpPopUp.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.inpPopUp input {
  text-align: center;
  padding: 5px 20px;
  text-transform: uppercase;
  border: 1px solid #edeef0;
  width: 90%;
}

._modulePopUP__body {
  position: relative;
}

.messages {
  position: absolute;
  z-index: 1;
  background: #ffffff8f;
  width: 70%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  border: 6px solid #0000000f;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.messages .errorM,
.messages .infoM {
  text-transform: capitalize;
  width: 90%;
  text-align: center;
  margin-top: 5px;
}

.messages .closeM {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid #ad2c2c;
  padding: 4px 20px;
  text-transform: capitalize;
  border-radius: 22px;
  cursor: pointer;
  color: #860000;
  background: #c3262636;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.messages .closeM:hover {
  background-color: #ad2c2c;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */