.bolletino {
  .ant-row.ant-form-item {
    width: 100%;
  }
  .error {
    padding: 5px;
    text-transform: uppercase;
    border: 1px solid #c6cdda;
    color: #b31e1e;
    position: relative;
    font-size: 11px;
  }
  .success {
    padding: 5px;
    text-transform: uppercase;
    border: 1px solid #c6cdda;
    color: #315a15;
    position: relative;
    font-size: 11px;
  }
  .closeAlert {
    position: absolute;
    background: #ff3400;
    padding: 0 5px;
    border-radius: 60px;
    font-size: 10px;
    right: -8px;
    top: -8px;
    cursor: pointer;
    color: #fff;
  }
  .ant-form-explain {
    color: #ff3400;
    line-height: normal;
    font-size: 12px;
    font-weight: 500;
    padding-left: 10px;
  }
}

.alertError {
  padding: 5px;
  text-transform: uppercase;
  border: 1px solid #c6cdda;
  color: #ff3400;
  position: relative;
  font-size: 11px;
  .closeAlert {
    position: absolute;
    background: #ff3400;
    padding: 0 5px;
    border-radius: 60px;
    font-size: 10px;
    right: -8px;
    top: -8px;
    cursor: pointer;
    color: #fff;
  }
}

.confirmedMessage {
  padding: 5px;
  text-transform: uppercase;
  border: 1px solid #c6cdda;
  color: green;
  position: relative;
  font-size: 11px;
  .closeAlert {
    position: absolute;
    background: #ff3400;
    padding: 0 5px;
    border-radius: 60px;
    font-size: 10px;
    right: -8px;
    top: -8px;
    cursor: pointer;
    color: #fff;
  }
}

.telRechanrge .max-width_modulePopUP-carrier {
  max-width: 1030px;
}

// .universalModal {
//   position: absolute;

//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;

// }

.universalModal .content {
  background: #e4e4e4;
  position: relative;
  top: -80%;
  left: 50%;
  transform: translate(-50%);
  width: fit-content;
  box-shadow: 0px 0px 20px 4px #313131;
  z-index: 1;
}

.modalbackdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.universalModal {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  z-index: 1000;
  background: #0a0a0a5c;
}

.universalModal:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.universalModal--header {
  display: flex;
  background: white;
  border-bottom: 2px solid #d2d2d2;
}

.universalModal--title {
  width: 100%;
  padding: 5px 20px;
}

.universalModal--title > h3 {
  font-family: "Roboto", "sans-serif";
  font-size: 24px;
  font-weight: normal;
  color: #32424e;
  cursor: default;
  margin: 0;
}

.universalModal--header > button {
  border: none;
  background: transparent;
  color: red;
}

.universalModal--main {
  background: white;
  padding: 10px;
}

.col-4.notNumbers {
  width: 100%;
  flex: 1 1;
  max-width: 100%;
  tr {
    width: calc(100% / 3);
    display: inline-block;
    td {
      width: 100%;
      height: 80px;
      display: block;
    }
  }
}

.euroboll .ant-select.ant-select-enabled.ant-select-no-arrow {
  border: 1px solid #edeef0;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: bold;
}

.col-12.document {
  margin-left: 30px;
  margin-top: 7px;
  .ant-form-item:nth-child(1) {
    margin-bottom: 0px;
    width: 41.5%;
    display: inline-block;
  }
  .ant-form-item:nth-child(2) {
    margin-bottom: 0px;
    width: 58.5%;
    display: inline-block;
  }
  .ant-select-selection--single {
    border: 1px solid #edeef0;
    width: 100%;
  }
  .ant-select-selection__placeholder,
  .ant-select-selection-selected-value {
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    font-weight: normal;
    color: #212529;
  }
}
._modulePopUP__body {
  position: relative;
  overflow: hidden;
}
.inpPopUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.466);
  padding: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  transform: translateY(-100%);
  transition: 0.3s;
  &.active {
    transform: translateY(0%);
  }
  input {
    text-align: center;
    padding: 5px 20px;
    text-transform: uppercase;
    border: 1px solid #edeef0;
    width: 90%;
  }
}
._modulePopUP__body {
  position: relative;
}
.messages {
  position: absolute;
  z-index: 1;
  background: #ffffff8f;
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  border: 6px solid #0000000f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .errorM,
  .infoM {
    text-transform: capitalize;
    width: 90%;
    text-align: center;
    margin-top: 5px;
  }
  .closeM {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ad2c2c;
    padding: 4px 20px;
    text-transform: capitalize;
    border-radius: 22px;
    cursor: pointer;
    color: #860000;
    background: #c3262636;
    transition: 0.3s;
    &:hover {
      background-color: #ad2c2c;
      color: #fff;
    }
  }
}
.confermaMsg {
  position: absolute;
  background: #f3f3f3db;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 10px;
  backdrop-filter: blur(5px);
  height: 100%;
  text-align: center;
  .info {
    text-transform: unset;
  }
  .buttons {
    button {
      border: 0;
      background-color: transparent;
      padding: 3px 10px;
      margin: 3px;
      &:nth-child(1) {
        background-color: rgb(55, 151, 55);
        color: #fff;
      }
      &:nth-child(2) {
        background-color: rgb(194, 46, 46);
        color: #fff;
      }
    }
  }
}
