#root {
  overflow: visible !important;
}

@media (max-width: 1024px) {
  #root {
    overflow: hidden !important;
  }
}

.MenuC {
  background: #3c4349;
  width: 100%;
}

.Menu {
  width: 1135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 110px;
  max-width: 1135px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1135px) {
  .Menu {
    max-width: 100%;
  }
}

.Menu div,
.Menu label,
.Menu a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #3c4349;
  color: rgba(255, 255, 255, 0.602);
  cursor: pointer;
}

.Menu div label,
.Menu div a,
.Menu label label,
.Menu label a,
.Menu a label,
.Menu a a {
  border-left: 1px solid #272c31;
}

.Menu div:last-child label,
.Menu div:last-child a,
.Menu label:last-child label,
.Menu label:last-child a,
.Menu a:last-child label,
.Menu a:last-child a {
  border-right: 1px solid #272c31;
}

.Menu div.active div,
.Menu label.active div,
.Menu a.active div {
  background: #32383c;
  color: #ffffff;
}

.Menu div.active i,
.Menu label.active i,
.Menu a.active i {
  font-size: 32px;
}

.Menu div i,
.Menu label i,
.Menu a i {
  text-decoration: none;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  width: 32px;
  height: 32px;
}

.Menu div span,
.Menu label span,
.Menu a span {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.Submenu {
  width: 100%;
  background: var(--accent-bg);
  position: -webkit-sticky;
  position: sticky;
  top: 99px;
  height: auto;
  z-index: 1;
  overflow: auto;
}

.Submenu .MenuS {
  width: 1135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  max-width: 1136px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--accent-bg);
}

@media (max-width: 1135px) {
  .Submenu .MenuS {
    max-width: 100%;
  }
}

.Submenu div,
.Submenu label,
.Submenu a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  color: #ffffff;
}

.Submenu div .active,
.Submenu label .active,
.Submenu a .active {
  -webkit-box-shadow: inset 0px 0px 43px 35px #0000001f;
          box-shadow: inset 0px 0px 43px 35px #0000001f;
}

.Submenu div label::after,
.Submenu div a::after,
.Submenu label label::after,
.Submenu label a::after,
.Submenu a label::after,
.Submenu a a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-left: 1px solid #0000001f;
}

.Submenu div:last-child label::after,
.Submenu div:last-child a::after,
.Submenu label:last-child label::after,
.Submenu label:last-child a::after,
.Submenu a:last-child label::after,
.Submenu a:last-child a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-right: 1px solid #0000001f;
}
/*# sourceMappingURL=newAzioni.css.map */