.login-logout {
    li {
        input {
            padding: 5px 10px;
            margin: 0 5px;
            border: 0;
            background: #edeef0;
            border-radius: 4px;
        }

        button {
            background: #edeef0;
            border: 0;
            text-align: center;
            color: #8ca0b3;
            margin-left: 4px;
            padding: 4px 9px;
            transition: 0.5s ease-in-out;
            border-radius: 4px;

            &:hover {
                background: #ed4c14;
                color: #fff;
                transition: 0.5s ease-in-out;
            }
        }
    }
}