.TrMoRes--Data {
  box-shadow: 0 0 44px -15px black;
  position: fixed;
  width: 85%;
  height: 75%;
  left: 12%;
  top: 15%;
  z-index: 5;
  background-color: #ffffff;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 4px;
  @media (max-width: 550px) {
    left: 7.5%;
  }
  &--Header {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    border-radius: 4px;
    position: relative;
    &--Title {
      width: 85%;
      display: flex;
      justify-content: flex-start;
      height: 100%;
      border-bottom: 1px solid #ebeced;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      color: #0078ff;
      padding-left: 6%;
      & i {
        color: #5c5c5c;
        font-size: 14px;
        font-weight: 600;
        margin-right: 5%;
      }
    }

    &--Close {
      height: 100%;
      border-bottom: 1px solid #ebeced;
      background-color: #fff;
      text-transform: lowercase;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      cursor: pointer;
      & i {
        color: #5c5c5c;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
  &--BeforeFooter {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ebeced;
    border-bottom: 1px solid #ebeced;
    & div {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 6%;
      & span {
        &:first-child {
          color: #5c5c5c;
          font-weight: 400;
          font-family: "Roboto";
          font-size: 14px;
          text-transform: uppercase;
        }
      }
      & span {
        &:nth-child(2) {
          color: #0078ff;
          font-weight: 500;
          font-family: "Roboto";
          font-size: 16px;
        }
      }
    }
  }
  &--Footer {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ebeced;
    & span {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & button {
        border: none;
        height: 100%;
        background: #fff;
        width: 40%;
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: 400;
        align-items: center;
        font-family: "Roboto";
        border-right: 1px solid #ebeced;
        padding-top: 5px;
        &:nth-child(2) {
          border-bottom: 4px solid #ff6c00;
          color: #ff6c00;
        }
        &:first-child {
          border-bottom: 4px solid #00b850;

          color: #00b850;
        }
      }
      & i {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0078ff;
        font-size: 17px;
        font-weight: 300;
        box-shadow: inset 0 -5px 0px #0078ff;
      }
    }
  }
  &--Row {
    overflow: auto;
    width: 100%;
    height: auto;
    display: flex;
    height: 86%;
    // padding: 4% 6%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: #0078ff;
    }
    & .ServiceRow {
      width: 100%;
      height: 22%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid #ebeced;
      border-top: 1px solid #ebeced;
      & .TrMoRes--Data--Row--Service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        padding: 0 5%;
        &--Header {
          color: #959595;
          font-size: 13px;
          font-weight: 400;
          text-transform: uppercase;
        }
        &--Info {
          color: #0078ff;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    & .DateOraRow {
      width: 100%;
      height: 15%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid #ebeced;
      border-top: 1px solid #ebeced;
      & .TrMoRes--Data--Row--DateOra {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 5%;
        &--Header {
          color: #959595;
          font-size: 13px;
          font-weight: 400;
          text-transform: uppercase;
        }
        &--Info {
          font-size: 13px;
          font-weight: 500;
          color: #5c5c5c;
          text-align: end;
        }
      }
    }
    & .OtherRow {
      width: 100%;
      height: 63%;
      overflow: auto;
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid #ebeced;
      border-top: 1px solid #ebeced;
      & div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        padding: 0.4% 6%;
        &:first-child {
          margin-top: 4%;
          padding-top: 0.5%;
          cursor: pointer;
        }
        &:last-child {
          padding-bottom: 6%;
        }
        & span:first-child {
          color: #959595;
          font-size: 13px;
          font-weight: 400;
          text-transform: uppercase;
        }
        & span:nth-child(2) {
          font-size: 13px;
          font-weight: 500;
          color: #5c5c5c;
          text-align: end;
        }
      }
    }

    &--DateOra,
    &--Barcode,
    &--User,
    &--Service,
    &--Importo,
    &--Commissione,
    &--Proviggione,
    &--Saldo,
    &--UserId,
    &--Username,
    &--City,
    &--RagSociale,
    &--Role,
    &--UltimoDeposit,
    &--UltimoLogin {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-family: "Roboto", sans-serif;
      padding: 1.3% 6%;
      &:first-child {
        padding-top: 4%;
      }
      &:last-child {
        border: none;
      }
      &--Header {
        font-weight: 400;
        color: #959595;
        font-size: 13px;
        width: 35%;
        &:after {
          content: " :";
        }
      }
      &--Info {
        color: #5c5c5c;
        font-size: 13px;
        font-weight: 500;
        width: 65%;
      }
    }
  }
}
@media (max-width: 365px) {
  .TranzacioniModalResponsive--Data {
    &--Header {
      padding: 0;
      margin: 0;
      height: 13%;
      &--Title {
        width: 80%;
        font-size: 13px;
        padding-left: 25px;
      }
    }
    &--Row {
      height: 87%;
      width: 100%;
      padding: 20px 5px;
      & div {
        & span:first-child {
          font-size: 13px;
          font-weight: 500;
          padding-right: 7%;
        }
        & span:nth-child(2) {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}
