.accountInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-bottom: 65px;
  padding-top: 10px;
  width: 100%;
  -webkit-box-shadow: 0px -3px 20px -15px black;
          box-shadow: 0px -3px 20px -15px black;
  background-color: #ebeced;
  font-family: Roboto;
}

.info {
  text-transform: uppercase;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info i {
  color: #75aedc;
  margin-right: 5px;
  font-size: 20px;
}

.leftMenuAcc {
  position: relative;
  background-color: #fff;
  width: 100%;
  text-transform: uppercase;
  max-width: 1250px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.leftMenuAcc > div {
  border-right: 1px solid #adadad;
  padding: 15px;
  cursor: pointer;
}

.leftMenuAcc > div:hover, .leftMenuAcc > div.active {
  border-bottom: 2px solid #ed4c14;
}

.contentAcc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #ebeced;
  width: 100%;
  max-width: 1371px;
  margin: 0 auto;
}

.contentAcc .ant-btn {
  border-radius: 0;
  background: #ed4c14;
  border: 0;
  padding: 0 40px;
}

.contentAcc .changePassword {
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.contentAcc .changePassword .ant-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentAcc .changePassword .ant-form-item-label {
  width: 40%;
}

.contentAcc .changePassword .ant-form-item-control-wrapper {
  width: 60%;
}

.contentAcc .changePassword h2 {
  color: #ed4c14;
  font-weight: 300;
  text-align: center;
}

.ant-col {
  text-align: left;
  color: #222;
}

.ant-form-item-control input {
  width: 100%;
}

.userList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-bottom: 100px;
}

@media (max-width: 1024px) {
  .userList {
    padding: 30px 10px;
  }
}

.userList .title {
  font-size: 24px;
  color: #32424e;
  font-weight: 500;
  border-bottom: 1px solid #c2cad1;
  margin-bottom: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.userList .noUsers i {
  color: #51c751;
  font-size: 20px;
}

.userList .header {
  background-color: #f5f5f5;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.userList .header span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 5px 10px;
  border-left: 1px solid #fff;
  font-weight: 500;
  color: #32424e;
  white-space: nowrap;
  background-color: #f5f5f5;
  font-size: 14px;
  text-transform: capitalize;
}

.userList .header span:nth-child(1) {
  width: 40%;
}

.userList .header span:nth-child(3) {
  width: 150%;
}

.userList .header span:last-child {
  width: 120%;
}

@media (max-width: 1024px) {
  .userList .header span {
    text-transform: capitalize;
    font-size: 12px;
    padding: 2px;
  }
}

.userList--noDoc__user, .userList--Doc__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: left;
  background-color: #fff;
  border-bottom: 1px solid #dadada;
}

.userList--noDoc__user:nth-child(even), .userList--Doc__user:nth-child(even) {
  background-color: #f5f5f5;
}

.userList--noDoc__user:last-child, .userList--Doc__user:last-child {
  border-bottom: 0;
}

.userList--noDoc__user .body, .userList--Doc__user .body {
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  cursor: pointer;
  position: relative;
}

.userList--noDoc__user .body .label, .userList--Doc__user .body .label {
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #dadada;
  padding-left: 20px;
  width: 115px;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.userList--noDoc__user .body .label i, .userList--Doc__user .body .label i {
  margin-left: 10px;
}

.userList--noDoc__user .body span, .userList--Doc__user .body span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 4px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
  font-size: 14px;
}

.userList--noDoc__user .body span:nth-child(1), .userList--Doc__user .body span:nth-child(1) {
  width: 40%;
}

.userList--noDoc__user .body span:nth-child(3), .userList--Doc__user .body span:nth-child(3) {
  width: 150%;
}

.userList--noDoc__user .body span:last-child, .userList--Doc__user .body span:last-child {
  width: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userList--noDoc__user .body span:last-child button, .userList--Doc__user .body span:last-child button {
  border: 0;
  border-radius: 3px;
  border: 1px solid #32424e;
  background-color: transparent;
  font-size: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.userList--noDoc__user .body span:last-child button:hover, .userList--Doc__user .body span:last-child button:hover {
  background-color: #32424e;
  color: #fff;
}

.userList--noDoc__user .body span:last-child .fa-lock:hover, .userList--Doc__user .body span:last-child .fa-lock:hover {
  color: #f5222d;
  font-weight: 600;
}

.userList--noDoc__user .body span:last-child .fa-eye:hover, .userList--Doc__user .body span:last-child .fa-eye:hover {
  color: #00b850;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .userList--noDoc__user .body span, .userList--Doc__user .body span {
    text-transform: capitalize;
    font-size: 12px;
    padding: 2px;
  }
}

.userList .ddItems {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  display: none;
  z-index: 1;
  right: 0;
  color: #000;
  background: #fff;
  -webkit-box-shadow: 0 0 15px -7px black;
          box-shadow: 0 0 15px -7px black;
  border-radius: 10px;
  top: 102%;
  right: -10px;
}

.userList .ddItems > span {
  border-bottom: 1px solid #adadad;
}

.userList .ddItems > span:last-child {
  border-bottom: 0;
}

.userList .ddItems.viz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.userList .ddItems > span {
  width: 100% !important;
}

.userList .active {
  color: #ed4c14;
}

.userList .popUp {
  position: fixed;
  top: 19%;
  height: 460px;
  width: 410px;
  background-color: #fff;
  z-index: 3;
  border-radius: 0px;
  left: 50%;
  margin-left: -205px;
  text-align: center;
  padding-bottom: 20px;
  overflow: scroll;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: fromDown 0.5s ease-out forwards;
          animation: fromDown 0.5s ease-out forwards;
}

.userList .popUp .inpgr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
  border: 1px solid #dadada;
  width: 100%;
  max-width: 70%;
  border-radius: 5px;
  margin: 0 auto;
}

.userList .popUp .inpgr .inplabel {
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 20px;
  border-right: 1px solid #dadada;
}

.userList .popUp .inpgr input {
  border: 0;
  height: 100%;
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  padding-right: 5px;
}

.userList .popUp .inpgr input::-webkit-input-placeholder {
  text-align: right;
  padding-right: 5px;
}

.userList .popUp .inpgr input:-ms-input-placeholder {
  text-align: right;
  padding-right: 5px;
}

.userList .popUp .inpgr input::-ms-input-placeholder {
  text-align: right;
  padding-right: 5px;
}

.userList .popUp .inpgr input::placeholder {
  text-align: right;
  padding-right: 5px;
}

.userList .popUp .sendInput {
  clear: both;
  width: 110px;
  margin: 0 20px;
  margin-top: 30px;
  border: 0;
  border: 2px solid #00b850;
  background: #fff;
  color: #00b850;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
  height: 42px;
}

.userList .popUp .sendInput:hover {
  background: #00b850;
  color: #fff;
}

.userList .popUp .sendInput.cancelInput {
  color: #7e7e7e;
  border-color: #7e7e7e;
}

.userList .popUp .sendInput.cancelInput:hover {
  background: #7e7e7e;
  color: #fff;
}

.userList .popUp input {
  background: transparent;
  border: 0;
  border: 1px solid #d9d9d9;
  text-align: center;
  -webkit-appearance: none;
}

.userList .popUp::-webkit-scrollbar {
  width: 0;
}

.userList .popUp .deleteDiv {
  max-width: 60%;
  margin: 0 auto;
  text-transform: capitalize;
  background: #f5222d;
  padding: 8px 5px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 3px solid #dc3545;
  color: #ffffff;
}

.userList .popUp img {
  width: 100%;
  padding: 20px;
}

.userList .popUp .uploadSendBtn {
  position: relative;
  position: relative;
  background: #e6e6e6;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.userList .popUp .uploadSendBtn.disabled {
  color: #ccc;
  pointer-events: none;
  cursor: not-allowed;
}

.userList .popUp .uploadSendBtn:hover {
  background-color: #ed4c14;
  color: #fff;
}

.userList .popUp .uploadSendBtn i {
  position: relative;
}

.userList .popUp .avatar-uploader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.userList .popUp > i {
  color: #ed4c14;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.userList .popUp .title {
  text-align: left;
  padding-top: 10px;
  text-transform: uppercase;
  padding: 15px;
  padding-bottom: 0;
}

.userList .popUp .title + p {
  text-align: left;
  padding: 0 15px;
  line-height: 0;
  font-size: 13px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 20px;
}

.backDrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.349);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@-webkit-keyframes fromDown {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes fromDown {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.fastCarica {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 15px;
}

.fastCarica .addFounds {
  background-color: transparent;
  border: 0;
  margin-left: auto;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  background-color: #ed4c14;
  border-radius: 4px;
}

.fastCarica .addFounds:hover {
  border-color: #ed4c14;
}

.fastCarica .amountGr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  border: 2px solid #dadada;
  background-color: #fff;
  margin-left: 15px;
  border-radius: 4px;
  position: relative;
}

.fastCarica .amountGr .label {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  border-right: 2px solid #dadada;
}

.fastCarica .amountGr input {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 0;
  background-color: transparent;
  text-align: right;
  padding-right: 15px;
}

.fastCarica .amountGr > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.fastCarica .amountGr > div i {
  font-size: 20px;
  color: #f5222d;
}

.fastCarica .searchUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 240px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  border: 2px solid #dadada;
  background-color: #fff;
  margin-left: 15px;
  border-radius: 4px;
}

.fastCarica .searchUser input {
  width: 100%;
  border: 0;
  background-color: transparent;
}

.fastCarica .searchUser i {
  position: absolute;
  right: 8px;
  top: 9px;
}

.fastCarica .switchGr {
  border: 2px solid #dadada;
  background-color: #fff;
  width: 100%;
  max-width: 240px;
  border-radius: 4px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  height: 36px;
  overflow: hidden;
}

.fastCarica .switchGr > span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  text-transform: capitalize;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fastCarica .switchGr > span.active {
  background-color: #ed4c14;
  color: #fff;
}

.fastCarica .switchGr > span:first-child {
  border-right: 2px solid #dadada;
}

.fastCarica .switchGr > span.or {
  position: absolute;
  left: 50%;
  width: 27px;
  margin-left: -14px;
  cursor: default;
  top: 3px;
  background: #fff;
  border-radius: 20px;
  border: 2px solid #dadada;
  height: 27px;
}

.ddUsers {
  position: absolute;
  top: 35px;
  z-index: 2;
  background: #fff;
  padding: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 400px;
  overflow: scroll;
}

.ddUsers > span {
  padding: 3px 0;
  cursor: pointer;
}

.ddUsers > span:hover {
  color: #ed4c14;
}

.azcont {
  background-color: #3c4349;
}

@media (max-width: 1024px) {
  .userList .title,
  .fastCarica {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .fastCarica {
    padding-left: 0;
  }
  .switchGr,
  .searchUser,
  .amountGr,
  .addFounds {
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 10px !important;
  }
  .fastCarica .searchUser,
  .fastCarica .amountGr {
    margin-left: 0;
  }
  .addFounds {
    height: 40px;
  }
  .userList .header span:nth-child(3),
  .userList .header span:nth-child(5),
  .userList .header span:nth-child(6),
  .userList .header span:nth-child(7),
  .singleUser span:nth-child(3),
  .singleUser span:nth-child(5),
  .singleUser span:nth-child(6),
  .singleUser span:nth-child(7) {
    display: none;
  }
  .userList--noDoc__user .body span:last-child,
  .userList--Doc__user .body span:last-child,
  .userList .header span:last-child {
    width: 220%;
  }
}
/*# sourceMappingURL=style.css.map */