.accountInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 65px;
  padding-bottom: 65px;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.leftMenuAcc {
  position: relative;
  background-color: #fff;
  width: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.leftMenuAcc > div {
  border-right: 1px solid #adadad;
  padding: 15px;
  cursor: pointer;
}

.leftMenuAcc > div:hover, .leftMenuAcc > div.active {
  border-bottom: 2px solid #ed4c14;
}

.contentAcc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #edeef0;
  padding-top: 25px;
}

.contentAcc .ant-btn {
  border-radius: 0;
  background: #ed4c14;
  border: 0;
  padding: 0 40px;
}

.contentAcc .changePassword {
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.contentAcc .changePassword .ant-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentAcc .changePassword .ant-form-item-label {
  width: 40%;
}

.contentAcc .changePassword .ant-form-item-control-wrapper {
  width: 60%;
}

.contentAcc .changePassword h2 {
  color: #ed4c14;
  font-weight: 300;
  text-align: center;
}

.ant-col {
  text-align: left;
  color: #222;
}

.ant-form-item-control input {
  width: 100%;
}

.userList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-bottom: 100px;
}

@media (max-width: 1024px) {
  .userList {
    padding: 30px 10px;
  }
}

.userList .title {
  font-size: 20px;
  color: #ed4c14;
  font-weight: 500;
  margin-bottom: 10px;
}

.userList .noUsers i {
  color: #51c751;
  font-size: 20px;
}

.userList .header {
  background-color: #f5f5f5;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.userList .header span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 5px 10px;
  border-left: 1px solid #fff;
  font-weight: 500;
  color: #32424e;
}

@media (max-width: 1024px) {
  .userList .header span {
    text-transform: capitalize;
    font-size: 12px;
    padding: 2px;
  }
}

.userList--noDoc__user, .userList--Doc__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: left;
  background-color: #fff;
  border-bottom: 1px solid #dadada;
}

.userList--noDoc__user:last-child, .userList--Doc__user:last-child {
  border-bottom: 0;
}

.userList--noDoc__user .body, .userList--Doc__user .body {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  cursor: pointer;
  position: relative;
}

.userList--noDoc__user .body .label, .userList--Doc__user .body .label {
  height: 32px;
  position: absolute;
  right: 10px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #dadada;
  padding-left: 20px;
}

.userList--noDoc__user .body .label i, .userList--Doc__user .body .label i {
  margin-left: 10px;
}

.userList--noDoc__user .body span, .userList--Doc__user .body span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 4px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .userList--noDoc__user .body span, .userList--Doc__user .body span {
    text-transform: capitalize;
    font-size: 12px;
    padding: 2px;
  }
}

.userList .ddItems {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  display: none;
  z-index: 1;
  right: 0;
  color: #000;
  background: #fff;
  -webkit-box-shadow: 0 0 15px -7px black;
          box-shadow: 0 0 15px -7px black;
  border-radius: 10px;
  top: 102%;
  right: -10px;
}

.userList .ddItems > span {
  border-bottom: 1px solid #adadad;
}

.userList .ddItems > span:last-child {
  border-bottom: 0;
}

.userList .ddItems.viz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.userList .active {
  color: #ed4c14;
}

.userList .popUp {
  position: fixed;
  top: 19%;
  height: 460px;
  width: 410px;
  background-color: #fff;
  z-index: 3;
  border-radius: 10px;
  left: 50%;
  margin-left: -205px;
  text-align: center;
  padding-bottom: 20px;
  overflow: scroll;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: fromDown 0.5s ease-out forwards;
          animation: fromDown 0.5s ease-out forwards;
}

.userList .popUp .sendInput {
  clear: both;
  width: 110px;
  margin: 0 30%;
  margin-top: 30px;
  border: 0;
  border: 1px solid #26943f;
  background: #fff;
  color: #41902d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
}

.userList .popUp .sendInput:hover {
  background: #41902d;
  color: #fff;
}

.userList .popUp input {
  background: transparent;
  border: 0;
  padding: 20px;
  border: 1px solid #d9d9d9;
  text-align: center;
  padding: 20px 0;
  -webkit-appearance: none;
}

.userList .popUp::-webkit-scrollbar {
  width: 0;
}

.userList .popUp .deleteDiv {
  max-width: 60%;
  margin: 0 auto;
  text-transform: capitalize;
  background: #f5222d;
  padding: 8px 5px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 3px solid #dc3545;
  color: #ffffff;
}

.userList .popUp img {
  width: 100%;
  padding: 20px;
}

.userList .popUp .uploadSendBtn {
  position: relative;
  position: relative;
  background: #e6e6e6;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.userList .popUp .uploadSendBtn.disabled {
  color: #ccc;
  pointer-events: none;
  cursor: not-allowed;
}

.userList .popUp .uploadSendBtn:hover {
  background-color: #ed4c14;
  color: #fff;
}

.userList .popUp .uploadSendBtn i {
  position: relative;
}

.userList .popUp .avatar-uploader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.userList .popUp > i {
  color: #ed4c14;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.userList .popUp .title {
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
}

.backDrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.349);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@-webkit-keyframes fromDown {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes fromDown {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*# sourceMappingURL=style.css.map */