.accountInfo {
  display: flex;
  flex-flow: column;
  padding-bottom: 65px;
  padding-top: 10px;
  width: 100%;
  box-shadow: 0px -3px 20px -15px black;
  background-color: #ebeced;
  font-family: Roboto;
}
.info {
  text-transform: uppercase;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    color: #75aedc;
    margin-right: 5px;
    font-size: 20px;
  }
}
.leftMenuAcc {
  position: relative;
  background-color: #fff;
  width: 100%;
  text-transform: uppercase;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  > div {
    border-right: 1px solid #adadad;
    padding: 15px;
    cursor: pointer;
    &:hover,
    &.active {
      border-bottom: 2px solid var(--accent-bg);
    }
  }
}
.contentAcc {
  flex-grow: 1;
  background: #ebeced;
  width: 100%;
  max-width: 1371px;
  margin: 0 auto;
  .ant-btn {
    border-radius: 0;
    background: var(--accent-bg);
    border: 0;
    padding: 0 40px;
  }
  .changePassword {
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    .ant-form-item {
      display: flex;
    }
    .ant-form-item-label {
      width: 40%;
    }
    .ant-form-item-control-wrapper {
      width: 60%;
    }
    h2 {
      color: var(--accent-bg);
      font-weight: 300;
      text-align: center;
    }
  }
}
.ant-col {
  text-align: left;
  color: #222;
}
.ant-form-item-control input {
  width: 100%;
}
.userList {
  display: flex;
  flex-flow: column;
  padding-bottom: 100px;
  @media (max-width: 1024px) {
    padding: 30px 10px;
  }
  .title {
    font-size: 24px;
    color: #32424e;
    font-weight: 500;
    border-bottom: 1px solid #c2cad1;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
  }
  .noUsers {
    i {
      color: rgb(81, 199, 81);
      font-size: 20px;
    }
  }
  .header {
    background-color: #f5f5f5;
    text-transform: uppercase;
    display: flex;
    flex-flow: row;
    span {
      flex-grow: 1;
      width: 100%;
      padding: 5px 10px;
      border-left: 1px solid #fff;
      font-weight: 500;
      color: #32424e;
      white-space: nowrap;
      background-color: #f5f5f5;
      font-size: 14px;
      text-transform: capitalize;
      &:nth-child(1) {
        width: 40%;
      }
      &:nth-child(2) {
        width: 90%;
      }
      &:nth-child(3) {
        width: 150%;
      }
      &:last-child {
        width: 120%;
      }
      @media (max-width: 1024px) {
        text-transform: capitalize;
        font-size: 12px;
        padding: 2px;
      }
    }
  }
  &--noDoc,
  &--Doc {
    &__user {
      display: flex;
      flex-flow: column;
      text-align: left;
      background-color: #fff;
      border-bottom: 1px solid #dadada;
      border-left: 3px solid transparent;

      &.hasChildren {
        border-left: 3px solid var(--accent-bg);
      }
      &:nth-child(even) {
        background-color: #f5f5f5;
      }
      &:last-child {
        border-bottom: 0;
      }
      .body {
        border-right: 1px solid #f5f5f5;

        text-transform: uppercase;
        display: flex;
        flex-flow: row;
        cursor: pointer;
        position: relative;
        .label {
          height: 32px;
          position: absolute;
          right: 0;
          top: 0;
          display: flex;
          align-items: center;
          border-left: 1px solid #dadada;
          padding-left: 20px;
          width: 115px;
          text-align: right;
          justify-content: flex-end;
          i {
            margin-left: 10px;
          }
        }
        span {
          flex-grow: 1;
          width: 100%;
          padding: 4px 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: flex;
          justify-content: space-between;
          text-transform: capitalize;
          font-size: 14px;
          &:nth-child(1) {
            width: 40%;
          }
          &:nth-child(2) {
            width: 90%;
          }
          &:nth-child(3) {
            width: 150%;
          }
          &:last-child {
            width: 120%;
            display: flex;
            align-items: center;
            i {
              width: 15px;
            }

            button {
              border: 0;
              border-radius: 3px;
              border: 1px solid #32424e;
              background-color: transparent;
              font-size: 12px;
              transition: 0.3s;
              &:hover {
                background-color: #32424e;
                color: #fff;
              }
            }
          }
          @media (max-width: 1024px) {
            text-transform: capitalize;
            font-size: 12px;
            padding: 2px;
          }
        }
      }
      .fa-store,
      .fa-user-tie,
      .fa-user {
        position: relative;
        top: 3px;
        margin-right: 2px;
        margin-left: 10px;
      }
    }
  }
  .ddItems {
    position: absolute;
    flex-flow: column;
    display: none;
    z-index: 1;
    right: 0;
    color: #000;
    background: #fff;
    box-shadow: 0 0 15px -7px black;
    border-radius: 10px;
    top: 102%;
    right: -10px;
    > span {
      border-bottom: 1px solid #adadad;
      &:last-child {
        border-bottom: 0;
      }
    }
    &.viz {
      display: flex;
    }
    > span {
      width: 100% !important;
    }
  }
  .active {
    color: var(--accent-bg);
  }
  .popUp {
    width: 100%;
    position: fixed;
    top: 19%;
    height: 460px;
    max-width: 410px;
    background-color: #fff;
    z-index: 4;
    border-radius: 0px;
    left: 50%;
    margin-left: -188px;
    text-align: center;
    padding-bottom: 20px;
    overflow: scroll;
    transition: 0.3s;
    animation: fromDown 0.5s ease-out forwards;
    .inpgr {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 42px;
      border: 1px solid #dadada;
      width: 100%;
      max-width: 70%;
      border-radius: 5px;
      margin: 0 auto;
      .inplabel {
        text-transform: uppercase;
        text-align: left;
        font-size: 14px;
        height: 100%;
        display: flex;
        align-items: center;
        width: 50%;
        flex-grow: 1;
        padding-left: 20px;
        border-right: 1px solid #dadada;
      }
      input {
        border: 0;
        height: 100%;
        width: 50%;
        flex-grow: 1;
        text-align: right;
        padding-right: 5px;

        &::placeholder {
          text-align: right;
          padding-right: 5px;
        }
      }
    }
    .sendInput {
      clear: both;
      width: 110px;
      margin: 0 20px;
      margin-top: 30px;
      border: 0;
      border: 2px solid #00b850;
      background: #fff;
      color: #00b850;
      transition: 0.3s;
      font-weight: 500;
      height: 42px;
      &:hover {
        background: #00b850;
        color: #fff;
      }
      &.cancelInput {
        color: #7e7e7e;
        border-color: #7e7e7e;
        &:hover {
          background: #7e7e7e;
          color: #fff;
        }
      }
    }
    input {
      background: transparent;
      border: 0;
      // padding: 20px;
      border: 1px solid #d9d9d9;
      text-align: center;
      // padding: 20px 0;
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar {
      width: 0;
    }
    .deleteDiv {
      max-width: 60%;
      margin: 0 auto;
      text-transform: capitalize;
      background: #f5222d;
      padding: 8px 5px;
      cursor: pointer;
      margin-bottom: 10px;
      border: 3px solid #dc3545;
      color: #ffffff;
    }
    img {
      width: 100%;
      padding: 20px;
    }
    // .fa-trash-alt {
    //   position: absolute;
    //   bottom: 0;
    //   left: 50%;
    //   margin-left: -10px;
    //   width: 20px;
    //   bottom: 10px;
    //   height: 20px;
    //   top: unset;
    // }
    .uploadSendBtn {
      position: relative;
      position: relative;
      background: #e6e6e6;
      border: 0;
      padding: 10px 20px;
      text-transform: uppercase;
      transition: 0.4s;
      &.disabled {
        color: #ccc;
        pointer-events: none;
        cursor: not-allowed;
      }
      &:hover {
        background-color: var(--accent-bg);
        color: #fff;
      }
      i {
        position: relative;
      }
    }
    .avatar-uploader {
      display: flex;
      justify-content: center;
      padding-top: 20px;
    }
    > i {
      color: var(--accent-bg);
      font-size: 20px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
    .title {
      text-align: left;
      padding-top: 10px;
      text-transform: uppercase;
      padding: 15px;
      padding-bottom: 0;
      + p {
        text-align: left;
        padding: 0 15px;

        line-height: 0;
        font-size: 13px;
        border-bottom: 1px solid #dbdbdb;
        padding-bottom: 20px;
      }
    }
    ul {
      padding: 15px;
      li {
        list-style-type: none;
        text-align: left;
        border-bottom: 1px solid #c2cad1;
        padding-bottom: 10px;
        padding-top: 10px;

        span {
          font-weight: 600;
        }
      }
    }
  }
}
.backDrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.349);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@keyframes fromDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.fastCarica {
  flex-grow: 1;
  padding-left: 10px;
  display: flex;
  flex-flow: row wrap;
  font-size: 15px;
  .addFounds {
    background-color: transparent;
    border: 0;
    margin-left: auto;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    background-color: var(--accent-bg);
    border-radius: 4px;
    &:hover {
      border-color: var(--accent-bg);
    }
  }
  .amountGr {
    display: flex;
    width: 100%;
    max-width: 180px;
    align-items: center;
    padding-left: 15px;
    border: 2px solid #dadada;
    background-color: #fff;
    margin-left: 15px;
    border-radius: 4px;
    position: relative;
    .label {
      height: 100%;
      align-items: center;
      display: flex;
      padding-right: 10px;
      border-right: 2px solid #dadada;
    }
    input {
      width: 50%;
      flex-grow: 1;
      border: 0;
      background-color: transparent;
      text-align: right;
      padding-right: 15px;
    }
    > div {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      i {
        font-size: 20px;
        color: #f5222d;
      }
    }
  }
  .searchUser {
    display: flex;
    width: 100%;
    max-width: 240px;
    position: relative;
    align-items: center;
    padding-left: 15px;
    border: 2px solid #dadada;
    background-color: #fff;
    margin-left: 15px;
    border-radius: 4px;
    input {
      width: 100%;
      border: 0;
      background-color: transparent;
    }
    i {
      position: absolute;
      right: 8px;
      top: 9px;
    }
  }
  .switchGr {
    border: 2px solid #dadada;
    background-color: #fff;
    width: 100%;
    max-width: 240px;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    text-align: center;
    position: relative;
    height: 36px;
    overflow: hidden;
    > span {
      flex-grow: 1;
      width: 100%;
      text-transform: capitalize;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      &.active {
        background-color: var(--accent-bg);
        color: #fff;
      }
      &:first-child {
        border-right: 2px solid #dadada;
      }
      &.or {
        position: absolute;
        left: 50%;
        width: 27px;
        margin-left: -14px;
        cursor: default;
        top: 3px;
        background: #fff;
        border-radius: 20px;
        border: 2px solid #dadada;
        height: 27px;
      }
    }
  }
}
.ddUsers {
  position: absolute;
  top: 35px;
  z-index: 1;
  background: #fff;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-flow: column;
  height: 400px;
  overflow: scroll;
  left: 2px;
  > span {
    padding: 3px 0;
    cursor: pointer;
    &:hover {
      color: var(--accent-bg);
    }
  }
}
.azcont {
  background-color: #3c4349;
}

@media (max-width: 1024px) {
  .userList .title,
  .fastCarica {
    display: flex;
    flex-flow: column;
  }
  .fastCarica {
    padding-left: 0;
  }
  .switchGr,
  .searchUser,
  .amountGr,
  .addFounds {
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 10px !important;
  }
  .fastCarica .searchUser,
  .fastCarica .amountGr {
    margin-left: 0;
  }
  .addFounds {
    height: 40px;
  }
  .userList .header,
  .singleUser {
    span:nth-child(3),
    span:nth-child(5),
    span:nth-child(6),
    span:nth-child(7) {
      display: none;
    }
  }
  .userList--noDoc__user .body span:last-child,
  .userList--Doc__user .body span:last-child,
  .userList .header span:last-child {
    width: 220%;
  }
}
body .userDetailPopup {
  position: fixed;
  width: 100vw;
  height: auto;
  top: 10%;
  left: 50%;
  background-color: #fff;
  max-width: 770px;
  margin-left: -380px;
  z-index: 3;
  .closeBtn {
    position: absolute;
    right: 10px;
    cursor: pointer;
    &:hover {
      color: var(--red);
    }
  }
  .newReg--header {
    background-color: var(--accent-bg);
    color: var(--accent-txt);
    position: relative;
  }
  .inputLabel {
    font-size: 12px;
  }
  input[readonly] {
    color: #9b9ea0;
  }
  .ant-select {
    width: 100%;
  }
  .SubmitButton {
    padding: 4px 30px;
    border-radius: 3px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.isopenrow {
  // box-shadow: 0 12px 26px -9px black;
  position: relative;
  z-index: 1;
  // &:before {
  //   content: " ⤹ ";
  //   position: absolute;
  //   left: -16px;
  //   top: 10px;
  //   color: var(--accent-bg);
  //   transform: rotate(45deg);
  //   font-size: 22px;
  // }
  &.level1 {
    z-index: 1;
    .hasChildren {
      border-left: 0 !important;
    }
  }
}
.userDropAnch {
  padding-left: 10px; //default
  flex-grow: 0;
  max-width: 150px;
  position: relative;
}

.mpIcon {
  position: absolute;
  left: 0px;
  top: 8px;
  background: #fff;
  color: #777676;
  z-index: 1;
}
.hasChildren {
  .userDropAnch:before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 6px;
    border-left: 1px dashed #777676;
  }
}

.wrapppper {
  .userDropAnch:before {
    height: 100%;
    top: 0;
    left: 3px;
    border-left: 1px dashed #777676;
  }
  .userDropAnch:after {
    content: "";
    position: absolute;
    width: 21px;
    left: 6px;
    top: 14px;
    border-bottom: 1px dashed #777676;
    z-index: 0;
  }
}
.isopenrow > .body,
.hasChildren > .body {
  .userDropAnch:before {
    content: "";
    position: absolute;
    height: calc(50% - 3px);
    top: 22px;
    left: 6px;
    border-left: 1px dashed #777676;
  }
  .userDropAnch:after {
    content: "";
    position: absolute;
    width: 21px;
    left: 0;
    top: 14px;
    border-bottom: 1px dashed #777676;
    z-index: 0;
  }
}
html body .wrapppper .singleUser:last-child > .body {
  .userDropAnch:before {
    height: 50% !important;
  }
}
.level1 > .body .isPlus:before {
  display: none;
}
div {
  &.level2,
  &.level3,
  &.level4,
  &.level5 {
    .isMinus:before,
    .isPlus:before {
      height: 100% !important;
      top: 0 !important;
    }
  }
}
.userList {
  & .Confirma {
    position: fixed;
    left: calc((100% - 500px) / 2);
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    background: #f3f3f3db;
    align-items: center;
    top: calc((100% - 200px) / 2);
    padding: 0;
    z-index: 3;
    & .Message {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      & div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 10px;
        font-weight: 400;
        font-family: "Roboto";
        font-style: 16px;
        &.Buttons {
          padding-top: 15px;
          & button {
            width: 60px;
            height: 33.5px;
            box-sizing: border-box;
            &:first-child {
              border: none;
              outline: none;
              color: #ffffff;
              background: #00b850;
              padding: 6px 20px;
              margin: 0 15px;
            }
            &:nth-child(2) {
              border: none;
              outline: none;
              color: #ffffff;
              background: #f5222d;
              padding: 6px 20px;
              margin: 0 15px;
            }
          }
        }
      }
    }
  }
}
