//@at-root

.mobileWrapper.prenotation {
  padding-top: 106px;
}
.prenotation {
  &--services {
    display: flex;
    align-items: center;
    padding: 18px;
    background-color: #fff;

    .wrapperServices {
      display: flex;
      align-items: center;
      overflow-x: auto;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    &__item {
      width: 100px;
      height: 95px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 5px;
      color: #fff;
      border-radius: 5px;
      position: relative;
      border: 1px solid #dedede;
      color: #222;
      &.active {
        background-color: #eaebec;
        color: var(--accent-bg);
        border-color: var(--accent-bg);
        border-width: 2px;
      }

      img {
        width: 60%;
        height: 50%;
        object-fit: contain;
        position: relative;
        bottom: 10px;
        &.luce-gas {
          filter: grayscale(1) brightness(0.3);
        }
        &.flixbus {
          width: 70px;
        }
        &.stubhub {
          width: 70px;
        }
        &.vivaticket {
          width: 70px;
        }
      }
      span {
        position: absolute;
        bottom: 10px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1.2px;
      }
    }
  }
  &--view {
    padding-bottom: 25px;
  }
  .formsContainer--body {
    margin-top: 0;
  }
  .formsContainer--body .rightForm--left {
    padding: 0 !important;
  }
  .formsContainer--body__item {
    padding: 0 18px;
    flex-flow: column !important;
    width: 100% !important;
    .formsContainer--body__item {
      padding: 0 !important;
    }
  }

  .formsContainer--body .rightForm--header {
    height: 54px;
    background-color: var(--accent-bg);
    color: var(--accent-txt);
    padding: 0 18px;

    .TitleBack {
      font-size: 16px;
      color: #fff;
      i {
        color: #fff;
        font-weight: 600;
      }
    }
  }
  .travalersSelector {
    width: 100%;
  }
  .formsContainer--body__item input,
  .formsContainer--body__item .radioGr,
  .formsContainer--body__item select,
  .formsContainer--body__item .ant-select-selection--single {
    background-color: #fff;
    border: 1px solid #eaebec;
  }
  .adult,
  .child {
    .header {
      height: 48px;
      background-color: #eaebec;
      display: flex;
      align-items: center;
      padding: 0 18px;
      margin-top: 18px;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .formsContainer--body .rightForm--right {
    padding: 0;
    margin-top: 18px;
    background-color: #fff;
    padding-top: 18px;
  }
  .voli,
  .treni {
    .rightForm--left {
      .formsContainer--body__item:first-child {
        padding: 0 !important;
        .label {
          height: 48px;
          background-color: #eaebec;
          display: flex;
          align-items: center;
          padding: 0 18px;
          width: 100%;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }

  .formsContainer--body__item .ant-select-selection--single {
    background-color: #fff;
    height: 40px;
  }
  .travalersSelector {
    display: none;
  }
  .travalersSelectorDD {
    position: relative;
    top: 0;
    box-shadow: 0 0 black;
    background: #fff;
    padding: 0;
    &--item {
      padding: 0 18px;
      height: 50px;
      font-size: 16px;
      border-bottom: 1px solid #eaebec;
      padding-right: 0;
      > div {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        i {
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-right: 1px solid #eaebec;
          border-left: 1px solid #eaebec;
          height: 100%;
          &:first-child {
            margin-right: 20px;
            margin-left: 0;
          }
          &:last-child {
            margin-left: 20px;
            margin-right: 0;
          }
        }
      }
    }
  }
  .formsContainer--body__item .label {
    font-size: 16px;
    font-weight: 500;
  }
  .formsContainer--body__item button.Genere {
    top: 19px;
  }
  .formsContainer--body__item.hasInfo:before {
    left: 25px;
    top: 32px;
  }
  .formsContainer > h1 {
    margin: 0;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--accent-bg);
    color: var(--accent-txt);
    font-size: 16px;
    text-transform: capitalize;
    padding: 0 15px;
  }
  .visureHeader > div {
    width: 50%;
    white-space: nowrap;
  }
  .visureHeader > div:nth-child(1) {
    display: none;
  }
  .visures {
    margin: 0;
    display: flex;
    flex-flow: column;
    .itemWrapper {
      height: auto;
    }
    &--services,
    &--form {
      width: 100%;
    }
  }
}
@media (max-width: 1024px) {
  .rightForm--subtitle,
  .rightForm--categories {
    padding: 0 18px;
  }
  .formsContainer--body__checks,
  .download-bar,
  .formsContainer--body__checks2 {
    margin: 0 18px;
    i {
      font-size: 17px;
    }
  }
  .genCF {
    right: 18px;
  }
  .PrenotazioniMob {
    .inputI {
      right: 18px;
    }
  }
  .generateCodiceFiscale {
    width: 90%;
  }
}
img[alt="visure-mobile"] {
  filter: grayscale(1) invert(1);
}
