.mobileWrapper.prenotation {
  padding-top: 106px;
}

.prenotation--services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
  background-color: #fff;
}

.prenotation--services .wrapperServices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
}

.prenotation--services .wrapperServices::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.prenotation--services__item {
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 5px;
  color: #fff;
  border-radius: 5px;
  position: relative;
  border: 1px solid #dedede;
  color: #222;
}

.prenotation--services__item.active {
  background-color: #eaebec;
  color: var(--accent-bg);
  border-color: var(--accent-bg);
  border-width: 2px;
}

.prenotation--services__item img {
  width: 80%;
  position: relative;
  bottom: 10px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.prenotation--services__item span {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.7px;
}

.prenotation--view {
  padding-bottom: 60px;
}

.prenotation .formsContainer--body {
  margin-top: 0;
}

.prenotation .formsContainer--body .rightForm--left {
  padding: 0 !important;
}

.prenotation .formsContainer--body__item {
  padding: 0 18px;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-flow: column !important;
          flex-flow: column !important;
  width: 100% !important;
}

.prenotation .formsContainer--body__item .formsContainer--body__item {
  padding: 0 !important;
}

.prenotation .treni .rightForm--header,
.prenotation .eventi .rightForm--header {
  margin-bottom: 18px;
}

.prenotation .formsContainer--body .rightForm--header {
  height: 54px;
  background-color: var(--accent-bg);
  color: var(--accent-txt);
  padding: 0 18px;
}

.prenotation .formsContainer--body .rightForm--header .TitleBack {
  font-size: 16px;
}

.prenotation .travalersSelector {
  width: 100%;
}

.prenotation .formsContainer--body__item input,
.prenotation .formsContainer--body__item .radioGr,
.prenotation .formsContainer--body__item select,
.prenotation .formsContainer--body__item .ant-select-selection--single {
  background-color: #fff;
  border: 1px solid #eaebec;
}

.prenotation .adult .header,
.prenotation .child .header {
  height: 48px;
  background-color: #eaebec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px;
  margin-top: 18px;
  font-size: 16px;
  font-weight: 500;
}

.prenotation .formsContainer--body .rightForm--right {
  padding: 20px;
  margin-top: 18px;
  background-color: #eaebec;
}

.prenotation .voli .rightForm--left .formsContainer--body__item:first-child {
  padding: 0 !important;
}

.prenotation .voli .rightForm--left .formsContainer--body__item:first-child .label {
  height: 48px;
  background-color: #eaebec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.prenotation .formsContainer--body__item .ant-select-selection--single {
  background-color: #fff;
  height: 40px;
}

.prenotation .travalersSelector {
  display: none;
}

.prenotation .travalersSelectorDD {
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 0 black;
          box-shadow: 0 0 black;
  background: #fff;
  padding: 0;
}

.prenotation .travalersSelectorDD--item {
  padding: 0 18px;
  height: 50px;
  font-size: 16px;
  border-bottom: 1px solid #eaebec;
  padding-right: 0;
}

.prenotation .travalersSelectorDD--item > div {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.prenotation .travalersSelectorDD--item > div i {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #eaebec;
  border-left: 1px solid #eaebec;
  height: 100%;
}

.prenotation .travalersSelectorDD--item > div i:first-child {
  margin-right: 20px;
  margin-left: 0;
}

.prenotation .travalersSelectorDD--item > div i:last-child {
  margin-left: 20px;
  margin-right: 0;
}

.prenotation .formsContainer--body__item .label {
  font-size: 16px;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */