.RightFormModal {
  position: fixed;
  width: 80vw;
  top: 101px;
  margin: calc((50vh - 101px) / 2) 15vw;
  height: 50vh;
  z-index: 6;
  box-shadow: 0 3px 6px 1px #0000008c;

  & .Header {
    position: absolute;
    width: calc(100% - 5.9vw);
    z-index: 7;
    background: #353d45;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    padding-left: 3vw;
    align-items: center;
    font-size: calc(1.05vw + 1.05vh);
    letter-spacing: 1.3px;
    font-family: "Roboto";
    font-weight: 200;
    height: 5.5vh;
    box-sizing: border-box;
  }

  & .Close {
    position: absolute;
    z-index: 7;
    background: #353d45;
    left: calc(100% - 5.9vw);
    width: 6vw;
    height: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    display: flex;
    box-sizing: border-box;
    & i {
      color: #ffffff;
      font-weight: 300;
      font-size: calc(1vw + 1vh);
    }
  }
  & .backDrop {
    top: 101px;
    height: calc(100vh - 71px);
    width: calc(100vw);
    z-index: 4;
    left: 0;
  }
  & .Statistiche.Dropdown {
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 5.5vh;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 6;
    background: #272c31;
    & .Graph {
      width: 100%;
      height: 85%;
      z-index: 6;
      padding: 0 5%;
      padding-top: 8vh;
      background: #272c31;
      &--Element {
        margin: 0px 0.5%;
        opacity: 1;
        background: rgba(255, 255, 255, 0.2);
        width: 2%;
        &.active,
        &:hover {
          background: #0578fc;
          opacity: 1;
        }
      }
    }
    & .Date {
      font-size: calc(1vw + 1vh);
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
      min-width: 80px;
      align-items: center;
      top: 1vh;
      & div {
        &:first-child {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }
        &:nth-child(2) {
          position: absolute;
          right: -0.4vw;
          @media (max-width: 550px) {
            right: 1vw;
          }
          top: -1vh;
          & i {
            top: -0.7vh;
            font-size: calc(1.1vw + 1.1vh);
            position: relative;
            color: #ffffff;
          }
        }
        & span {
          &:first-child {
            font-size: 30px;
            font-weight: 300;
            color: #ffffff;
            height: 38px;
            left: auto;
            top: auto;
          }
          &:nth-child(2) {
            position: relative;
            font-size: calc(0.9vw + 0.9vh);
            font-weight: 400;
            left: 0.5vw;
          }
        }
      }
    }
    & .Tranzacioni {
      width: 100%;
      height: 15%;
      z-index: 6;
      background-color: #353d45;
      & div {
        height: 100%;
        border: none;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        & span {
          font-size: calc(1.05vw + 1.05vh);
          &:first-child {
            color: rgba(255, 255, 255, 0.5);
          }
          &:nth-child(2) {
            color: #ffffff;
            font-size: calc(0.95vw + 0.95vh);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1320px) and (min-width: 1024px) {
  .RightFormModal {
    width: 50vw;
    height: 50vh;
    margin: calc((50vh - 100px) / 2) 25vw !important;
    .AdminRightForm--Box--LeUltime--Dropdown {
      padding-top: 6vh !important;
      .AdminRightForm--Box--LeUltime--Dropdown--Row {
        span {
          font-size: calc(0.7vw + 0.7vh);
        }
      }
    }

    .Graph {
      padding: 0 3% !important;
    }

    .Statistiche.Dropdown,
    .Graph {
      padding-top: 6.5vh !important;
    }

    .Tranzacioni {
      div {
        span {
          &:first-child {
            font-size: calc(0.68vw + 0.68vh) !important;
          }
          &:nth-child(2) {
            font-size: calc(0.88vw + 0.88vh) !important;
          }
        }
      }
    }
    .Close {
      height: 6.5vh !important;
    }
    .Header {
      font-size: calc(1.1vw + 1.1vh) !important;
      height: 6.5vh !important;
    }
  }
}
@media (max-width: 550px) {
  .RightFormModal {
    width: 75vw !important;
    margin: calc(25vh - 80.5px) 12.5vw !important;
    .Header {
      width: calc(100% - 7.9vw) !important;
    }
    .Close {
      left: calc(100% - 7.9vw) !important;
      width: 8vw !important;
    }
    & .Statistiche.Dropdown {
      & .Graph {
        &--Element {
          margin: 0px 0.5%;
          width: 2%;
        }
      }

      & .Tranzacioni {
        width: 100%;
        height: 15%;
        z-index: 6;
        & div {
          height: 100%;
          & span {
            font-size: calc(1.1vw + 1.1vh);
            &:first-child {
              font-size: calc(0.9vw + 0.9vh);
            }
          }
        }
      }
    }
  }
}
