.RightFormModal {
  position: fixed;
  width: 80vw;
  top: 101px;
  margin: calc((20vh - 71px) / 2) 10vw;
  height: 80vh;
  z-index: 5;
  -webkit-box-shadow: 0 3px 6px 1px #0000008c;
          box-shadow: 0 3px 6px 1px #0000008c;
}

.RightFormModal .Header {
  position: absolute;
  width: calc(100% - 8.25vw);
  z-index: 7;
  background: #353d45;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 3vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(1.6vw + 1.6vh);
  font-family: "Roboto";
  height: 7vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.RightFormModal .Close {
  position: absolute;
  z-index: 7;
  background: #c53f3f;
  left: calc(100% - 8.9vw);
  width: 9vw;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(1.6vw + 1.6vh);
  font-family: "Roboto";
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.RightFormModal .Close i {
  color: #ffffff;
  font-weight: 400;
  font-size: calc(1.6vw + 1.6vh);
}

.RightFormModal .backDrop {
  top: 101px;
  height: calc(100vh - 71px);
  width: calc(100vw - 51px);
  left: 51px;
  z-index: 4;
}

.RightFormModal .Statistiche.Dropdown {
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 7vh;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 6;
}

.RightFormModal .Statistiche.Dropdown .Graph {
  width: 100%;
  height: 85%;
  z-index: 6;
  padding: 0 5%;
  padding-top: 7vh;
  background: #272c31;
}

.RightFormModal .Statistiche.Dropdown .Graph--Element {
  margin: 0px 0.5%;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
  width: 2%;
}

.RightFormModal .Statistiche.Dropdown .Graph--Element.active, .RightFormModal .Statistiche.Dropdown .Graph--Element:hover {
  background: #0578fc;
  opacity: 1;
}

.RightFormModal .Statistiche.Dropdown .Date {
  font-size: calc(1vw + 1vh);
  width: auto;
  top: 0;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RightFormModal .Statistiche.Dropdown .Date i {
  font-size: calc(1.2vw + 1.2vh);
  position: relative;
  color: #ffffff;
  top: -3vh;
  left: -0.5vw;
}

.RightFormModal .Statistiche.Dropdown .Date div span:first-child {
  font-size: calc(2.5vw + 2.5vh);
  font-weight: 300;
  color: #ffffff;
}

.RightFormModal .Statistiche.Dropdown .Date div span:nth-child(2) {
  position: relative;
  font-size: calc(1.2vw + 1.2vh);
  font-weight: 400;
  top: -2vh;
  left: 2vw;
}

.RightFormModal .Statistiche.Dropdown .Tranzacioni {
  width: 100%;
  height: 15%;
  z-index: 6;
  background-color: #353d45;
}

.RightFormModal .Statistiche.Dropdown .Tranzacioni div {
  height: 100%;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.RightFormModal .Statistiche.Dropdown .Tranzacioni div span {
  font-size: calc(1.2vw + 1.2vh);
}

.RightFormModal .Statistiche.Dropdown .Tranzacioni div span:first-child {
  color: rgba(255, 255, 255, 0.5);
}

.RightFormModal .Statistiche.Dropdown .Tranzacioni div span:nth-child(2) {
  color: #ffffff;
}

@media (max-width: 550px) {
  .RightFormModal {
    margin: calc((25vh - 121px) / 2) calc(12.5vw + 15px) !important;
    width: 75vw;
    height: 75vw;
  }
  .RightFormModal .Statistiche.Dropdown .Graph--Element {
    margin: 0px 0.5%;
    width: 2%;
  }
  .RightFormModal .Statistiche.Dropdown .Date {
    font-size: calc(1.5vw + 1.5vh);
  }
  .RightFormModal .Statistiche.Dropdown .Date i {
    font-size: calc(1.5vw + 1.5vh);
    position: relative;
    top: -3vh;
    left: -0.5vw;
  }
  .RightFormModal .Statistiche.Dropdown .Date div span:first-child {
    font-size: calc(2.8vw + 2.8vh);
    font-weight: 500;
  }
  .RightFormModal .Statistiche.Dropdown .Date div span:nth-child(2) {
    position: relative;
    font-size: calc(1.5vw + 1.5vh);
    font-weight: 400;
    top: -2vh;
    left: 2vw;
  }
  .RightFormModal .Statistiche.Dropdown .Tranzacioni {
    width: 100%;
    height: 15%;
    z-index: 6;
    background-color: #ffffff;
  }
  .RightFormModal .Statistiche.Dropdown .Tranzacioni div {
    height: 100%;
  }
  .RightFormModal .Statistiche.Dropdown .Tranzacioni div span {
    font-size: calc(1.4vw + 1.4vh);
  }
}
/*# sourceMappingURL=aRFSD.css.map */