html {
  --accent-bg: #212121;
  --accent-txt: #c3c3c3;
  --header-bg: #272727;
  --header-txt: #fff;
  --footerTop-bg: #2b2b2b;
  --footerTop-txt: #fff;
}
.logo img {
  width: 160px;
}
body .panels-container,
body .favorites,
body .chatSticky,
body .accountInfo {
  background: #3c3c3c !important;
  color: #fff;
}

body .panel-tab {
  background: #585858;
  border-bottom: 1px solid #313131;
  color: #fff;
  box-shadow: inset 0px 1px #767676;
}
body .panel-tab h4 {
  color: #fff;
}
body .panel-tab:hover {
  background-color: #000000;
}
body .favorites .title {
  color: #fff;
}
body {
  background: #3c3c3c !important;
}
.panel-services td p {
  color: #222;
}
.login .title i,
.login .title div,
.login ul li .loginBtn {
  color: #fff !important;
}
.carica-conto h3 {
  color: #fff !important;
}
.sort-annunci .heading-tab {
  color: #fff;
}
body .sort-annunci {
  border-bottom: 1px solid #000000;

  background-color: #545454;
  color: #fff;
}
.inputsConf label {
  color: #222;
}
body .panel-tab .date-pane,
.sort-annunci li span {
  color: #fff !important;
}
.panel-content-annunci {
  border-color: #222 !important;
}
.contentAcc {
  color: #222;
}
.transTable,
.rdrStaticRangeLabel {
  color: #222;
}
.sort-annunci .dal,
.formsContainer > h1 {
  color: #fff !important;
}
.panel-services {
  background: #e3e4e5 !important;
}

body .panel-services td {
  border: 1px solid #8f8f8f;
  box-shadow: inset 0 0 0 1px #ffffff;
  /* margin-top: 10px; */
}
body .tab-content > .tab-pane {
  padding-top: 9px !important;
}
.servicesContainer:hover::-webkit-scrollbar-thumb {
  border: 0 !important;
}
footer .mid img {
  width: 130px !important;
}
.SDHome--Header span:first-child span:nth-child(2),
.SDHome--Header span:first-child span:first-child,
.SDHome--Cards--Card h2 {
  color: #fff !important;
}
body .DContainer .Categories div.First {
  background: #222;
  border-color: #4f4f4f;
  color: #fff;
}
body .DContainer .Categories div {
  border-top: 1px solid #424242;
  background: #2d2d2d;
  color: #a0a0a0 !important;
}
body .DContainer .Dashboard .CompaniesAndOther .Favorites div {
  background: #1d1d1d;
  color: #fff;
}
body .DContainer .Dashboard .CompaniesAndOther .Comp .Companies {
  background: #494949;
}
body .DContainer .Dashboard .CompaniesAndOther .Comp .Companies div {
  background: #2d2d2d;
  color: #fff;
  box-shadow: inset 0px 0px 1px 1px #363636;
}
body .DContainer .Dashboard .CompaniesAndOther .Comp .Search input,
body .DContainer .Dashboard .CompaniesAndOther .Comp .Search {
  background: #222;
}
body .DContainer .Dashboard .CompaniesAndOther .Comp .Search i {
  color: #fff;
}
body .ticketDetails {
  background-color: #383838;
  color: #fff;
}
body .ticketDetails--row,
body .ticketDetails--header,
body .ticketDetails--row .options > span:not(.toggler),
body .ticketDetails--row .toggler {
  border-color: #595959;
}
body .ticketDetails--header > span {
  color: #fff;
}

body .ticketDetails--infos {
  background-color: #272727;
}

body .ticketDetails--row > span:nth-child(2) div:not(.new) {
  color: #e5ca1b;
}

html body:not(.bodyAdmin) div.Container .panels-container {
  background: #272727 !important;
}
body .FaturaDomain .FauturaFilter--Header {
  color: #fff;
}
body .newReg {
  background-color: #272727;
  color: #fff;
}
body .newReg .inputLabel {
  color: #cacaca;
}
body .newReg--header,
body .ant-checkbox-wrapper {
  color: #fff;
}

.newReg .ant-input,
.newReg .ant-select-selection,
.newReg .Select-control,
.inpssWrapper,
.Select-clear-zone,
.Select-arrow-zone,
.Select-placeholder,
.Select-input,
.Select.is-focused:not(.is-open) > .Select-control,
.newReg .piva .ant-form-item-children {
  background-color: #181818 !important;
  border: 1px solid #343434 !important;
  color: #fff !important;
}
body .newReg--row {
  border-bottom: 1px solid #000000;
}
body .configura {
  background: #313131;
  color: #fff;
}
body .inputsConf label {
  color: inherit;
}

body .inputsConf input[disabled] {
  border: 1px solid #404040;
  color: #c6c6c6;
  background: #212121;
}
body .titleConf {
  background: #212121;
  color: #fff;
}
.titleConf h5,
.titleConf i {
  color: inherit !important;
}
