.FaturaDomain {
  & .panels-container {
    position: relative;
  }
  & .calendarWrapper {
    position: absolute;
    right: 0;
    margin-right: calc((100% - 1371px) / 2);
    top: 20%;
    @media (max-width: 1371px) {
      margin: 0;
    }
    @media (max-width: 1000px) {
      top: 18%;
    }
    @media (max-width: 825px) {
      top: 13%;
    }
  }
  & .FauturaFilter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    & button {
      border: none;
      color: #ebeced;
      background: #f26521;
      height: 100%;
      padding: 0 15px;
      font-size: 14px;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
    }
    &--Header {
      font-size: 20px;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      color: #3c4349;
    }
    &--CalendarLabel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #f5f5f5;
      border-radius: 5px;
      background: #ffffff;
      padding-left: 10px;
      font-size: 14px;
      font-family: "Roboto";
      font-weight: 500;
      color: #f26521;
      cursor: pointer;
      & i:first-child {
        font-size: 24px;
        color: #bfc0c0;
        padding-right: 10px;
        font-weight: 300;
      }
      & i {
        font-size: 16px;
        color: #bfc0c0;
        padding: 0 10px;
        font-weight: 600;
      }
    }
    &--Options {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      min-width: 45%;
      height: 100%;
      & div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & div:first-child {
        position: relative;
        & .Search {
          position: absolute;
          width: 30%;
          right: 0;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        & i.fa-search {
          width: 20px;
          height: 21px;
          font-size: 20px;
          color: #bfc0c0;
          font-weight: 300;
        }
      }
      & input,
      & .Ricerca {
        width: 165px;
        border: 1px solid #f5f5f5;
        font-size: 14px;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        color: #bfc0c0;
        background: #ffffff;
        height: 100%;
        display: flex;
        padding-left: 10px;
        justify-content: flex-start;
        align-items: center;
        border-radius: 5px;
        margin-right: 8px;
      }
      & input {
        border: none;
        outline: none;
        width: 123px;
        width: 75%;
      }
    }
  }
  & div.FaturaTable {
    width: 100%;
    & table.transTable {
      width: 100%;
      & .wsNwp {
        & i {
          position: relative;
          font-weight: 300;
          font-size: 24px;
          top: 0;
          color: #32424e;
          font-family: "Font Awesome 5 Pro";
        }
      }
      & tbody {
        & .wsNwp {
          &:last-child {
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
        }
      }
    }
  }
}
