// .itemCol.full-radio {
// display: flex;
// justify-content: space-evenly;
// align-items: center;
// position: relative;
// bottom: -8px;
// }
// .itemCol.full.Bagalio {
// position: relative;
// bottom: -4px;
// }

textarea {
  color: #5c5c5c;
  font-weight: 600;
  font-size: 14px;
  width: 50%;
  border: 0;
  padding: 4px 11px;
  border: none;
  outline: none;
  resize: none !important;
  background: #fff;
}
.invisible {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.rowForButton {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
}
.disabled {
  opacity: 0.7;
}
.formsDetails {
  display: flex;
  flex-flow: column;
}

.ticketDetails {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  width: 100%;
  max-width: 1135px;
  margin: 30px auto;
  &--filters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;

    &__byTicket {
      margin-left: auto;
      display: flex;
      width: 100%;
      .ant-switch {
        margin-right: 20px;
        @media (max-width: 768px) {
          margin: 0;
        }
      }
      > i {
        background-color: #e3e4e5;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 40px;
        margin-right: 5px;
        &:nth-child(1) {
          margin-left: auto;
        }
      }
    }
  }
  &--header {
    width: 100%;
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid #ebeced;
    > span {
      width: auto;
      flex-grow: 1;
      padding: 15px;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      color: #5c5c5c;
      @media (max-width: 768px) {
        font-size: 12px;
        text-transform: capitalize;
      }
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        @media (max-width: 768px) {
          display: none !important;
        }
      }
      &:nth-child(4) {
        width: 18%;
      }
      &:nth-child(5) {
        width: 8%;
      }
      &:nth-child(6) {
        width: 14%;
      }
      &:nth-child(3) {
        width: 6%;
      }
      &:nth-child(2) {
        width: 24%;
        display: flex;
        align-items: center;
      }
      &:nth-child(1) {
        text-align: center;
        width: 1%;
      }
    }
  }
  &--row {
    display: flex;
    flex-flow: row;
    position: relative;
    border-bottom: 1px solid #ebeced;
    z-index: 0;
    .fa-file-pdf {
      margin-right: 5px;
    }
    .options {
      > span:not(.toggler) {
        width: 25px;
        height: 25px;
        border-radius: 25px;
        border: 1px solid #ebeced;
        color: #b5b5b5;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        margin-right: 10px;
        visibility: hidden;
      }
    }
    > span {
      width: auto;
      flex-grow: 1;
      padding: 13px;
      white-space: nowrap;
      display: flex;
      align-items: center;
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        @media (max-width: 768px) {
          display: none !important;
        }
      }
      @media (max-width: 768px) {
        font-size: 12px;
        text-transform: capitalize;
        padding: 13px 2px !important;
        overflow: hidden;
      }
      &:nth-child(4) {
        width: 18%;
      }
      &:nth-child(5) {
        width: 8%;
      }
      &:nth-child(6) {
        width: 14%;
      }
      &:nth-child(3) {
        width: 6%;
      }

      &:nth-child(1) {
        text-align: center;
        width: 1%;
      }
      &:nth-child(2) {
        width: 24%;
        display: flex;
        align-items: center;
        i {
          margin-right: 5px;
        }
        div:not(.new) {
          color: var(--accent-bg);
          font-weight: 500;
          margin: 0 10px;
          text-transform: uppercase;
        }
        .new {
          margin: 0;
          position: relative;
          background: var(--accent-bg);
          color: var(--accent-txt);
          font-size: 12px;
          padding: 0px 6px;
          border-radius: 5px;
          bottom: 9px;
          left: -7px;
          font-weight: 300;
        }
      }
      &:nth-child(1) {
        text-align: center;
        width: 1%;
        justify-content: center;
      }
      &:nth-child(4) {
        i {
          width: 15px;
          margin-right: 10px;
        }
      }
    }
    .toggler {
      position: absolute;
      right: 0;
      border: 1px solid #ebeced;
      border-right: 0;
      padding: 0 10px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      text-transform: uppercase;
      font-weight: 300;
      cursor: pointer;
      color: #b5b5b5;
      font-size: 13px;
      @media (max-width: 768px) {
        font-size: 12px;
        text-transform: capitalize;
        padding: 0 2px;
      }
      i {
        margin-right: 5px;
      }
    }
  }
  &--infos {
    background-color: #f5f5f5;
    padding: 30px;
    position: relative;
    z-index: 1;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: center;
      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 768px) {
          display: none;
        }
        span:nth-child(2) {
          color: #00ac56;
          margin-left: 10px;
        }
      }
      img {
        filter: brightness(0.2);
        width: 100px;
      }
    }
  }
  .status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    [data-status="Eseguibile"] {
      border: 1px solid #00ac56;
      span {
        background-color: #00ac56;
      }
    }
    [data-status="In Attesa"] {
      border: 1px solid rgb(235, 104, 16);
      span {
        background-color: rgb(235, 104, 16);
      }
    }
    [data-status="Nuove Offerte"],
    [data-status="Nuove Richieste"] {
      border: 1px solid #238be7;
      span {
        background-color: #238be7;
      }
    }
    [data-status="Nuova Offerta"],
    [data-status="Nuova Richiesta"] {
      border: 1px solid #238be7;
      span {
        background-color: #238be7;
      }
    }
    [data-status="Completato"] {
      border: 1px solid #00ac2b;
      span {
        background-color: #00ac2b;
      }
    }
    [data-status="Cancellato"] {
      border: 1px solid #c91d1d;
      span {
        background-color: #c91d1d;
      }
    }
    div {
      width: 15px;
      height: 15px;
      border: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      cursor: pointer;
      span {
        background-color: #ccc;
        width: 9px;
        height: 9px;
        border-radius: 15px;
      }
    }
  }
  .formBody {
    background: #fff;
    display: flex;
    margin-top: 15px;
    position: relative;
    z-index: 1;
    @media (max-width: 768px) {
      flex-flow: column;
    }
    &--col {
      padding: 15px;
      width: 50%;
      border-right: 1px solid #ebeced;
      @media (max-width: 768px) {
        width: 100%;
      }
      &:nth-child(2) {
        border-right: 0;
      }
    }
    .itemCol {
      display: flex;
      flex-flow: row;
      white-space: nowrap;
      align-items: center;
      border: 0;

      .inputLabel {
        margin: 0;
        width: 50%;
        font-weight: 400;
        color: #5c5c5c;
      }
      .ant-input,
      .ant-calendar-picker {
        color: #5c5c5c;
        font-weight: 600;
        font-size: 14px;
        width: 50%;
        border: 0;
        .ant-input {
          width: 100%;
        }
      }
      .full-radio {
        .inputLabel {
          width: auto;
        }
        input[type="checkbox"],
        input[type="radio"] {
          box-sizing: border-box;
          padding: 0;
          margin-right: 50px;
          margin-left: 10px;
          @media (max-width: 768px) {
            margin-right: 2px;
            margin-left: 2px;
          }
        }
      }
    }
  }
  .formSubmit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    position: relative;
    z-index: 0;
    @media (max-width: 768px) {
      flex-flow: column;
      > div,
      > input,
      > label {
        width: 100%;
        margin: 0;
        margin-top: 5px;
      }
    }
    &--price {
      background: #fff;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
      width: 50%;
      margin-right: 10px;
      padding-right: 0;
      > div {
        display: flex;
        font-size: 12px;
        align-items: center;
        border: 1px solid #dce1e6;
        height: 28px;
        border-radius: 50px;
        margin-left: 10px;
        > div {
          padding: 0 9px;
          border-right: 1px solid #dce1e6;
          height: 100%;
          display: flex;
          align-items: center;
        }
        &.submit {
          border: 0;
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 0;
          cursor: pointer;
          font-size: 14px;
          cursor: pointer;
          padding: 3px 14px;
          transition: 0.3s;
          flex-grow: 1;
          text-align: center;
          justify-content: center;
          border-left: 1px solid #dce1e6;
          margin-left: 10%;
          &:hover {
            background-color: var(--accent-bg);
            color: var(--accent-txt);
          }
          i {
            margin-left: 5px;
          }
        }
      }
      input {
        background-color: transparent;
        border: 0;
        width: 75px;
        padding: 0 4px;
      }
    }
    &--download {
      height: 48px;
      display: flex;
      align-items: center;
      background-color: #fff;
      padding: 0 15px;
      width: calc(25%);
      margin-right: 10px;
      cursor: pointer;
      transition: 0.3s;
      justify-content: center;
      margin-bottom: 0;
      &.toUpload {
        background-color: #00ac56 !important;
        color: #fff !important;
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }
      }
      &:hover {
        background-color: var(--accent-bg);
        color: var(--accent-txt);
      }
      i {
        margin-right: 5px;
      }
    }
    &--button {
      background-color: #fff;
      height: 48px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      justify-content: center;
      text-align: center;
      width: calc(25% / 2);
      margin-right: 10px;
      cursor: pointer;
      color: #5c5c5c;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      transition: 0.3s;
      position: relative;
      &:after {
        width: 100%;
        position: absolute;
        height: 2px;
        content: "";
        bottom: 0;
        left: 0;
        background-color: #00ac56;
        transition: 0.3s;
        z-index: 0;
        pointer-events: none;
      }
      &:before {
        width: 100%;
        position: absolute;
        height: 0;
        content: "";
        top: 0;
        left: 0;
        background-color: #00ac56;
        transition: 0.3s;
        z-index: 0;
        pointer-events: none;
      }
      span {
        position: relative;
        z-index: 1;
      }
      &:hover {
        color: #fff;
        &:after {
          height: 50%;
        }
        &:before {
          height: 50%;
        }
      }
      &.-c {
        &:before {
          background-color: #da1919;
        }
        &:after {
          background-color: #da1919;
        }
        margin-right: 0;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
.dissableBtn {
  pointer-events: none;
  filter: grayscale(0.7) brightness(0.9);
}

.ticketDetails {
  .fa-user,
  .fa-store {
    color: #578a17;
    cursor: normal;
  }
  i[aria-hidden="true"] {
    &.fas,
    &.fa {
      cursor: pointer;
    }
    &.fa-plane {
      color: #3d6389;
      &:hover,
      &.active {
        background-color: #3d6389;
        color: #fff;
      }
    }
    &.fa-shopping-bag {
      color: #3d6389;
    }
    &.fa-bus {
      color: #578a17;
      &:hover,
      &.active {
        background-color: #578a17;
        color: #fff;
      }
    }
    &.fa-train {
      color: #c60d1a;
      &:hover,
      &.active {
        background-color: #c60d1a;
        color: #fff;
      }
    }
    &.fa-ticket-alt {
      color: #5400d6;
      &:hover,
      &.active {
        background-color: #5400d6;
        color: #fff;
      }
    }
    &.fa-shopping-cart {
      color: #f26521;
      &:hover,
      &.active {
        background-color: #f26521;
        color: #222;
      }
    }
    &.fa-list {
      color: #353d45;
      &:hover,
      &.active {
        background-color: #353d45;
        color: #fff;
      }
    }
    &.fa-clipboard-check {
      color: #0078ff;
      &:hover,
      &.active {
        background-color: #0078ff;
        color: #fff;
      }
    }

    &.fa-ballot-check {
      color: #7bb928;
      &:hover,
      &.active {
        background-color: #7bb928;
        color: #fff;
      }
    }
  }
  &--row {
    .fas:hover {
      background-color: unset !important;
      color: var(--accent-bg) !important;
    }
  }
}
.rowPopUp {
  position: fixed;
  width: 90%;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0 0 34px -11px black;
  z-index: 4;
  &--header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background: var(--accent-bg);
    color: var(--accent-txt);
    text-transform: uppercase;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > i {
      font-size: 18px;
    }
  }
  &--body {
    display: flex;
    flex-flow: column;
    &__item {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      font-size: 13px;
      justify-content: space-between;
      padding: 3px 15px;
      border-bottom: 1px solid #ccc;
      button {
        border: 0;
        text-transform: uppercase;
        font-size: 13px;
        padding: 4px 10px;
        background-color: var(--accent-bg);
        color: var(--accent-txt);
      }
    }
  }
}
.Visure .overview {
  display: flex;
}

//
input[value*="http"] {
  color: #238be7 !important;
  text-decoration: underline;
  cursor: pointer;
}
input[value="Visualizzare i dati"] {
  cursor: pointer;
  &:hover {
    color: #238be7 !important;
  }
}
.datiPassageri {
  position: fixed;
  background: #fff;
  left: 50%;
  top: 50%;
  width: 340px;
  height: 380px;
  color: #000;
  box-sizing: border-box;
  box-shadow: 0 0 20px -11px black;
  transform: translate(-50%, -50%);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  z-index: 2;
  &--header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    i {
      cursor: pointer;
    }
  }
  &--body {
    overflow-y: scroll;
    height: calc(100% - 55px);
    padding: 15px;
    &__pass {
      .header {
        text-transform: capitalize;
      }
      li {
        list-style-type: circle;
        span {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        i {
          cursor: pointer;
          margin-left: auto;
        }
      }
      li {
        border-bottom: 1px solid #b5b5b5;
        padding: 0 10px;
      }
    }
  }
}
.ticketDetails {
  &--header {
    span {
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }
  }
  &--row {
    span {
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }
  }
}
.bodyAdmin {
  .ticketDetails {
    &--header {
      span {
        &:nth-child(3),
        &:nth-child(4) {
          display: flex;
        }
      }
    }
    &--row {
      span {
        &:nth-child(3),
        &:nth-child(4) {
          display: flex;
        }
      }
    }
  }
}
