.bodyAdmin #root {
  overflow: hidden !important;
}
.bodyAdmin {
  .userList {
    padding: 0;
    &--AllUsers {
      position: relative;
      top: 41px;
    }
  }
  .accountInfo {
    padding-top: 0;
    .contentAcc.supportContent {
      width: 100%;
      max-width: 100%;
      .header,
      .body {
        span {
          display: flex;
          align-items: center;
          // padding-left: 2px;
          // padding-right: 2px;
          flex-grow: 1;
          width: calc(100% / 7);
          overflow: hidden;
          text-overflow: ellipsis;
          &:nth-child(1),
          &:nth-child(4),
          &:nth-child(5) {
            width: 12%;
          }
          &:nth-child(2),
          &:nth-child(3) {
            width: 5%;
          }
          &:nth-child(6) {
            width: 30%;
          }
          &:nth-child(7) {
            width: 2% !important;
          }
          &.deleteError {
            justify-content: center !important;
            text-align: center;
          }
        }
      }
      .header {
        border-bottom: 1px solid #ebeced;
        background: #ffffff;
        height: 40px;
        position: fixed;
        top: 100px;
        z-index: 1;

        padding-right: 5px;
      }
    }
  }
}
.Admin-Panel {
  min-width: 700px;
  font-family: "Roboto", sans-serif;
  color: #5c5c5c;
  background-color: #ffffff;

  & .ant-select.ant-select-enabled:nth-child(3) {
    height: 100%;
    border-radius: 4px;
    & div {
      height: 100%;
    }
  }
  & .far.fa-comments {
    padding-right: 10px;
    @media (max-width: 1320px) {
      padding-right: 0px;
    }
  }
}
.Container {
  & .barcodeBtn {
    height: 100%;
    top: 0 !important;
  }
}
.bodyAdmin {
  .chatSticky {
    background-color: transparent;
  }
  .col-md-12.carica-conto {
    position: relative;
    top: 0 !important;
    height: 180px !important;
    width: 350px !important;
  }
  .col-md-12 {
    overflow: auto;
    overflow-x: hidden;
    height: calc(100vh - 214px);
    position: fixed;
    top: 152px;
    &::-webkit-scrollbar-thumb {
      background: #353d45;
    }
    &::-webkit-scrollbar-track {
      background: #aca8a8 !important;
    }
    // thead {
    //   border-top: 0px solid transparent !important;
    //   tr {
    //     position: fixed;
    //     display: flex;
    //     height: 45px;
    //     top: 153px;
    //     align-items: center;
    //     z-index: 1;
    //   }
    // }
  }
  .container-fluid.overview .row.no-gutters.max-width {
    .col-md-12 {
      .transTable.Movimenti {
        thead {
          border-top: 0;
        }
        thead > tr > td {
          position: sticky;
          top: 0;
          background: #f5f5f5;
          z-index: 1;
          padding: 8px 10px;
        }
      }
      // .transTable.Movimenti {
      //   tbody {
      //     td.wsNwp {
      //       margin: 0 !important;
      //       padding: 2px 4px !important;
      //       &:nth-child(1) {
      //         width: 13.5% !important;
      //       }
      //       &:nth-child(2) {
      //         width: 10% !important;
      //       }
      //       &:nth-child(3) {
      //         width: 200px !important;
      //         max-width: 200px !important;
      //         min-width: 200px !important;
      //         margin-right: 20% !important;
      //       }
      //       &:nth-child(4) {
      //         width: calc(76.5% - 620px) !important;
      //       }
      //       &:nth-child(5),
      //       &:nth-child(6),
      //       &:nth-child(7),
      //       &:nth-child(8) {
      //         width: 105px !important;
      //       }
      //       &:nth-child(8) {
      //         padding-right: 1% !important;
      //       }
      //       &:nth-child(5) {
      //         display: table-cell !important;
      //         i {
      //           padding-right: 5px !important;
      //         }
      //       }
      //     }
      //   }
      //   thead {
      //     tr {
      //       td.wsNwp {
      //         margin: 0 !important;
      //         padding: 2px 4px !important;
      //         font-size: 13px !important;
      //         &:nth-child(1) {
      //           width: 13.5%;
      //         }
      //         &:nth-child(2) {
      //           width: 10%;
      //         }
      //         &:nth-child(3) {
      //           width: 200px;
      //         }
      //         &:nth-child(4) {
      //           width: calc(76.5% - 620px);
      //           text-align: center;
      //           position: relative;
      //           left: -2%;
      //           @media (max-width: 2900px) {
      //             left: -3%;
      //           }
      //           @media (max-width: 2000px) {
      //             left: -5%;
      //           }
      //         }
      //         &:nth-child(5),
      //         &:nth-child(6),
      //         &:nth-child(7),
      //         &:nth-child(8) {
      //           width: 105px !important;
      //         }
      //         &:nth-child(8) {
      //           padding-right: 1.4% !important;
      //         }
      //       }
      //     }
      //   }
      //   &.refills {
      //     tbody td:nth-child(3) {
      //       max-width: 128px !important;
      //       min-width: 0 !important;
      //     }
      //   }
      // }
      & ::-webkit-scrollbar-thumb {
        background: #353d45;
      }
      & ::-webkit-scrollbar-track {
        background: #aca8a8 !important;
      }
    }
  }
  .paginationWrapper {
    position: fixed;
    top: calc(100vh - 70px);
    height: 60px !important;
    margin: 0 !important;
  }

  & .calendarWrapper {
    height: 354px;
  }
  .exportPDF > div {
    margin: 0;
    margin-right: 10px;
  }
  .barcodeBtn {
    padding: 8px 8px;
    margin-left: 1%;
  }
  & .TopHeader {
    height: 30px;
    background: #353d45;
    color: #fff;
    width: 100%;
    z-index: 2;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto";
    span {
      margin-right: 10px;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      &.logOutBtn {
        border-radius: 0;
        margin-right: 0;
        margin-left: 10px;
        padding: 0 18px;
        color: #ffffff;
        font-weight: 600;
        font-size: 12px;
        border: none;
        border-left: 1px solid #ffffff1a;
      }
    }
  }
  & .ExportToExel {
    color: #0078ff;
    padding: 10px;
    i {
      margin-right: 4px;
    }
  }
  & div.Admin-Panel div.backDrop {
    height: calc(100vh - 101px);
    top: 101px;
  }
  & .userDetailPopup {
    top: calc(((100vh - 581px) / 2) + 101px);
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width: 800px) {
      top: calc(((100vh - 561px) / 2) + 101px);
    }
    & .newReg--row {
      &::-webkit-scrollbar-thumb {
        background: #353d45;
      }

      &::-webkit-scrollbar-track {
        background: #aca8a8 !important;
      }
    }
    & .checkCol button {
      background: #0078ff;
    }
    & .SubmitButton {
      background: #0078ff;
      color: #fff;
    }
    & .newReg--header {
      background: #0078ff;
    }
  }
  background-color: #ffffff;
  background-color: rgba(0, 0, 0, 0.03);
  & .backTopTop {
    background: #0078ff;
    border: none;
  }
  & footer {
    display: none !important;
  }
}
.AdminColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  min-height: 100%;
  overflow: hidden;
  & .Center {
    position: relative;
    top: 101px;
    left: 200px;
    height: calc(100vh - 43px);
    overflow-y: auto;
    width: calc(100% - 200px - 400px);
    max-width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.03);
    margin-bottom: 41px;
    min-height: 550px;
    &::-webkit-scrollbar-thumb {
      background: #212529;
    }
    &::-webkit-scrollbar-track {
      background: #707070;
    }
    &.errorsCenter {
      width: calc(100% - 200px);
      .userList .header span,
      .userList--noDoc__user .body span,
      .userList--Doc__user .body span {
        border-right: 0;
      }
    }
    &.ordine-shop {
      width: calc(100% - 200px);
      .col-md-12 {
        width: calc(100% - 200px);
      }
    }
    & .AdminListaUtenti--Header,
    .col-md-12,
    .paginationWrapper,
    .AdminListaUtentiRow,
    .transTable.Movimenti thead tr {
      width: calc(100% - 200px - 400px);
      transition: 0.5s;
    }
    .accountInfo .contentAcc.supportContent .header {
      width: calc(100% - 200px);
    }
    &.WideForm {
      width: calc(100% - 200px);
      .AdminListaUtenti--Header,
      .col-md-12,
      .paginationWrapper,
      .AdminListaUtentiRow,
      .transTable.Movimenti thead tr {
        width: calc(100% - 200px);
      }
    }
    &--Big {
      position: relative;
      width: calc(100% - 51px - 400px);
      left: 51px;
      right: 400px;
      top: 101px;
      height: auto;
      display: flex;
      max-width: auto;
      justify-content: flex-start;
      align-items: flex-start;
      transition: 0.5s;
      height: calc(100vh - 43px);
      overflow-y: auto;
      background-color: rgba(0, 0, 0, 0.031);
      min-height: 550px;
      margin-bottom: 41px;
      &.WideForm {
        width: calc(100% - 51px);
        .AdminListaUtenti--Header,
        .col-md-12,
        .paginationWrapper,
        .AdminListaUtentiRow,
        .transTable.Movimenti thead tr {
          width: calc(100% - 51px);
        }
      }
      &.errorsCenter {
        width: calc(100% - 51px);
        .accountInfo .contentAcc.supportContent .header {
          width: calc(100% - 51px);
        }
      }
      &::-webkit-scrollbar-thumb {
        background: #212529;
      }
      &::-webkit-scrollbar-track {
        background: #707070;
      }
      & .AdminListaUtenti--Header,
      .accountInfo .contentAcc.supportContent .header,
      .col-md-12,
      .paginationWrapper,
      .AdminListaUtentiRow,
      .transTable.Movimenti thead tr {
        width: calc(100% - 51px - 400px);
        transition: 0.5s;
      }
    }
  }
  & .Left {
    width: 200px;
    height: calc(100vh - 101px);
    position: fixed;
    left: 0;
    top: 101px;
    background-color: #353d45;
    transition: 0.5s;
    z-index: 1;
    // overflow-x: hidden;

    &--Min {
      width: 50px;
      height: calc(100vh - 101px);
      position: fixed;
      left: 0;
      top: 101px;
      background-color: #353d45;
      transition: 0.5s;
      //overflow-x: hidden;
      z-index: 1;
    }
  }
}

@media (max-width: 1900px) {
  .AdminRightForm {
    &--Box {
      > i {
        font-size: 18px;
      }
    }
    & .printModal {
      width: 350px;
    }
    width: 350px;
    transition: 0.5s;
  }
  .AdminColumns .Center--Big {
    width: calc(100% - 350px - 51px);
    transition: 0.5s;
    & .AdminListaUtenti--Header,
    .accountInfo .contentAcc.supportContent .header,
    .col-md-12,
    .paginationWrapper,
    .AdminListaUtentiRow,
    .transTable.Movimenti thead tr {
      width: calc(100% - 51px - 350px);
      transition: 0.5s;
    }
  }
  .AdminColumns .Center {
    width: calc(100% - 350px - 200px);
    transition: 0.5s;
    & .AdminListaUtenti--Header,
    .accountInfo .contentAcc.supportContent .header,
    .col-md-12,
    .paginationWrapper,
    .AdminListaUtentiRow,
    .transTable.Movimenti thead tr {
      width: calc(100% - 350px - 200px);
      transition: 0.5s;
    }
    &.errorsCenter {
      .accountInfo .contentAcc.supportContent .header {
        width: calc(100% - 200px);
      }
    }
  }
}
@media (max-width: 1780px) {
  .AdminRightForm {
    &--Box {
      > i {
        font-size: 18px;
      }
    }
    & .printModal {
      width: 340px;
    }
    width: 300px;
    transition: 0.5s;
  }
  .Tranzacioni div span {
    font-size: 14px;
  }
  .Graph--Element {
    margin: 0px 0.6px;
    width: 5px;
    position: relative;
  }
  .AdminColumns .Center--Big {
    width: calc(100% - 300px - 51px);
    transition: 0.5s;
    & .AdminListaUtenti--Header,
    .accountInfo .contentAcc.supportContent .header,
    .col-md-12,
    .paginationWrapper,
    .AdminListaUtentiRow,
    .transTable.Movimenti thead tr {
      width: calc(100% - 300px - 51px);
      transition: 0.5s;
    }
  }
  .AdminColumns .Center {
    width: calc(100% - 300px - 200px);
    transition: 0.5s;
    & .AdminListaUtenti--Header,
    .accountInfo .contentAcc.supportContent .header,
    .col-md-12,
    .paginationWrapper,
    .AdminListaUtentiRow,
    .transTable.Movimenti thead tr {
      width: calc(100% - 300px - 200px);
      transition: 0.5s;
    }
    &.errorsCenter {
      .accountInfo .contentAcc.supportContent .header {
        width: calc(100% - 200px);
      }
    }
  }
}

@media (max-width: 1550px) {
  .AdminRightForm {
    &--Box {
      > i {
        font-size: 18px;
      }
    }

    width: 300px;
    transition: 0.5s;
    & .AdminRightForm--Box--LeUltime--Dropdown {
      &--Row {
        padding: 0;
      }
    }
  }
  .Tranzacioni div span {
    font-size: 12px;
  }
  .Graph--Element {
    margin: 0px 0.4px;
    width: 4px;
  }
  .Graph {
    padding: 0 2px;
    padding-top: 10px;
  }
  .AdminColumns .Center--Big {
    width: calc(100% - 300px - 51px);
    transition: 0.5s;
    & .AdminListaUtenti--Header,
    .accountInfo .contentAcc.supportContent .header,
    .col-md-12,
    .paginationWrapper {
      width: calc(100% - 51px - 300px);
      transition: 0.5s;
    }
  }
  .AdminColumns .Center {
    width: calc(100% - 300px - 200px);
    transition: 0.5s;
    & .AdminListaUtenti--Header,
    .accountInfo .contentAcc.supportContent .header,
    .col-md-12,
    .paginationWrapper,
    .AdminListaUtentiRow,
    .transTable.Movimenti thead tr {
      width: calc(100% - 300px - 200px);
      transition: 0.5s;
    }
    &.errorsCenter {
      .accountInfo .contentAcc.supportContent .header {
        width: calc(100% - 200px);
      }
    }
  }
}
@media (max-width: 1100px) {
  .AdminRightForm {
    width: 220px;
    transition: 0.5s;
    & .AdminRightForm--Box--LeUltime--Dropdown--Row {
      &--Data {
        width: 25%;
        font-size: 11px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1px;
      }
    }
    & div.Tranzacioni {
      & div {
        & span {
          &:nth-child(2) {
            font-size: 13px;
          }
        }
      }
    }
  }
  .AdminColumns .Center--Big {
    width: calc(100% - 220px - 51px);
    transition: 0.5s;
    & .AdminListaUtenti--Header,
    .accountInfo .contentAcc.supportContent .header,
    .col-md-12,
    .paginationWrapper,
    .AdminListaUtentiRow,
    .transTable.Movimenti thead tr {
      width: calc(100% - 51px - 220px);
      transition: 0.5s;
    }
  }
  .AdminColumns .Center {
    width: calc(100% - 220px - 200px);
    transition: 0.5s;
    & .AdminListaUtenti--Header,
    .accountInfo .contentAcc.supportContent .header,
    .col-md-12,
    .paginationWrapper,
    .AdminListaUtentiRow,
    .transTable.Movimenti thead tr {
      width: calc(100% - 220px - 200px);
      transition: 0.5s;
    }
  }
}
// List Movimenti
div.Center,
div.Center--Big {
  & .container-fluid.overview,
  .panels-container {
    background: #ffffff !important;
    position: relative;
    box-shadow: none;
    width: 100%;
    min-height: 490px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 50px !important;
    & .row.no-gutters.max-width {
      & .col-md-12 {
        & .transTable {
          & td.right {
            text-align: right !important;
            width: 105px !important;
          }
          & tbody {
            & td.wsNwp.right.importoTd {
              & i {
                position: absolute;
                left: 0;
                top: calc(50% - 6.5px);
              }
              span {
                max-width: 64px;
                position: absolute;
                right: 0;
                height: 18px;
                top: calc(50% - 8px);
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
    & .paginationWrapper {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0;
      & .ant-select.ant-select-enabled {
        border: 1px solid #ebeced;
        box-sizing: border-box;
      }
    }
    & .sort-annunci {
      position: relative;
      margin: 0;
      padding: 0;
      font-size: 13px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 50px;
      justify-content: space-between;
      border-bottom: 2px solid #f5f5f5 !important;
      // overflow-x: auto;
      // overflow-y: hidden;
      z-index: 1;
      &::-webkit-scrollbar {
        height: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background: #0078ff;
      }
      & .calendarWrapper {
        position: absolute;
        z-index: 3;
        left: 270px;
        top: 53px;
        box-shadow: 0 12px 20px 1px #0000008c;
        @media (max-width: 1650px) {
          top: 40px;
          left: 120px;
        }
        @media (max-width: 795px) {
          right: 0;
          left: auto;
        }

        & .rdrDateDisplay {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 0;
          margin: 0 auto;
        }
      }
      & .dal.calendar {
        font-size: 13px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #5c5c5c;
        justify-content: flex-start;
        padding: 15px 20px;
        border: none;
        border-right: 1px solid #ebeced;
        border-radius: 0;
        min-width: 160px;
        box-sizing: border-box;
      }
      & .filesBtns {
        & .exportPDF,
        & .ExportToExel {
          & div {
            margin: 0;
            font-size: 15px;
            font-weight: 400;
          }
          font-size: 15px;
          font-weight: 400;
          width: 60px;
          border: 1px solid #353d45;
          border-radius: 5px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        & .exportPDF {
          & div {
            color: #353d45;
          }
          margin-right: 10px;
        }
      }
      & .filterBtn {
        position: relative;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        width: 114px;
        font-size: 14px;
        color: #ffffff;
        font-weight: 500;
        background-color: #0078ff;
        width: 100px;
        & i {
          padding-right: 8px;
        }
      }
      & .dal {
        position: relative;
        border-right: 1px solid #ebeced;
        border-left: 1px solid #ebeced !important;
        & i.fal.fa-search {
          position: absolute;
          font-family: "Font Awesome 5 Pro";
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 0;
          bottom: 0;
          right: 2%;
          left: 90%;
        }
        & .ant-select-selection__placeholder {
          padding-left: 10px;
        }
        & div:first-child {
          height: 100%;
          align-items: center;
          display: flex;
          // width: 270px;
        }
        &.calendar {
          position: relative;
          & span {
            width: 100%;
            position: relative;
            display: flex;
          }
          & i {
            position: absolute;
            font-family: "Font Awesome 5 Pro";
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            bottom: 0;
            right: 0;
            left: 98%;
          }
        }
      }
      & .ant-select-selection__rendered {
        height: 100%;
        width: 80%;
      }
      & div {
        font-size: 13px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #5c5c5c;
      }
      & .datepics {
        margin: 0 !important;
        border: none;
      }
      & .heading-tab {
        display: none;
      }
      & ul {
        height: 47px;
        & li {
          font-size: 13px;
          font-weight: 400;
          font-family: "Roboto", sans-serif;
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;
          min-width: 95px;
          margin: auto 12px;
          &:nth-child(1) {
            margin-left: 15px;

            & svg {
              margin-right: 8px;
              & g {
                & circle {
                  &:first-child {
                    fill: #707070;
                  }
                  fill: #ffffff;
                }
              }
            }
          }
          &:nth-child(2) {
            & svg {
              margin-right: 8px;
              & g {
                & circle {
                  &:first-child {
                    fill: #0078ff;
                  }
                  fill: #ffffff;
                }
              }
            }
          }
          &:nth-child(3) {
            & svg {
              margin-right: 8px;
              & g {
                & circle {
                  &:first-child {
                    fill: #00b850;
                  }
                  fill: #ffffff;
                }
              }
            }
          }
          &:nth-child(4) {
            & svg {
              margin-right: 8px;
              & g {
                & circle {
                  &:first-child {
                    fill: #e30000;
                  }
                  fill: #ffffff;
                }
              }
            }
          }
        }
      }
    }
    & .max-width {
      margin: 0;
    }
  }
  & thead {
    border-bottom: 1px solid #ebeced;
    border-top: 4px solid #ebeced;

    & .wsNwp,
    td {
      color: #5c5c5c;
      &.right {
        text-align: right !important;
        padding-left: 0;
        padding-right: 0;
        &:last-child {
          padding-right: 11px;
        }
      }
      font-weight: bold;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      padding: 15px 10px;
      border: none;
      text-align: start;
      position: relative;
    }
  }
  & tbody {
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    & tr {
      border-bottom: 1px solid #ebeced;
    }
    & .wsNwp,
    td {
      color: #5c5c5c;
      padding: 8px 10px;
      border: none;
      font-weight: 400;
      > i {
        font-size: 12px;
        top: 0;
        position: relative;
      }
      &:nth-child(3) {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        font-weight: 500;
        height: 50px;
        padding: 10px auto;

        > i {
          color: #0078ff;
          font-size: 12px;
        }
        & span {
          padding-left: 5px;
        }
      }
      &:nth-child(4) {
        font-size: 14px;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        color: #0078ff;
      }
    }
    & .right {
      text-align: right;
      &.importoTd {
        padding-left: 0;
        padding-right: 0;
      }
      & .Importo {
        display: flex;
        width: 100%;
        padding-left: 40%;
        box-sizing: border-box;
        justify-content: space-around;
        align-items: center;
        & i {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 1720px) {
  div.Center,
  div.Center--Big {
    & .container-fluid.overview,
    .panels-container {
      & .sort-annunci {
        padding-right: 0;
      }
    }
  }
}
@media (max-width: 1650px) {
  div.Center,
  div.Center--Big {
    & .container-fluid.overview,
    .panels-container {
      & .row.no-gutters.max-width {
        & .col-md-12 {
          top: 140px;

          & .transTable {
            & thead {
              tr {
                height: 45px;
                top: 143px;
              }
            }
          }
        }
      }
      & .sort-annunci {
        justify-content: flex-start;
        padding-right: 0;
        & .ant-select.ant-select-enabled {
          width: 150px;
          & div {
            width: 100%;
          }
        }
        & .filterBtn {
          height: 33px;
          border-radius: 100px;
          width: 100px;
          font-size: 13px;
          margin: 0 15px;
        }
        & ul {
          & li {
            margin: 0 5px;
          }
        }
        & .datepics {
          & .dal {
            & i.fal.fa-search {
              left: 85%;
            }
            & div:first-child {
              width: 140px;
            }
            &.calendar {
              padding: 0 10px;
              padding-right: 20px;
              width: 190px;
              min-width: auto;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1400px) and (min-width: 1300px) {
  div.Center,
  div.Center--Big {
    & .container-fluid.overview,
    .panels-container {
      & .sort-annunci {
        & .datepics {
          & .dal {
            & div:first-child {
              width: 140px;
            }
            &.calendar {
              width: 140px;
              min-width: auto;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  div.Center,
  div.Center--Big {
    & .container-fluid.overview,
    .panels-container {
      & .sort-annunci {
        & .datepics {
          & .dal {
            & div:first-child {
              width: 140px;
            }
            &.calendar {
              width: 140px;
              min-width: auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  div.Center,
  div.Center--Big {
    & .container-fluid.overview,
    .panels-container {
      & .sort-annunci {
        & ul {
          & li {
            margin: 0 2px;
            font-size: 11.5px;
            max-width: 88px;
            min-width: 37px;
            width: auto;
            & svg {
              margin-right: 3px;
              width: 12px;
              height: 12px;
            }
          }
        }
        & .filterBtn {
          font-size: 12px;
          margin: 0 3px;
          margin-left: 7px;
          width: 82px;
        }
      }
      & .row.no-gutters.max-width {
        & .col-md-12 {
          & .transTable {
            & thead {
              & td,
              & .wsNwp,
              & td.wsNap {
                &:nth-child(4) {
                  width: 16%;
                }
              }
            }
            & tbody {
              & td,
              & .wsNwp,
              & td.wsNap {
                &:nth-child(4) {
                  width: 16%;
                }
              }
            }
          }
        }
      }
    }
  }
}
// @media (max-width: 1024px) {
//   div.Center,
//   div.Center--Big {
//     & .container-fluid.overview,
//     .panels-container {
//       & .row.no-gutters.max-width {
//         & .col-md-12 {
//           & .transTable {
//             & thead {
//               & td,
//               & .wsNwp,
//               & td.wsNap {
//                 &:nth-child(6),
//                 &:nth-child(7),
//                 &:nth-child(8) {
//                   display: none;
//                 }

//                 &:last-child {
//                   width: 0.1%;
//                   & i {
//                     color: #000;
//                     font-weight: 300;
//                   }
//                 }
//               }
//             }
//             & tbody {
//               & td,
//               & .wsNwp,
//               & td.wsNap {
//                 &:nth-child(6),
//                 &:nth-child(7),
//                 &:nth-child(8) {
//                   display: none;
//                 }
//                 &:last-child {
//                   width: 2%;
//                   & i {
//                     color: #000;
//                     font-weight: 300;
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }
@media (max-width: 1320px) {
  .AdminColumns {
    .AdminRightForm {
      display: none;
    }
    div.Center--Big {
      width: calc(100vw - 51px);
      .AdminListaUtenti--Header,
      .accountInfo .contentAcc.supportContent .header,
      .col-md-12,
      .paginationWrapper,
      .AdminListaUtentiRow,
      .transTable.Movimenti thead tr {
        width: calc(100vw - 51px);
      }
    }
    div.Center {
      width: calc(100vw - 200px);
      .AdminListaUtenti--Header,
      .accountInfo .contentAcc.supportContent .header,
      .col-md-12,
      .paginationWrapper,
      .AdminListaUtentiRow,
      .transTable.Movimenti thead tr {
        width: calc(100vw - 200px);
      }
    }
  }
}

@media (max-width: 865px) {
  div.Center,
  div.Center--Big {
    & .container-fluid.overview,
    & .panels-container {
      & .row.no-gutters.max-width {
        & .col-md-12 {
          top: 230px;
          height: calc(100vh - 310px);
        }
        .col-md-12 .transTable thead tr {
          top: 184px;
        }
      }
      .MoviFirst {
        width: 100%;
        & div {
          width: 100%;
        }
        & .datepics.ml-auto.mr-2 {
          width: 100%;
          & div.codice {
            display: none;
            width: 0;
          }
        }
      }
      // & .paginationWrapper {
      //   margin-top: 10px;
      //   width: 100%;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   height: 100%;
      //   padding: 0;
      //   flex-direction: column;
      //   align-items: center;
      //   & .ant-select.ant-select-enabled {
      //     width: 30%;
      //     & .ant-select-selection--single {
      //       width: 100%;
      //       font-size: 13px;
      //     }
      //   }
      // }
      & .sort-annunci {
        flex-direction: column;
        & .barCodeExport {
          width: auto;
          position: relative;
          left: calc((100% - (16% + 120px)) / 2);
          height: 38px;
          margin: 2px 0;
          align-self: flex-start;
        }
        & div.SlectDate.ant-select.ant-select-enabled {
          position: absolute;
          bottom: 3.5px;
          left: 2%;
        }
        & .filterBtn {
          position: absolute;
          bottom: 2px;
          width: 12%;
          right: 2%;
          height: 34px;
          border-radius: 5px;
          margin: 1px 0;
          margin-left: 5px;
        }
        & .datepics.ml-auto.mr-2 {
          position: relative;
          width: 100%;
          & form {
            width: 100%;
            & .dal {
              width: 50%;
              border-bottom: 1px solid #ebeced;
              & .ant-row.ant-form-item {
                width: 100%;
                & div,
                span {
                  width: 100%;
                }
              }
            }
          }
        }
        & ul {
          width: 100%;
          justify-content: space-between;
          border-bottom: 1px solid #ebeced;
        }
        & .filterBtn {
          opacity: 0.9;
        }
      }
    }
  }
}

@media (max-width: 595px) {
  div.Center,
  div.Center--Big {
    & .container-fluid.overview,
    & .panels-container {
      & .sort-annunci {
        & .filterBtn {
          left: auto;
          right: 1%;
        }
      }
    }
  }
}
@media (max-width: 540px) {
  div.Center,
  div.Center--Big {
    & .container-fluid.overview,
    & .panels-container {
      & .sort-annunci {
        & .barCodeExport {
          left: 37%;
          & .filesBtns {
            & .exportPDF {
              & div {
                font-size: 13px;
              }
            }
            & .ExportToExel {
              font-size: 13px;
              text-transform: uppercase;
            }
          }
        }
        & div.SlectDate.ant-select.ant-select-enabled {
          left: 1%;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  div.Center,
  div.Center--Big {
    & .container-fluid.overview,
    & .panels-container {
      & .sort-annunci {
        & .filterBtn {
          width: 60px;
        }
        & .barCodeExport {
          left: 39.2%;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  div.Center,
  div.Center--Big {
    .container-fluid.overview,
    .panels-container {
      .sort-annunci {
        .barCodeExport {
          left: 41%;
          .filesBtns {
            width: 125px;
            .exportPDF,
            .ExportToExel {
              font-size: 10.5px !important;
              width: 55px !important;
              margin-left: 5px !important;
              margin-right: 0 !important;
            }
          }
        }
        .SlectDate.ant-select.ant-select-enabled {
          width: 135px;
          left: 0.5%;
          & span {
            font-size: 10.5px;
          }
        }
        & .filterBtn {
          width: 40px;
          display: flex;
          padding: 0 !important;
          justify-content: center;
          color: transparent;
          right: 0.5%;
          i {
            color: #fff;
            padding: 0;
            margin: 0;
            width: 12px;
            height: 12px;
            position: absolute;
            right: calc(0.5% + 14px);
          }
        }
      }
    }
  }
}

@media (max-width: 865px) {
  .bodyAdmin {
    table.transTable.Movimenti {
      thead,
      tbody {
        td.wsNwp {
          &:nth-child(1),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8),
          &:last-child {
            display: none;
          }
        }
      }
      tbody td.wsNwp:last-child {
        display: table-cell;
      }
    }
  }
}
@media (min-width: 865px) and (max-width: 1650px) {
  .bodyAdmin {
    table.transTable.Movimenti td {
      font-size: 13px;
      padding: 2px;
    }
    table.transTable.Movimenti .nomeTd {
      max-width: 100px;
    }
  }
}

@media (max-width: 550px) {
  .AdminColumns {
    .col-md-12 .transTable thead tr {
      width: 100vw !important;
    }
    .col-md-12.carica-conto {
      top: 0 !important;
      height: 200px !important;
    }
    & div.container-fluid.overview {
      padding-bottom: 0 !important;
      & div.panels-container {
        & .sort-annunci.sort-trasazioni.max-width.border-0 {
          position: fixed;
          height: auto;
          z-index: 2;
        }
        & div.row.no-gutters.max-width {
          .col-md-12 {
            width: 100vw;
            height: calc(100vh - 380px) !important;
          }
          .paginationWrapper {
            width: 100vw;
            top: calc(100vh - 135px) !important;

            div.ant-select-selection__rendered,
            .ant-select.ant-select-enabled,
            .ant-select.ant-select-enable {
              margin-top: 2%;
              width: 200px;
              height: 30px;
              line-height: 30px;
              font-size: 13px;
              font-family: "Roboto";
              font-weight: 400;
              color: #5c5c5c;
              display: flex;
              justify-content: center;
              align-items: center;
              div {
                &:first-child {
                  height: 100%;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
            li {
              font-size: 12px;
              font-family: "Roboto";
              font-weight: 400;
              width: 22px;
              min-width: 22px;
              max-width: 22px;
              height: 30px;
              line-height: 30px;
              border-radius: 6px;
              justify-content: center;
              align-items: center;
              color: #5c5c5c;
              a {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #5c5c5c;
                height: 100%;
                width: 22px;
                min-width: 22px;
                max-width: 22px;
                height: 30px;
                line-height: 30px;
              }
              i {
                font-family: "Font Awesome 5 Pro";
                font-size: 12px;
                font-weight: 300;
                width: 30px;
                height: 30px;
                line-height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #5c5c5c;

                svg {
                  width: 10px;
                  height: 10px;
                  fill: #5c5c5c;
                }
              }
            }
          }
          & div.col-md-12 {
            & table.transTable.Movimenti {
              & tbody {
                & td.wsNwp {
                  &:nth-child(2),
                  &:nth-child(4) {
                    display: none;
                  }
                  &.right.importoTd {
                    display: table-cell !important;
                    width: 15% !important;
                    padding-right: 15px !important;
                    & i {
                      display: none;
                    }
                    span {
                      position: relative;
                      top: auto;
                      left: auto;
                    }
                  }
                  &:nth-child(3) {
                    display: table-cell !important;
                    flex-direction: column;
                    align-items: flex-start !important;
                    width: 54% !important;
                    & div {
                      width: 100%;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      padding-left: 5%;
                      margin: 0 0 !important;
                      &:first-child {
                        color: #5c5c5c;
                        font-weight: 400;
                        font-size: 14px;
                        font-family: "Roboto";
                      }
                      &:nth-child(2) {
                        color: #0078ff;
                        font-weight: 400;
                        font-size: 14px;
                        font-family: "Roboto";
                      }
                    }
                  }
                  &:last-child {
                    width: 15% !important;
                    border-left: 1px solid #ebeced;
                    border-right: 1px solid #ebeced;
                    & i {
                      font-size: 16px !important;
                      font-weight: 300 !important;
                      color: #5c5c5c;
                    }
                  }
                }
              }
              & thead {
                & tr {
                  justify-content: space-between !important;
                  padding-right: 25% !important;
                  & td.wsNwp,
                  td {
                    &:nth-child(5) {
                      display: table-cell !important;
                    }
                    &:nth-child(2),
                    &:nth-child(4),
                    &:nth-child(8),
                    &:nth-child(10) {
                      display: none !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .AdminColumns {
    & div.container-fluid.overview {
      & div.panels-container {
        & div.row.no-gutters.max-width {
          div.col-md-12 {
            & table.transTable.Movimenti {
              & thead {
                & tr {
                  padding-right: 27% !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .AdminColumns {
    & div.container-fluid.overview {
      & div.panels-container {
        & div.row.no-gutters.max-width {
          div.col-md-12 {
            & table.transTable.Movimenti {
              & thead {
                & tr {
                  padding-right: 29% !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Calendar
.bodyAdmin {
  & .Center,
  & .Center--Big {
    & div.panels-container {
      & .calendarWrapper {
        top: 47px;
      }
    }
  }
  & .Center,
  & .Center--Big {
    & .calendarWrapper {
      position: absolute;
      right: 6%;
      top: 52.5px;
    }
  }
}
.bodyAdmin {
  @media (max-width: 550px) {
    & .backTopTop {
      bottom: 62px;
      right: 10px;
    }
  }
  & .rowPopUp {
    & .rowPopUp--header {
      background: #0078ff;
      color: #ffffff;
    }
  }
}
body.bodyAdmin,
.ant-modal-wrap,
.Left,
.Left--Min,
.Statistiche.Dropdown,
.AdminRightForm--Box--LeUltime--Dropdown,
.AdminRightForm--Box--Wallet--Dropdown,
.AdminColumns,
.TranzacioniModalResponsive--Data--Row {
  &::-webkit-scrollbar {
    width: 4px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #353d45;
  }

  &::-webkit-scrollbar-track {
    background: #aca8a8 !important;
  }
}

@media (max-width: 700px) {
  .bodyAdmin .col-md-12 {
    height: calc(100vh - 344px) !important;
  }
  div.Center--Big {
    div.container-fluid.overview {
      div.panels-container {
        div.row.no-gutters.max-width {
          div.col-md-12 {
            table.transTable.Movimenti {
              thead {
                & td {
                  &:nth-child(5) {
                    display: none !important;
                  }
                  &:nth-child(4) {
                    width: calc(100% - 395px) !important;
                  }
                }
              }
              tbody {
                td.importoTd {
                  display: none !important;
                }
                &:nth-child(4) {
                  width: calc(100% - 395px) !important;
                }
              }
            }
          }
        }
      }
    }
  }
  & .paginationWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    flex-direction: column;
    align-items: center;
    top: calc(100vh - 85px) !important;
    & .ant-select-selection--single {
      width: 100%;
      font-size: 13px;
    }
  }
}
@media (max-width: 620px) {
  & .paginationWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    flex-direction: column;
    align-items: center;
    top: calc(100vh - 85px) !important;
  }
}
.wallets-carusel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  overflow: hidden;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    // transform: translateX(110%);
    animation: 40s slideLeft infinite linear;
    > div {
      display: flex;
      width: auto;
      align-items: center;
      margin-right: 100px;
    }
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(170%);
  }

  100% {
    transform: translateX(-190%);
  }
}
.bodyAdmin .TopHeader span.timeH {
  background: #353d45;
  z-index: 1;
  margin-left: 0 !important;
  padding-left: 15px;
  padding-right: 15px;
}

.AdminColumns .transTable td {
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    border-left: 1px solid #e7e7e7 !important;
  }
}
body.elFocus:before {
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0;
  z-index: 100;
  background: #000c;
  display: block;
  position: fixed;
}

body.bodyAdmin.elFocus:after {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 101;
  content: "Trascina il pulsante intorno ↴";
  color: #fff;
}
