.calendarWrapper {
  -webkit-box-shadow: 0 12px 20px 1px #0000008c;
          box-shadow: 0 12px 20px 1px #0000008c;
  position: fixed;
  background-color: #ffffff;
  z-index: 3;
  height: 390px;
  width: 460px;
}

.calendarWrapper .rdrDayNumber {
  font-weight: 600;
}

.calendarWrapper .buttons {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  width: 100%;
  z-index: 4;
  background-color: #ffffff;
  height: 45px;
  padding: 0 15px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendarWrapper .buttons button {
  border: none;
  background: transparent;
  height: 75%;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  color: #ffffff;
  font-weight: 500;
}

.calendarWrapper .buttons button:first-child {
  background-color: #c53f3f;
}

.calendarWrapper .buttons button:nth-child(2) {
  background-color: #00b850;
}

.calendarWrapper i {
  font-weight: 400;
  font-style: normal;
}

.calendarWrapper .rdrInputRanges {
  height: 39px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendarWrapper .rdrInputRanges .rdrInputRange:nth-child(1) {
  display: none;
}

.calendarWrapper .rdrInputRanges .rdrInputRange:nth-child(2) {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.7px solid #c7c7c7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendarWrapper .rdrInputRanges .rdrInputRange:nth-child(2)::before {
  content: "Giorni Da Oggi";
  font-weight: bold;
}

.calendarWrapper .rdrInputRanges .rdrInputRange:nth-child(2) span {
  display: none;
}

.calendarWrapper .rdrCalendarWrapper.rdrDateRangeWrapper {
  position: relative;
  width: 285px;
}

.calendarWrapper .rdrDefinedRangesWrapper {
  width: 175px;
  background: #eaeaea;
}

.calendarWrapper .rdrDefinedRangesWrapper .rdrStaticRanges .rdrStaticRange {
  background: #eaeaea;
  border-bottom: 0.7px solid #c7c7c7;
}

.calendarWrapper .rdrMonthAndYearWrapper {
  height: 33px;
  padding-top: 0;
}

.calendarWrapper .rdrDateDisplayWrapper {
  position: absolute;
  width: 59%;
  font-size: 11px;
  left: -60.5%;
  top: 59%;
  background-color: transparent;
  min-height: 93px;
}

.calendarWrapper .rdrDateDisplayWrapper .rdrDateDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
}

.calendarWrapper .rdrDateDisplayWrapper .rdrDateDisplay .rdrDateInput {
  width: 80%;
  margin: 4px 0;
}

.calendarWrapper .rdrDateDisplayWrapper .rdrMonths.rdrMonthsHorizontal {
  height: 290px;
}

@media (max-width: 550px) {
  .calendarWrapper {
    height: 280px;
    width: 375px;
  }
  .calendarWrapper .buttons {
    height: 35px;
  }
  .calendarWrapper .buttons button {
    font-size: 15px;
  }
  .calendarWrapper .rdrCalendarWrapper.rdrDateRangeWrapper {
    padding-left: 5px;
    min-height: 250px;
    width: 240px;
  }
  .calendarWrapper .rdrDateRangePickerWrapper {
    width: 100%;
  }
  .calendarWrapper .rdrMonths.rdrMonthsHorizontal .rdrMonth {
    padding: 0 0;
  }
  .calendarWrapper .rdrMonths.rdrMonthsHorizontal .rdrMonth .rdrWeekDays {
    width: 100%;
    margin: 0;
  }
  .calendarWrapper .rdrMonths.rdrMonthsHorizontal .rdrMonth .rdrMonthName {
    display: none;
  }
  .calendarWrapper .rdrMonths.rdrMonthsHorizontal .rdrDay {
    line-height: 2.5rem;
    height: 2.5em;
    font-size: 12px;
    width: calc(100% / 7);
  }
  .calendarWrapper .rdrMonthAndYearWrapper {
    width: 100%;
  }
  .calendarWrapper .rdrMonthAndYearWrapper button {
    margin: 0 2px;
  }
  .calendarWrapper i {
    font-size: 11px;
    font-weight: 400;
  }
  .calendarWrapper .rdrDefinedRangesWrapper {
    width: 127px;
  }
  .calendarWrapper .rdrDateDisplayWrapper {
    width: 56%;
    font-size: 11px;
    left: -56%;
    top: 61%;
    background-color: transparent;
    min-height: 93px;
  }
  .calendarWrapper .rdrDateDisplayWrapper input {
    height: 25px;
    font-size: 11px;
  }
  .calendarWrapper .rdrDateDisplayWrapper .rdrDateDisplay .rdrDateInput {
    width: 80%;
  }
  .calendarWrapper .rdrStaticRangeLabel {
    padding: 5px 10px;
  }
  .calendarWrapper .rdrInputRanges .rdrInputRange:nth-child(2) {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 12px;
  }
  .calendarWrapper .rdrInputRanges .rdrInputRange:nth-child(2) .rdrInputRangeInput {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-weight: 400;
    font-size: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 4px;
    margin-right: 0px;
  }
}

@media (max-width: 452px) {
  .bodyAdmin .calendarWrapper {
    position: fixed !important;
    margin: 150px calc((100vw - 375px) / 2) !important;
  }
  .calendarWrapper {
    position: fixed !important;
    margin: 150px calc((100vw - 375px) / 2) !important;
  }
}
/*# sourceMappingURL=styles.css.map */