//
.supportContent {
  .description {
    display: block !important;
    cursor: pointer;
  }
  .deleteError {
    width: 170px !important;
  }
  .confirmationDelete {
    padding: 20px;
    h1 {
      font-size: 20px;
      text-align: center;
    }
    > div {
      display: flex;
      justify-content: space-evenly;
      button {
        background-color: transparent;
        border: 0;
        background-color: rgb(27, 131, 27);
        color: #fff;
        padding: 5px 30px;
        &:nth-child(2) {
          background-color: rgb(197, 46, 46);
        }
      }
    }
  }
}
body .confirmationDelete {
  top: 30%;
}
