//
.supportContent {
  .description {
    display: flex !important;
    cursor: pointer;
    & .ErrorAdd {
      padding-right: 1%;
    }
    & .descriptionErrorMsg {
      width: 92%;
      overflow: hidden;
    }
  }
  .deleteError {
    width: 170px !important;
  }
  .confirmationDelete {
    padding: 20px;
    h1 {
      font-size: 20px;
      text-align: center;
    }
    > div {
      display: flex;
      justify-content: space-evenly;
      button {
        background-color: transparent;
        border: 0;
        background-color: rgb(27, 131, 27);
        color: #fff;
        padding: 5px 30px;
        &:nth-child(2) {
          background-color: rgb(197, 46, 46);
        }
      }
    }
  }
  .userList--noDoc__user .body span:nth-child(1),
  .userList--Doc__user .body span:nth-child(1),
  .userList .header span:nth-child(1) {
    width: 70%;
  }
}
body .confirmationDelete {
  top: 30%;
}
