@media (max-width: 1024px) {
  body:not(.bodyAdmin) .transTable.Movimenti .wsNwp div {
    white-space: pre-wrap;
  }
}

@media (max-width: 525px) {
  .sort-trasazioni {
    display: flex;
    flex-direction: column;
    ul {
      text-align: center;
      a {
        font-size: 13px;
      }
      i {
        padding: 0;
      }
    }
  }
}
