.headerMob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 4px solid var(--accent-bg);
  width: 100%;
  background-color: var(--header-bg);
  color: var(--header-txt);
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 27px;
  font-size: 25px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

.headerMob > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 30px;
  height: 40px;
  border: 0;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0;
}

.headerMob > button > span {
  width: 100%;
  height: 2px;
  background-color: var(--header-txt);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.headerMob > button > span:nth-child(1) {
  position: absolute;
  bottom: 11px;
  left: 0;
}

.headerMob > button > span:nth-child(3) {
  position: absolute;
  top: 11px;
  left: 0;
}

.headerMob.open > button span:nth-child(2) {
  background-color: transparent;
}

.headerMob.open > button span:nth-child(1) {
  -webkit-animation: animateSec 0.5s forwards ease-in;
          animation: animateSec 0.5s forwards ease-in;
}

.headerMob.open > button span:nth-child(3) {
  -webkit-animation: animateFirst 0.5s forwards ease-in;
          animation: animateFirst 0.5s forwards ease-in;
}

.headerMob.closing > button span:nth-child(2) {
  background-color: transparent;
}

.headerMob.closing > button span:nth-child(1) {
  -webkit-animation: animateSecRev 0.5s forwards ease-in;
          animation: animateSecRev 0.5s forwards ease-in;
}

.headerMob.closing > button span:nth-child(3) {
  -webkit-animation: animateFirstRev 0.5s forwards ease-in;
          animation: animateFirstRev 0.5s forwards ease-in;
}

.headerMob nav {
  position: fixed;
  left: 0;
  width: 80vw;
  background: #ebebeb;
  color: #222;
  height: 100%;
  z-index: 4;
  top: 70px;
  overflow: hidden;
  -webkit-animation-duration: 0.5s !important;
          animation-duration: 0.5s !important;
  border-top: 4px solid var(--accent-bg);
  font-size: 16px;
}

.headerMob nav + .backDrop {
  top: 70px;
}

.headerMob nav .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}

.headerMob nav .tabs > div {
  border-bottom: 1px solid #63696d;
  width: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  text-transform: uppercase;
}

.headerMob nav .tabs > div i {
  margin-right: 5px;
  font-size: 20px;
}

.headerMob nav .tabs > div.active {
  background-color: #fff;
  border-color: var(--accent-bg);
}

.headerMob nav .tabBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  height: calc(100% - 142px);
  overflow-y: auto;
  padding-bottom: 41px;
}

.headerMob nav .tabBody--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px;
  height: 42px;
  border-bottom: 1px solid #b8bcbe;
  color: #272c31;
  text-transform: capitalize;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  white-space: nowrap;
}

.headerMob nav .tabBody--item.tel {
  display: none;
}

.headerMob nav .tabBody--item.tel:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerMob nav .tabBody--item > span {
  width: 50vw;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerMob nav .tabBody--item > i:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerMob nav .tabBody--item .fa-chevron-right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerMob nav .tabBody--item.active {
  background-color: var(--accent-bg);
  color: var(--accent-txt);
}

.headerMob nav .tabBody--item.active i {
  opacity: 1;
}

.headerMob nav .tabBody--item:nth-child(1) {
  background-color: #fff;
}

.headerMob nav .tabBody--item i {
  margin-right: 3px;
  opacity: 0.5;
  width: 35px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.headerMob nav .tabBody--item span:nth-child(3) {
  margin-left: auto;
  font-weight: 500;
  color: var(--accent-bg);
  text-align: right;
  width: 30vw;
}

.headerMob nav .tabBody--a {
  position: fixed;
  bottom: 70px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  border-top: 1px solid #b8bcbe;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ebebeb;
  z-index: 1;
}

.headerMob nav .tabBody--a__b {
  width: 50%;
  text-align: center;
  font-weight: 400;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerMob nav .tabBody--a__b i {
  width: 25px;
}

.headerMob nav .tabBody--a__b:nth-child(1) {
  border-right: 1px solid #b8bcbe;
}

.headerMob nav .tabBody--a__b:nth-child(2) {
  background: var(--accent-bg);
  color: var(--accent-txt);
}

.headerMob .nameUser {
  white-space: nowrap;
  width: 40vw;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerMob + .azcont {
  display: none;
}

.headerMob + .azcont + .accountInfo {
  padding-top: 70px;
  padding-bottom: 43px;
}

.headerMob + div:not(.mobileWrapper) {
  padding-top: 69px;
  padding-bottom: 43px;
}

.headerMob + div:not(.mobileWrapper) .download-overview {
  display: none;
}

.headerMob + div:not(.mobileWrapper) .sort-annunci ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
}

.headerMob + div:not(.mobileWrapper) .sort-annunci ul::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.headerMob + div:not(.mobileWrapper) .sort-annunci ul li {
  width: auto !important;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px !important;
}

.headerMob + div:not(.mobileWrapper) .azioni {
  display: none;
}

.headerMob + div + div + .overview {
  padding-top: 0;
}

.headerMob + div + div + .overview .azioni,
.headerMob + div + div + .overview .overviw-line {
  display: none;
}

.headerMob + div + div + .overview .panels-container .DateUtent {
  border-right: 0;
}

.headerMob + div + div + .overview .panels-container .filterBtn {
  height: 40px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.headerMob + div + div + .overview .panels-container .MoviFirst,
.headerMob + div + div + .overview .panels-container .DateUtent {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.headerMob + div + div + .overview .panels-container .wsNwp div {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100px;
}

.headerMob + .Container .overview {
  padding-top: 0;
}

.headerMob + .overview {
  background: #ececed !important;
}

.mobileWrapper {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  left: 0;
}

.logoMob {
  height: 40px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.footerMob {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 43px;
  font-size: 12px;
  text-align: center;
  background-color: #f5f5f5;
  border-bottom: 4px solid var(--accent-bg);
  color: #63696d;
  padding: 2px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fal.PRDPST:before, .fal.SND000:before {
  content: "\f543";
}

.fal.RTELD:before, .fal.RTELC:before, .fal.RTELI:before {
  content: "\f10b";
}

.fal.CCARD:before {
  content: "\f09d";
}

.fal.SCMS:before {
  content: "\f389";
}

.fal.RTVD:before {
  content: "\f26c";
}

.fal.GIFT:before {
  content: "\f06b";
}

.fal.ALTRI:before {
  content: "\f217";
}

.fal.CRYP:before {
  content: "\f51e";
}

.fal.BGLT:before, .fal.VSRE:before {
  content: "\f570";
}

@media (max-width: 1024px) {
  .headerMob nav .tabs * {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10+ and Edge */
    -moz-user-select: none;
         user-select: none;
    /* Standard syntax */
  }
}

@-webkit-keyframes animateFirstRev {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 16px;
    width: 90%;
  }
  22% {
    top: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  77% {
    top: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  100% {
    top: 11px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
}

@keyframes animateFirstRev {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 16px;
    width: 90%;
  }
  22% {
    top: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  77% {
    top: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  100% {
    top: 11px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
}

@-webkit-keyframes animateFirst {
  0% {
    top: 11px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  22% {
    top: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  77% {
    top: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 16px;
    width: 90%;
  }
}

@keyframes animateFirst {
  0% {
    top: 11px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  22% {
    top: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  77% {
    top: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 16px;
    width: 90%;
  }
}

@-webkit-keyframes animateSecRev {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 90%;
    bottom: 21px;
  }
  22% {
    bottom: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  77% {
    bottom: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  100% {
    bottom: 11px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
}

@keyframes animateSecRev {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 90%;
    bottom: 21px;
  }
  22% {
    bottom: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  77% {
    bottom: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  100% {
    bottom: 11px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
}

@-webkit-keyframes animateSec {
  0% {
    bottom: 11px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  22% {
    bottom: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  77% {
    bottom: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 90%;
    bottom: 21px;
  }
}

@keyframes animateSec {
  0% {
    bottom: 11px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  22% {
    bottom: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  77% {
    bottom: 19px;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 100%;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 90%;
    bottom: 21px;
  }
}

.moveRight {
  position: relative;
  left: 60vw;
}
/*# sourceMappingURL=style.css.map */