.headerMob {
  display: flex;
  border-top: 4px solid var(--accent-bg);
  width: 100%;
  background-color: #fff;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding: 0 27px;
  font-size: 25px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  > i {
    &.active {
      color: var(--accent-bg);
    }
  }
  nav {
    position: fixed;
    left: 0;
    width: 80vw;
    background: #ebebeb;
    height: 100%;
    z-index: 4;
    top: 0;
    overflow: hidden;
    animation-duration: 0.5s !important;
    border-top: 4px solid var(--accent-bg);
    font-size: 16px;
    .tabs {
      display: flex;
      height: 70px;
      > div {
        border-bottom: 1px solid #63696d;
        width: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        text-transform: uppercase;
        i {
          margin-right: 5px;
          font-size: 20px;
        }
        &.active {
          background-color: #fff;
          border-color: var(--accent-bg);
        }
      }
    }
    .tabBody {
      display: flex;
      flex-flow: column;
      position: relative;
      height: calc(100% - 74px);
      overflow-y: auto;
      padding-bottom: 41px;
      &--item {
        display: flex;
        align-items: center;
        padding: 0 18px;
        height: 42px;
        border-bottom: 1px solid #b8bcbe;
        color: #272c31;
        text-transform: capitalize;
        flex-shrink: 0;
        position: relative;
        white-space: nowrap;
        > span {
          width: 50vw;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        > i:first-child {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .fa-chevron-right {
          margin-left: auto;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        &.active {
          background-color: var(--accent-bg) !important;
          color: var(--accent-txt);
          i {
            opacity: 1;
          }
        }
        &:nth-child(1) {
          background-color: #fff;
        }
        i {
          margin-right: 3px;
          opacity: 0.5;
          width: 35px;
          flex-shrink: 0;
        }
        span:nth-child(3) {
          margin-left: auto;
          font-weight: 500;
          color: var(--accent-bg);
          text-align: right;
          width: 30vw;
        }
      }
      &--a {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        height: 42px;
        border-top: 1px solid #b8bcbe;
        align-items: center;
        background: #ebebeb;
        z-index: 1;
        &__b {
          width: 50%;
          text-align: center;
          font-weight: 400;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            width: 25px;
          }
          &:nth-child(1) {
            border-right: 1px solid #b8bcbe;
          }
          &:nth-child(2) {
            background: var(--accent-bg);
            color: var(--accent-txt);
          }
        }
      }
    }
  }
  .nameUser {
    white-space: nowrap;
    width: 40vw;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  + .azcont {
    display: none;
    + .accountInfo {
      padding-top: 70px;
      padding-bottom: 43px;
    }
  }
  + div:not(.mobileWrapper) {
    padding-top: 69px;
    padding-bottom: 43px;
    .download-overview {
      display: none;
    }
    .sort-annunci {
      ul {
        width: 100%;
        display: flex;
        overflow: scroll;
        &::-webkit-scrollbar {
          height: 0;
          width: 0;
        }
        li {
          width: auto !important;
          flex-shrink: 0;
          margin-right: 10px !important;
        }
      }
    }
    .azioni {
      display: none;
    }
  }
  + div + div + .overview {
    padding-top: 0;
    .azioni,
    .overviw-line {
      display: none;
    }

    .panels-container {
      .DateUtent {
        border-right: 0;
      }
      .filterBtn {
        height: 40px;
        width: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .MoviFirst,
      .DateUtent {
        flex-flow: column;
      }
      .wsNwp {
        div {
          width: 90%;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          width: 100px;
        }
      }
    }
  }

  + .Container {
    .overview {
      padding-top: 0;
    }
  }
  + .overview {
    background: #ececed !important;
  }
}

.logoMob {
  height: 40px;
}
.footerMob {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 43px;
  font-size: 12px;
  text-align: center;
  background-color: #f5f5f5;
  border-bottom: 4px solid var(--accent-bg);
  color: #63696d;
  padding: 2px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fal {
  &.PRDPST,
  &.SND000 {
    &:before {
      content: "\f543";
    }
  }
  &.RTELD:before,
  &.RTELC:before,
  &.RTELI:before {
    content: "\f10b";
  }
  &.CCARD:before {
    content: "\f09d";
  }
  &.SCMS:before {
    content: "\f389";
  }
  &.RTVD:before {
    content: "\f26c";
  }
  &.GIFT:before {
    content: "\f06b";
  }
  &.ALTRI:before {
    content: "\f217";
  }
  &.CRYP:before {
    content: "\f51e";
  }
  &.BGLT,
  &.VSRE {
    &:before {
      content: "\f570";
    }
  }
}
