@media (max-width: 1453px) {
}
@media (max-width: 1150px) {
}
@media (max-width: 1197px) {
}
@media (max-width: 984px) {
  .panels-container {
    padding-bottom: 100px;
  }
  .heading-tab {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 21px;
    cursor: default;
  }
  .active-tab:after {
    display: none;
  }
  .azioni-tab {
    margin-top: 10px;
  }
  .nothinSelected {
    display: none;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 425px) {
  .panel-tab .date-pane {
    font-size: 12px;
  }
  .panel-tab h4 {
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
  }
}
