// @import url(//db.onlinewebfonts.com/c/b2e75c336df191233b3096682c9ee6be?family=PixelarRegularW01-Regular);
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

.azioni {
  padding-left: 15px;
  padding-right: 15px;
  &::-webkit-scrollbar-thumb {
    background-color: #7e8f9f;
  }
  &::-webkit-scrollbar {
    width: 0;
    height: 4px;
  }
  .swiper-container {
    padding-bottom: 20px;
  }
  .swiper-slide {
    padding-left: 0 !important;
  }
  .swiper-button-prev {
    left: 0;
    background: #ed4c1433;
    height: 101px;
    top: 22px;
    width: 60px;
    color: #7e8f9f;
  }
  .swiper-button-next {
    right: 0;
    left: auto;
    background: #ed4c1433;
    height: 101px;
    top: 22px;
    width: 60px;
    color: #7e8f9f;
  }
}
.panels-container {
  background: #fff !important;
  margin-top: 34px;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.09);
  padding-bottom: 60px;
}
.panel-tab {
  background: $second;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  h4 {
    // font-family: $font1;
    font-size: 20px;
    color: #7e8f9f;
    text-transform: uppercase;
    position: relative;
    top: 4px;
    left: 10px;
    font-weight: normal;
    margin-right: auto;
  }
  .date-pane {
    position: relative;
    right: 40px;
    font-weight: 500;
    // font-family: $font1;
    color: #32424e;
  }
  img {
    position: relative;
    right: 20px;
    transition: 0.4s;
    transform: rotateZ(180deg);
  }
  i {
    color: $main;
    font-size: 9px;
  }
}
.panel-content {
  display: block;
}
.panel-content-annunci {
  border-left: 2px solid $second;
  border-right: 2px solid $second;
  padding: 5px 43px;
}
.panel-item {
  background: #fff;
  display: flex;
  border-left: 2px solid $second;
  border-right: 1px solid $second;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  transition: 0.3s;
  h4 {
    // font-family: $font1;
    font-size: 20px;
    color: #32424e;
    text-transform: uppercase;
    position: relative;
    top: 4px;
    left: 10px;
    font-weight: normal;
  }
  img {
    margin-left: auto;
    position: relative;
    right: 20px;
  }
  i {
    color: #32424e;
    font-size: 9px;
  }
}

.heading-tab {
  // font-family: $font1;
  font-size: 24px;
  font-weight: normal;
  color: #32424e;
  padding-top: 30px;
  padding-bottom: 8px;
  cursor: default;
}
.rotateARR2 {
  transform: rotate(360deg) !important;
  transition: 0.3s;
}
.tab-pane {
  padding-top: 0 !important;
}
.clickedItem {
  border-right: 4px solid $main;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
  position: relative;
  z-index: 1;
  transition: 0.2s;
  h4 {
    color: $main;
    font-weight: 600;
  }
}
.tab-content {
  padding-left: 10px !important;
  display: none;
}
.panel-services {
  background: $second;
  margin: 0;
  padding: 5px;
  background: #fff;
  .table,
  td {
    border-collapse: collapse;
  }
  td {
    border: 2px solid #edeef0;
    text-align: left;
    padding: 10px;
    padding-bottom: 0;
    cursor: pointer;
    width: 50%;
    display: inline-block;
    p {
      position: relative;
      margin: 0;
      // font-family: $font1;
      font-size: 16px;
      font-weight: normal;
      margin-top: 13px;
      line-height: 14px;
      margin-bottom: 7px;
      text-transform: uppercase;
    }
  }
}
.bolletini tr:nth-child(1) {
  td:nth-child(1) {
    color: #32424e;
  }
  td:nth-child(2) {
    color: #0088bb;
  }
}
.bolletini tr:nth-child(2) {
  td:nth-child(1) {
    color: $main;
  }
  td:nth-child(2) {
    color: #00b850;
  }
}
.rightTriangle {
  opacity: 0;
  transition: 0.3s;
}
.clickedItem {
  .rightTriangle {
    opacity: 1;
    position: relative;
    right: -1px;
    width: 7px;
  }
}
.phoneall {
  h3 {
    color: $main;
    margin-top: 14px;
    // font-family: $font1;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.nothinSelected {
  background: $second;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.headerModal {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  + div,
  span {
    display: block;
    word-wrap: break-word;
    page-break-inside: auto;
    break-inside: auto;
    text-align: center;
    /* width: auto; */
    font-weight: 800;
    color: #000;
    letter-spacing: 1px;
  }
  + div {
    font-weight: 500;
    text-align: left;
    position: relative;
  }
  //text-align: center;
}
.logo {
  display: block;
  margin: 0 auto;
  height: 37px;
}
.afterprint {
  .logo {
    filter: grayscale(1) brightness(0.3);
  }
}
span.superSmall.tel {
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
  margin-bottom: 4px;
  width: 100% !important;
}
.printModal .text-bold {
  font-weight: 600 !important;
  > span {
    font-size: 12px !important;
    display: inline-block;
  }
  + .superSmall {
    white-space: nowrap;
  }
}
.userCel {
  font-size: 18px !important;
}
span.superSmall {
  font-weight: 400;
  font-size: 15px;
}
.userCel {
  font-weight: 400 !important;
  b {
    font-weight: 600 !important;
  }
}
.fontSmall {
  text-transform: capitalize;
  font-weight: 400 !important;
  font-size: 16px !important;
}
.marginC {
  clear: both;
  float: right;
  width: 100%;
  text-align: right;
  position: absolute;
  border-bottom: 1px solid #222;
  margin-top: -22px;
}
@font-face {
  font-family: fontPrint;
  src: url(./font.ttf);
}
@import url(//db.onlinewebfonts.com/c/b2e75c336df191233b3096682c9ee6be?family=PixelarRegularW01-Regular);
.barcodeModal {
  height: 80px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.afterprint {
  color-adjust: exact;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 15px;
}
.afterprint .printModal {
  width: 100%;
  max-width: 80mm;
  margin-left: 11mm;
}
.printModal {
  // filter: blur(0.4px);
  width: 100%;
  display: block;
  * {
    font-family: "Roboto", sans-serif;
    // font-family: normal !important;
    font-style: normal !important;
    font-synthesis: weight;
    font-variant: normal;
    font-display: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-variant-caps: normal;
  }
}
.marginB {
  display: inline-block;
  margin-right: 10%;
}
.printBtn {
  max-width: 200px;
  padding: 10px;
  background: #dedede;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
}
.afterprint .printBtn {
  display: none;
}

@media print {
  @page {
    margin: 0 auto;
  }
}
