@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  padding-top: 0 !important;
}

.headermaxW {
  width: 100%;
  max-width: 1135px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.logoutBtn {
  background: transparent;
  border: 0;
  font-size: 13px;
  border: 1px solid var(--accent-txt);
  border-radius: 20px;
  padding: 0 15px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;

  &:hover {
    background-color: var(--accent-txt);
    color: var(--accent-bg);
  }
}

header.header {
  display: flex;
  flex-flow: column;
  background-color: var(--accent-bg);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  .topNav {
    width: 100%;
    color: var(--accent-txt);
    display: flex;
    justify-content: space-between;

    .register {
      border: 1px solid var(--accent-txt);
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: var(--accent-txt);
        color: var(--accent-bg);
      }
    }
    .registerDropDown {
      position: relative;
      z-index: 33;
      i {
        cursor: pointer;
      }
      &--item {
        cursor: pointer;
        padding: 4px 0;
      }
      .wrapperReg {
        position: absolute;
        top: 30px;
        background: var(--light);
        color: var(--dark);
        padding: 15px;
        left: -30px;
      }
    }
    .left,
    .right {
      display: flex;
      padding: 4px 15px;
      align-items: center;
      font-size: 14px;
    }
    .left {
      padding-left: 0;
    }
    .right {
      padding-right: 0;
    }
    .userinfo {
      display: flex;

      > div {
        padding: 0 10px;
        text-transform: capitalize;
        display: flex;
        align-items: center;
      }

      .money {
        padding-left: 0;
      }
    }

    .left > div {
      padding: 2px;
      display: flex;
      align-items: center;

      &:nth-child(2) {
        padding-left: 20px;
      }

      i {
        margin-right: 3px;
        padding-left: 5px;
      }
    }

    .icons {
      display: flex;
      .ads {
        position: absolute;
        background: var(--accent-bg);
        z-index: 3;
        top: 26px;
        white-space: nowrap;
        display: flex;
        flex-flow: column;
        left: -10px;
        max-height: 0px;
        overflow: hidden;
        transition: 0.3s;
        &.viz {
          max-height: 999px;
        }
        > div {
          cursor: pointer;
          padding-bottom: 20px;
          padding: 2px 18px;
        }
      }
      > div {
        position: relative;
        width: 30px;
        display: flex;
        align-items: center;

        i {
          cursor: pointer;
          opacity: 0.7;
        }
      }

      span {
        width: 16px;
        height: 15px;
        border-radius: 20px;
        background-color: #3c4349;
        color: #fff;
        font-size: 12px;
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -6px;
        left: 7px;
        font-size: 10px;
        pointer-events: none;
        &.pulse {
          background-color: rgb(201, 61, 61);
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    color: var(--header-txt);
    padding: 10px;
    border-bottom: 2px solid var(--accent-bg);
    box-shadow: 1px 18px 20px -22px black;
    .logo {
      margin: 0;
      margin-right: auto;
      height: auto;
    }
  }
  .chatSticky {
    background-color: #fff;
    display: none;
  }
  .navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato", sans-serif;

    .item {
      text-transform: uppercase;
      margin: 0 20px;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: center;
      margin-right: 0;
      a {
        text-emphasis: none;
        color: var(--header-txt);
      }
      &:last-child {
        background-color: var(--accent-bg);
        color: var(--accent-txt);
        padding: 3px 16px;
        border-radius: 20px;
        a {
          color: var(--accent-txt);
        }
        &:hover {
          color: var(--accent-txt);
        }
      }

      cursor: pointer;

      &:hover {
        color: var(--accent-bg);
      }
    }
  }
}

.mobHeader {
  display: flex;
  flex-flow: column;
  width: 100%;

  .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
    background-color: #fff;
    border-bottom: 2px solid var(--accent-bg);

    .logo {
      margin-top: 6px;
    }

    button {
      background-color: transparent;
      border: 0;
      color: #3c4349;
      font-size: 20px;
    }
  }

  .bottom {
    background-color: #fff;
    overflow: hidden;
    max-height: 0px;
    transition: 0.3s;
    display: flex;
    width: 100%;
    flex-flow: column;
    padding: 0 10px;

    .icons {
      display: flex;
      margin-top: 20px;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 30px;

      > div {
        position: relative;
        width: 30px;
        display: flex;
        align-items: center;

        i {
          cursor: pointer;
        }
      }

      span {
        width: 16px;
        height: 15px;
        border-radius: 20px;
        background-color: var(--accent-bg);
        color: #fff;
        font-size: 12px;
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -6px;
        left: 7px;
      }
    }

    .navLinks {
      margin-top: 30px;
      text-transform: uppercase;
      text-align: center;
      button {
        background-color: var(--accent-bg);
        color: #fff;
        border: 0;
        padding: 5px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .item {
        a {
          color: #222;
        }
        padding: 6px;
        &:nth-child(even) {
          background-color: #eaeaea;
        }
      }
    }

    .userinfo {
      display: flex;
      justify-content: space-between;
    }

    &.opened {
      max-height: 999px;
      box-shadow: inset 3px 20px 20px -23px black;
      padding-top: 30px;
    }
  }
}
.ant-message .anticon {
  top: -3px !important;
}
.pulse::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1;
}
@keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
.backTopTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--accent-bg);
  color: var(--accent-txt);
  font-size: 18px;
  border-radius: 90px;
  cursor: pointer;
  z-index: 999;
  border: 1px solid var(--accent-txt);
}
