@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
body {
  padding-top: 0 !important;
}

.headermaxW {
  width: 100%;
  max-width: 1371px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logoutBtn {
  background: transparent;
  border: 0;
  font-size: 13px;
  border: 1px solid var(--accent-txt);
  border-radius: 20px;
  padding: 0 15px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.logoutBtn:hover {
  background-color: var(--accent-txt);
  color: var(--accent-bg);
}

header.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: var(--accent-bg);
  width: 100%;
}

header.header .topNav {
  width: 100%;
  color: var(--accent-txt);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.header .topNav .register {
  border: 1px solid var(--accent-txt);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header.header .topNav .register:hover {
  background-color: var(--accent-txt);
  color: var(--accent-bg);
}

header.header .topNav .registerDropDown {
  position: relative;
  z-index: 33;
}

header.header .topNav .registerDropDown i {
  cursor: pointer;
}

header.header .topNav .registerDropDown--item {
  cursor: pointer;
  padding: 4px 0;
}

header.header .topNav .registerDropDown .wrapperReg {
  position: absolute;
  top: 30px;
  background: var(--light);
  color: var(--dark);
  padding: 15px;
  left: -30px;
}

header.header .topNav .left,
header.header .topNav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header .topNav .left {
  padding-left: 0;
}

header.header .topNav .right {
  padding-right: 0;
}

header.header .topNav .userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.header .topNav .userinfo > div {
  padding: 0 10px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header .topNav .userinfo .money {
  padding-left: 0;
}

header.header .topNav .left > div {
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header .topNav .left > div:nth-child(2) {
  padding-left: 20px;
}

header.header .topNav .left > div i {
  margin-right: 3px;
  padding-left: 5px;
}

header.header .topNav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.header .topNav .icons .ads {
  position: absolute;
  background: var(--accent-bg);
  z-index: 3;
  top: 26px;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  left: -10px;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header.header .topNav .icons .ads.viz {
  max-height: 999px;
}

header.header .topNav .icons .ads > div {
  cursor: pointer;
  padding-bottom: 20px;
  padding: 2px 18px;
}

header.header .topNav .icons > div {
  position: relative;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header .topNav .icons > div i {
  cursor: pointer;
  opacity: 0.7;
}

header.header .topNav .icons span {
  width: 16px;
  height: 15px;
  border-radius: 20px;
  background-color: #3c4349;
  color: #fff;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -6px;
  left: 7px;
}

header.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--header-bg);
  color: var(--header-txt);
  padding: 10px;
  border-bottom: 2px solid var(--accent-bg);
  -webkit-box-shadow: 1px 18px 20px -22px black;
          box-shadow: 1px 18px 20px -22px black;
}

header.header nav .logo {
  margin: 0;
  margin-right: auto;
  height: auto;
}

header.header .chatSticky {
  background-color: #fff;
  display: none;
}

header.header .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lato", sans-serif;
}

header.header .navLinks .item {
  text-transform: uppercase;
  margin: 0 20px;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  cursor: pointer;
}

header.header .navLinks .item a {
  -webkit-text-emphasis: none;
          text-emphasis: none;
  color: var(--header-txt);
}

header.header .navLinks .item:last-child {
  background-color: var(--accent-bg);
  color: var(--accent-txt);
  padding: 3px 16px;
  border-radius: 20px;
}

header.header .navLinks .item:last-child a {
  color: var(--accent-txt);
}

header.header .navLinks .item:last-child:hover {
  color: var(--accent-txt);
}

header.header .navLinks .item:hover {
  color: var(--accent-bg);
}

.mobHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
}

.mobHeader .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 15px;
  background-color: #fff;
  border-bottom: 2px solid var(--accent-bg);
}

.mobHeader .top .logo {
  margin-top: 6px;
}

.mobHeader .top button {
  background-color: transparent;
  border: 0;
  color: #3c4349;
  font-size: 20px;
}

.mobHeader .bottom {
  background-color: #fff;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0 10px;
}

.mobHeader .bottom .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 30px;
}

.mobHeader .bottom .icons > div {
  position: relative;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobHeader .bottom .icons > div i {
  cursor: pointer;
}

.mobHeader .bottom .icons span {
  width: 16px;
  height: 15px;
  border-radius: 20px;
  background-color: var(--accent-bg);
  color: #fff;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -6px;
  left: 7px;
}

.mobHeader .bottom .navLinks {
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
}

.mobHeader .bottom .navLinks button {
  background-color: var(--accent-bg);
  color: #fff;
  border: 0;
  padding: 5px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mobHeader .bottom .navLinks .item {
  padding: 6px;
}

.mobHeader .bottom .navLinks .item a {
  color: #222;
}

.mobHeader .bottom .navLinks .item:nth-child(even) {
  background-color: #eaeaea;
}

.mobHeader .bottom .userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobHeader .bottom.opened {
  max-height: 999px;
  -webkit-box-shadow: inset 3px 20px 20px -23px black;
          box-shadow: inset 3px 20px 20px -23px black;
  padding-top: 30px;
}

.ant-message .anticon {
  top: -3px !important;
}
/*# sourceMappingURL=newheader.css.map */