.sort-annunci {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  border-bottom: 1px solid $second;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  position: relative;
  .rdrDefinedRangesWrapper,
  .rdrStaticRange {
    background: #eaeaea;
  }
  .rdrCalendarWrapper * {
    text-transform: capitalize;
  }
  .rdrMonth {
    padding: 0 0.833em 1.666em 0.833em;
    background: #f7f7f7;
  }
  .dal {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #989898;
    padding: 0 20px;
    &:nth-child(2) {
      cursor: pointer;
    }
    &:nth-child(1) {
      border-right: 2px solid #edeef0;
    }
  }
  .rdrInputRange span {
    color: transparent;
    &::before {
      content: "Giorni da oggi";
      color: #222;
      position: relative;
      top: 10px;
    }
  }
  .rdrInputRange:nth-child(2) {
    display: none;
  }
  .calendarWrapper {
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    top: 74px;
    box-shadow: 0 12px 20px 1px #0000008c;
    .buttons {
      background-color: #fff;
      display: flex;
      padding: 20px;
      justify-content: space-between;
      align-items: center;
      button {
        border: 0;
        background-color: transparent;
        text-transform: uppercase;
        padding: 5px 10px;
        &:nth-child(2) {
          background-color: #00b850;
          color: #fff;
        }
        &:nth-child(1) {
          background-color: #c53f3f;
          color: #fff;
        }
      }
    }
  }
  .heading-tab {
    padding-top: 0;
    cursor: default;
  }
  ul {
    display: flex;
    flex-direction: row;
  }
  li.active {
    border-bottom: 2px solid;
  }
  li {
    cursor: pointer;
    list-style-type: none;
    margin-right: 10px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    span {
      color: #7d858b;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    i {
      font-size: 10px;
      position: relative;
      bottom: 2px;
      padding-right: 5px;
    }
  }

  li:first-child {
    border-color: #000;
    i {
      color: #000;
    }
  }
  li:nth-child(2) {
    border-color: #0092ff;
    i {
      color: #0092ff;
    }
  }
  li:nth-child(3) {
    border-color: #ff0000;
    i {
      color: #ff0000;
    }
  }
  li:nth-child(4) {
    border-color: #ff6f00;
    i {
      color: #ff6f00;
    }
  }
  li:nth-child(5) {
    border-color: #00b850;
    i {
      color: #00b850;
    }
  }
  .panel-tab i.fas.fa-dot-circle.tuti {
    color: #000 !important;
  }
  .panel-tab i.fas.fa-dot-circle.privata {
    color: #0092ff;
  }
  .panel-tab i.fas.fa-dot-circle.cancelazione {
    color: #ff0000;
  }
  .panel-tab i.fas.fa-dot-circle.informazione {
    color: #ff6f00;
  }
  .panel-tab i.fas.fa-dot-circle.nuovo {
    color: #00b850;
  }
}
.carica-conto {
  h3 {
    font-size: 16px;
    font-weight: 500;
    font-family: $font2;
  }
  p {
    font-family: $font1;
    font-size: 13px;
    line-height: 11px;
  }
  span,
  address {
    font-weight: bold;
  }
  .input-group {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
  .form-control {
    padding: 40px 20px;
  }
  .input-group-text {
    background: transparent;
    color: #00b850;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    i {
      order: 2;
      font-size: 30px;
    }
  }
  .input-group-text:hover {
    background: #00b850;
    color: #fff;
  }
}

i#new {
  color: #00b850;
}
i#info {
  color: #ff6f00;
}
i#canceled {
  color: #ff0000;
}
i#private {
  color: #0092ff;
}

.addAds {
  .addAds--title,
  .addAds--message {
    input,
    textarea {
      min-width: 300px;
      max-width: 400px;
      width: 100%;
      border: none;
      background: #ececec;
      border-radius: 5px;
    }
  }
  .addAds--checkbox {
    label {
      margin: 0 10px;
      width: auto;
      direction: ltr;
    }
  }
  > div {
    display: flex;
    margin: 10px 0;
    label {
      margin: 0 10px;
      width: 100px;
      direction: rtl;
      display: flex;
    }
    button {
      border: none;
      background: transparent;
      width: 100%;
    }
    button.success {
      border: 1px solid #00b850;
      border-radius: 5px;
      color: #00b850;
    }
    button[disabled] {
      opacity: 0.5;
    }

    button.cancel {
      border: 1px solid red;
      border-radius: 5px;
      color: red;
    }
  }
}

@media only screen and (max-width: 826px) {
  .sort-annunci {
    flex-direction: column;
    padding: 0 20px;
    li {
      width: 20%;
    }
  }
}
