.DContainer {
  max-width: 1135px;
  margin: 10px auto;
  margin-bottom: 20px;
}

.DContainer img {
  pointer-events: none;
}

@media (max-width: 1135px) {
  .DContainer {
    max-width: 100%;
  }
}

.DContainer .Image {
  width: 100%;
  margin: 10px 0;
  -webkit-transform: 0.1s;
          transform: 0.1s;
}

.DContainer .Image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.DContainer .Image.fixed {
  display: none;
}

.DContainer .Categories {
  max-width: 285px;
  width: 285px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  overflow: auto;
}

.DContainer .Categories .active {
  color: var(--accent-bg);
  font-weight: bold;
  letter-spacing: 0.6px;
}

.DContainer .Categories.fixed {
  position: fixed;
  top: 153px;
  height: calc(100vh - 183px);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  overflow: auto;
}

.DContainer .Categories div {
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  color: #3c4349;
  background: #ffffff;
  height: 50px;
  min-height: 50px;
  font-family: "Roboto";
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-top: 1px solid #edeef0;
  cursor: pointer;
}

.DContainer .Categories div.First {
  font-size: 17px;
  font-weight: bold;
  color: var(--accent-bg);
  height: 55px;
}

.DContainer .Categories div.Last {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.DContainer .Categories div.Last img {
  width: 100%;
  height: auto;
}

.DContainer .Dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: calc(100vh - 700px);
  -webkit-transform: 0.1s;
          transform: 0.1s;
}

.DContainer .Dashboard.fixed {
  min-height: calc(100vh - 210px);
  position: relative;
  margin-top: 197px;
}

.DContainer .Dashboard .CompaniesAndOther {
  width: calc(100% - 300px);
  max-width: calc(100% - 300px);
  min-width: calc(100% - 300px);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-transform: 0.1s;
          transform: 0.1s;
}

.DContainer .Dashboard .CompaniesAndOther.fixed {
  margin-left: 300px;
}

.DContainer .Dashboard .CompaniesAndOther .Favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
}

.DContainer .Dashboard .CompaniesAndOther .Favorites::-webkit-scrollbar {
  width: 0;
  height: 4px;
}

.DContainer .Dashboard .CompaniesAndOther .Favorites::-webkit-scrollbar-thumb {
  background: #3c4349;
}

.DContainer .Dashboard .CompaniesAndOther .Favorites div {
  width: 140px;
  min-width: 140px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 18px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  font-family: "Roboto";
  margin-right: 2px;
  cursor: pointer;
}

.DContainer .Dashboard .CompaniesAndOther .Favorites div i {
  position: absolute;
  top: 0;
  right: 0;
  width: 21%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #0000004d;
}

.DContainer .Dashboard .CompaniesAndOther .Favorites div i.favourite {
  color: #ffc107;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.DContainer .Dashboard .CompaniesAndOther .Favorites div i.favourite:hover {
  color: #0000004d;
  font-weight: 400;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.DContainer .Dashboard .CompaniesAndOther .Favorites div.NF {
  width: 100%;
  width: 100%;
  color: #212529;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: unset;
}

.DContainer .Dashboard .CompaniesAndOther .Favorites div img {
  height: 50px;
  width: 70px;
  margin-bottom: 12px;
  -o-object-fit: contain;
     object-fit: contain;
}

.DContainer .Dashboard .CompaniesAndOther .Comp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 60px);
}

.DContainer .Dashboard .CompaniesAndOther .Comp .Search {
  width: 100%;
  background: #ffffff;
  position: relative;
  height: 60px;
}

.DContainer .Dashboard .CompaniesAndOther .Comp .Search input {
  width: 90%;
  position: absolute;
  height: 100%;
  color: #3c4349b3;
  border: none;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
}

.DContainer .Dashboard .CompaniesAndOther .Comp .Search i {
  font-size: 20px;
  font-weight: 300;
  color: #3c4349b3;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100%;
  top: 0;
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DContainer .Dashboard .CompaniesAndOther .Comp .Companies {
  display: -ms-grid;
  display: grid;
  min-height: 140px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0 !important;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 4px solid var(--accent-bg);
}

@media (max-width: 1135px) {
  .DContainer .Dashboard .CompaniesAndOther .Comp .Companies {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.DContainer .Dashboard .CompaniesAndOther .Comp .Companies div {
  padding: 18px 0;
  height: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 140px;
  max-height: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: inset 0px 0px 1px 1px #edeef0;
          box-shadow: inset 0px 0px 1px 1px #edeef0;
  cursor: pointer;
  position: relative;
}

.DContainer .Dashboard .CompaniesAndOther .Comp .Companies div h3 {
  height: 20px;
  background: var(--accent-bg);
  width: calc(100% - 2px);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  font-family: "Roboto";
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  margin: 0 !important;
  padding: 0;
  left: 1px;
}

.DContainer .Dashboard .CompaniesAndOther .Comp .Companies div i {
  position: absolute;
  top: 0;
  right: 0;
  width: 21%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #0000004d;
  font-size: 17px;
}

.DContainer .Dashboard .CompaniesAndOther .Comp .Companies div i.hover {
  color: #ffc107;
  font-weight: 400;
  font-weight: bold;
}

.DContainer .Dashboard .CompaniesAndOther .Comp .Companies div i.favourite {
  color: #ffc107;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.DContainer .Dashboard .CompaniesAndOther .Comp .Companies div i.favourite.hover {
  font-weight: 400;
  color: #0000004d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.DContainer .Dashboard .CompaniesAndOther .Comp .Companies div img {
  height: 50px;
  width: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=Dashboard.css.map */