.DContainer {
  max-width: 1135px;
  margin: 10px auto;
  margin-bottom: 20px;
  @media (max-width: 1135px) {
    max-width: 100%;
  }
  .Image {
    width: 100%;
    margin: 10px 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &.fixed {
      display: none;
    }
  }
  .Categories {
    max-width: 285px;
    width: 285px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.5s;
    overflow: auto;
    .active {
      color: var(--accent-bg);
      font-weight: bold;
      letter-spacing: 0.6px;
    }
    &.fixed {
      position: fixed;
      top: 170px;
      min-height: calc(100vh - 183px);
      height: calc(100vh - 183px);
      transition: 0.5s;
      overflow: auto;
    }
    div {
      font-size: 15px;
      font-weight: 400;
      width: 100%;
      color: #3c4349;
      background: #ffffff;
      height: 50px;
      min-height: 50px;
      font-family: "Roboto";
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-top: 1px solid #edeef0;
      cursor: pointer;
      &.First {
        font-size: 17px;
        font-weight: bold;
        color: var(--accent-bg);
        height: 55px;
      }
      &.Last {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .Dashboard {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 700px);
    &.fixed {
      min-height: calc(100vh - 210px);
      margin-left: 300px;
      position: relative;
      margin-top: 219px;
      .CompaniesAndOther {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
      }
    }
    .CompaniesAndOther {
      width: calc(100% - 300px);
      max-width: calc(100% - 300px);
      min-width: calc(100% - 300px);
      height: auto;
      display: flex;
      flex-direction: column;
      min-height: 100%;
      .Favorites {
        display: flex;
        height: 140px;
        width: 100%;
        max-width: 100%;
        overflow: auto;
        flex-direction: row;
        margin-bottom: 15px;

        &::-webkit-scrollbar {
          width: 0;
          height: 4px;
        }
        &::-webkit-scrollbar-thumb {
          background: #3c4349;
        }
        div {
          width: 140px;
          min-width: 140px;
          background: #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding: 18px 0;
          align-items: center;
          font-size: 14px;
          font-weight: 500;
          position: relative;
          font-family: "Roboto";
          margin-right: 2px;
          cursor: pointer;
          i {
            position: absolute;
            top: 0;
            right: 0;
            width: 21%;
            height: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            transition: 0.2s;
            color: #0000004d;
            &.favourite {
              color: #ffc107;
              font-weight: bold;
              transition: 0.2s;
              &:hover {
                color: #0000004d;
                font-weight: 400;
                transition: 0.2s;
              }
            }
          }
          &.NF {
            width: 100%;
            width: 100%;
            color: #212529;
            align-items: center;
            display: flex;
            justify-content: center;
            cursor: unset;
          }
          img {
            height: 50px;
            width: 70px;
            margin-bottom: 12px;
            object-fit: contain;
          }
        }
      }
      .Comp {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: calc(100% - 60px);
        .Search {
          width: 100%;
          background: #ffffff;
          position: relative;
          height: 60px;

          input {
            width: 90%;
            position: absolute;
            height: 100%;
            color: #3c4349b3;
            border: none;
            font-size: 18px;
            font-weight: 400;
            left: 0;
            top: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 5%;
          }
          i {
            font-size: 20px;
            font-weight: 300;
            color: #3c4349b3;
            right: 0;
            display: flex;
            position: absolute;
            height: 100%;
            top: 0;
            width: 10%;
            justify-content: center;
            align-items: center;
          }
        }
        .Companies {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
          min-height: calc(100% - 60px);
          background: #ffffff;
          border-top: 4px solid var(--accent-bg);
          @media (max-width: 1135px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
          }
          div {
            padding: 20px 0;
            height: 100%;
            background: #ffffff;
            justify-content: flex-start;
            align-items: center;
            display: flex;
            flex-direction: column;
            border-left: 1px solid #edeef0;
            border-bottom: 1px solid #edeef0;
            cursor: pointer;
            position: relative;
            &:last-child {
              border: 1px solid #edeef0;
            }
            i {
              position: absolute;
              top: 0;
              right: 0;
              width: 21%;
              height: 25%;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.2s;
              color: #0000004d;
              font-size: 17px;
              &.hover {
                color: #ffc107;
                font-weight: bold;
              }
              &.favourite {
                color: #ffc107;
                font-weight: bold;
                transition: 0.2s;
                &:hover {
                  font-weight: 400;
                  color: #0000004d;
                  transition: 0.2s;
                }
              }
            }
            img {
              height: 50px;
              width: 70px;
              margin-bottom: 20px;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}
.leftCol_Module {
  background: #ffffff;
  padding: 0;
}
