.navbar {
  border-top: 3px solid $main;
  background: #fff;
  .nav-link {
    font-family: $font1;
    font-size: 16px;
    font-weight: 500;
    color: #8ca0b3 !important;
    white-space: nowrap;
    span {
      color: $main;
    }
  }
  .icons-nav {
    display: flex;
    justify-content: flex-start;
    padding-left: 16px;
  }
  .nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .active a {
    color: $main !important;
  }
  .navWrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.navbar-toggler {
  @media (max-width: 1024px) {
    width: 50px;
  }
}
.navbar-brand {
  display: flex;
  align-items: center;
  @media (max-width: 1024px) {
    width: 64%;
  }
}

.search-nav {
  border: 0;
  background: $second;
  border-radius: 4px;
  padding: 10px;
  width: 250px;
  max-width: 500px;
  margin-left: 70px;
}

.menus-nav {
  margin-left: 14%;
}
