//testing
.ordersShop {
  .userList {
    padding-bottom: 0;
  }
  .ordersDiv {
    border: 1px solid #c2cad1;
    border-top: none;
    width: 50%;
    display: inline-block;
    float: left;
  }
  &__row {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    border-top: 1px solid #c2cad1;
    font-size: 14px;
    background-color: #fff;
    > div {
      display: flex;
      height: 100%;
      align-items: center;
    }
    .oid {
      padding-left: 15px;

      span {
        color: var(--accent-bg);
        font-weight: 700;
      }
    }
    .odata {
      padding-right: 15px;
      display: flex;
      height: 100%;
      align-items: center;
    }
    .osubTot {
      padding-right: 15px;
      padding-left: 15px;
      border-left: 1px solid #c2cad1;
      border-right: 1px solid #c2cad1;
      display: flex;
      height: 100%;
      align-items: center;
      span {
        color: var(--accent-bg);
        font-weight: 700;
      }
    }
    .showD {
      font-size: 22px;
      display: flex;
      height: 100%;
      align-items: center;
      width: 50px;
      justify-content: center;
      i {
        opacity: 0.3;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.active {
        border-right: 3px solid var(--accent-bg);
        position: relative;
        &:before {
          content: "";
          border-left: 1px;
          border: 10px solid transparent !important;
          border-right: 10px solid var(--accent-bg) !important;
          width: 1px;
          position: absolute;
          top: calc(50% - 10px);
          right: -10px;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
    }
  }
  .orderDetails {
    width: 50%;
    display: inline-block;
    padding-left: 15px;
    .title {
      text-transform: uppercase;
      font-size: 14px;
      p {
        color: var(--accent-bg);
        font-weight: 700;
        line-height: 12px;
      }
    }
    &__row {
      height: 120px;
      display: flex;
      background-color: #fff;
      margin-bottom: 1px;
      align-items: center;
      justify-content: space-between;
      img {
        height: 100%;
        width: auto;
        padding: 5px 15px;
      }
      .odDetails {
        flex: 1 1;
        .name {
          font-size: 15px;
        }
        .price {
          font-size: 24px;
          color: var(--accent-bg);
          width: 30px;
        }
      }
      .odCount {
        padding: 0 15px;
        border-left: 1px solid #ebeced;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
    &__pay {
      background-color: #fff;
      padding: 15px;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 1px;
      .subt {
        display: flex;
        justify-content: space-between;
        &:first-child {
          span {
            color: var(--accent-bg);
          }
        }
        span {
          font-weight: 700;
        }
      }
    }
    &__customer {
      background-color: #fff;
      padding: 15px;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 1px;
      .title {
        color: var(--accent-bg);
        font-weight: 500;
      }
      .subt {
        display: flex;
        justify-content: space-between;
        span {
          font-weight: 700;
        }
      }
    }
    &__shipping {
      background-color: #fff;
      padding: 15px;
      text-transform: uppercase;
      font-size: 14px;
      .title {
        color: var(--accent-bg);
        font-weight: 500;
      }
      .subt {
        display: flex;
        justify-content: space-between;
        span {
          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .ordersShop {
    .ordersDiv,
    .orderDetails {
      width: 100%;
      padding-right: 10px;
      padding-left: 10px;
    }
    &__row {
      font-size: 13px;
      .oid {
        padding-left: 5px;
        flex-direction: column;
        justify-content: center;
      }
      .odata {
        padding-right: 5px;
      }
      .osubTot {
        padding-right: 5px;
        padding-left: 5px;
        flex-direction: column;
        justify-content: center;
      }
      .showD {
        width: 40px;
      }
    }
    .orderDetails {
      &__row {
        img {
          padding: 5px;
        }
        .odDetails {
          .name {
            font-size: 13px;
            line-height: normal;
          }
          .price {
            font-size: 20px;
          }
        }
      }
    }
  }
}
