div.Center,
div.Center--Big {
  & .AdminServizi {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 61px;
    & .NoData {
      font-family: "Roboto";
      font-size: 16px;
      position: absolute;
      width: 100%;
      height: 30px;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      & i {
        color: #0078ff;
        padding-right: 10px;
        font-weight: bold;
        font-size: 20px;
      }
    }
    & .AdminServiziItem {
      width: 100%;
      height: 253px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border: 1px solid #ebeced;
      & img {
        width: 150px;
        height: 100px;
        object-fit: contain;
      }
      &--Header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 90%;
        min-height: 42px;
        &--Prenotazione {
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          width: 100%;
          line-height: 14px;
          min-height: 14px;
          max-height: 28px;
          text-align: center;
          color: #5c5c5c;
          @media (max-width: 1024px) {
            font-size: 13px;
          }
        }
        &--Title {
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          line-height: 14px;
          text-transform: uppercase;
          color: #000000;
          @media (max-width: 1024px) {
            font-size: 13px;
          }
        }
      }

      &--ButtonWrapper {
        width: 70%;
        margin: 0 12%;
        margin-left: 18%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media (max-width: 550px) {
          width: 75%;
        }
        @media (max-width: 450px) {
          width: 80%;
        }
        div {
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: row;
          &:first-child {
            width: 80%;
          }
          &:nth-child(2) {
            width: 20%;
            justify-content: flex-end;
          }
          i {
            font-weight: 300;
            font-size: 16px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            width: 28px;
            display: flex;
            height: 28px;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            color: #484848;
            cursor: pointer;
          }
        }

        & button {
          background-color: #ffffff;
          font-size: 11px;
          font-weight: 500;
          font-family: "Roboto", sans-serif;
          color: #000000;
          border: 1px solid #000000;
          padding: 0;
          opacity: 0.3;
          width: 50%;
          height: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:first-child {
            border-radius: 30px 0 0 30px;
            &.active {
              border: 1px solid #00b850;
              color: #00b850;
              opacity: 1;
            }
          }
          &:nth-child(2) {
            border-radius: 0 30px 30px 0;
            &.active {
              border: 1px solid #e30000;
              color: #e30000;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1500px) {
  div.Center,
  div.Center--Big {
    & .AdminServizi {
      width: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;
      background-color: #ffffff;
    }
  }
}
@media (max-width: 1300px) {
  div.Center,
  div.Center--Big {
    & .AdminServizi {
      width: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      background-color: #ffffff;
    }
  }
}
@media (max-width: 750px) {
  div.Center,
  div.Center--Big {
    & .AdminServizi {
      width: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      background-color: #ffffff;
    }
  }
}
@media (max-width: 550px) {
  div.Center,
  div.Center--Big {
    .AdminServizi {
      .AdminServiziItem {
        height: 183px;
        & img {
          width: 80px;
          border: none;
          height: auto;
          max-height: 80px;
        }
        &--Header {
          &--Prenotazione {
            font-size: 12px;
          }
          &--Title {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media (max-width: 340px) {
  div.Center,
  div.Center--Big {
    & .AdminServizi {
      width: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      width: 100%;
      background-color: #ffffff;
    }
  }
}
.AdminServiziCategories {
  width: 100%;
  display: flex;
  flex-flow: row;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 0;
  }
  &__item {
    flex-shrink: 0;
    white-space: nowrap;
    padding: 5px 15px;
    cursor: pointer;
    border-right: 1px solid #ebeced;

    &.active {
      background: #0078ff;
      color: #fff;
    }
  }
}
