div.Center .AdminServizi,
div.Center--Big .AdminServizi {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 61px;
}

div.Center .AdminServizi .NoData,
div.Center--Big .AdminServizi .NoData {
  font-family: "Roboto";
  font-size: 16px;
  position: absolute;
  width: 100%;
  height: 30px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.Center .AdminServizi .NoData i,
div.Center--Big .AdminServizi .NoData i {
  color: #0078ff;
  padding-right: 10px;
  font-weight: bold;
  font-size: 20px;
}

div.Center .AdminServizi .AdminServiziItem,
div.Center--Big .AdminServizi .AdminServiziItem {
  width: 100%;
  height: 253px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ebeced;
}

div.Center .AdminServizi .AdminServiziItem img,
div.Center--Big .AdminServizi .AdminServiziItem img {
  width: 150px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

div.Center .AdminServizi .AdminServiziItem--Header,
div.Center--Big .AdminServizi .AdminServiziItem--Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.Center .AdminServizi .AdminServiziItem--Header--Prenotazione,
div.Center--Big .AdminServizi .AdminServiziItem--Header--Prenotazione {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #5c5c5c;
}

div.Center .AdminServizi .AdminServiziItem--Header--Title,
div.Center--Big .AdminServizi .AdminServiziItem--Header--Title {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

div.Center .AdminServizi .AdminServiziItem--ButtonWrapper,
div.Center--Big .AdminServizi .AdminServiziItem--ButtonWrapper {
  width: 70%;
  margin: 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.Center .AdminServizi .AdminServiziItem--ButtonWrapper :first-child.active,
div.Center--Big .AdminServizi .AdminServiziItem--ButtonWrapper :first-child.active {
  border: 1px solid #00b850;
  color: #00b850;
  opacity: 1;
}

div.Center .AdminServizi .AdminServiziItem--ButtonWrapper :nth-child(2).active,
div.Center--Big .AdminServizi .AdminServiziItem--ButtonWrapper :nth-child(2).active {
  border: 1px solid #e30000;
  color: #e30000;
  opacity: 1;
}

div.Center .AdminServizi .AdminServiziItem--ButtonWrapper button,
div.Center--Big .AdminServizi .AdminServiziItem--ButtonWrapper button {
  background-color: #ffffff;
  font-size: 11px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 100px;
  color: #000000;
  border: 1px solid #000000;
  opacity: 0.3;
  width: 78px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1500px) {
  div.Center .AdminServizi,
  div.Center--Big .AdminServizi {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: #ffffff;
  }
}

@media (max-width: 1300px) {
  div.Center .AdminServizi,
  div.Center--Big .AdminServizi {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: #ffffff;
  }
}

@media (max-width: 750px) {
  div.Center .AdminServizi,
  div.Center--Big .AdminServizi {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: #ffffff;
  }
}

@media (max-width: 550px) {
  div.Center .AdminServizi .AdminServiziItem,
  div.Center--Big .AdminServizi .AdminServiziItem {
    height: 183px;
  }
  div.Center .AdminServizi .AdminServiziItem img,
  div.Center--Big .AdminServizi .AdminServiziItem img {
    width: 80px;
    height: auto;
    max-height: 80px;
  }
  div.Center .AdminServizi .AdminServiziItem--Header--Prenotazione,
  div.Center--Big .AdminServizi .AdminServiziItem--Header--Prenotazione {
    font-size: 12px;
  }
  div.Center .AdminServizi .AdminServiziItem--Header--Title,
  div.Center--Big .AdminServizi .AdminServiziItem--Header--Title {
    font-size: 12px;
  }
}

@media (max-width: 340px) {
  div.Center .AdminServizi,
  div.Center--Big .AdminServizi {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
    background-color: #ffffff;
  }
}
/*# sourceMappingURL=adminServizi.css.map */