.fixed {
  position: fixed;
}

#sticky {
  top: 52px;
}

.responsive-table {
  table-layout: fixed;
  font-size: 12px;
}
.responsive-table h3 {
  font-size: 14px;
}
.listino-confronto td:nth-child(3),
.listino-confronto td:nth-child(5),
.listino-confronto td:nth-child(7) {
  padding: 10px 0px;
  font-size: 10px !important;
  text-align: center;
}
.listino-confronto td:nth-child(2),
.listino-confronto td:nth-child(4),
.listino-confronto td:nth-child(6) {
  padding: 10px 0px;
  text-align: center;
  font-size: 10px !important;
}
.voce-prod-tr {
  font-size: 12px !important;
}

#sticky .table {
  overflow: auto;
}
#sticky .table div {
  width: 25%;
  padding: 10px 0;
  float: left;
  text-align: center;
  border-right: 1px solid #264178;
  background-color: white;
  min-height: 83px;
  font-size: 11px;
  font-weight: bold;
  color: #264178;
}

#sticky .table div:first-of-type {
  line-height: 60px;
}

@media (min-width: 667px) {
  .listino-confronto td:nth-child(3),
  .listino-confronto td:nth-child(5),
  .listino-confronto td:nth-child(7) {
    padding: 10px;
  }
  .listino-confronto td:nth-child(2),
  .listino-confronto td:nth-child(4),
  .listino-confronto td:nth-child(6) {
    padding: 10px;
    text-align: right;
  }
}

@media (min-width: 1024px) {
  #sticky {
    top: 52px;
  }
  .responsive-table,
  #sticky .table div {
    font-size: 16px !important;
  }

  .voce-prod-tr {
    font-size: 18px !important;
  }

  .responsive-table h3 {
    font-size: 20px;
  }
  .listino-confronto td:nth-child(3),
  .listino-confronto td:nth-child(5),
  .listino-confronto td:nth-child(7) {
    font-size: 16px !important;
  }
  .listino-confronto td:nth-child(2),
  .listino-confronto td:nth-child(4),
  .listino-confronto td:nth-child(6) {
    font-size: 16px !important;
  }
}

@media (min-width: 1025px) {
  #sticky {
    top: 0px;
  }
}
