.DepositoModal {
  width: 100%;
  height: calc(100% - 72px);
  position: fixed;
  left: 0;
  top: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;
  &--Container {
    width: 350px;
    height: 392px;
    position: fixed;
    background-color: #ffffff;
    z-index: 9;
    &--Up {
      height: 73px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;

      padding: 16px 20px;
      border-bottom: 1px solid #dbdbdb;
      &--Title {
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #0078ff;
      }
      &--Agguntoal {
        color: #5c5c5c;
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        &--Persona {
          & i {
            font-size: 10px;
            font-weight: 600;
            padding-left: 10px;
            padding-right: 3px;
            top: -1px;
            position: relative;
          }
          &--Part3 {
            font-weight: 600;
            text-transform: uppercase;
          }
        }
      }
    }
    &--Down {
      height: 318px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      padding: 7px 20px;
      &--Form {
        width: 100%;
        &--MessageLine {
          width: 100%;
          border: 1px solid #d6d6d6;
          border-radius: 3px;
          min-height: 118px;
          display: flex;
          align-items: center;
          margin: 10px 0;
          padding: 8px 15px;
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          color: #303030;
          font-weight: 400;
          outline: none;
        }
        &--buttons {
          width: 100%;
          border: none;
          min-height: 42px;
          display: flex;
          justify-content: space-between;
          padding: 2px 0px;
          align-items: center;
          margin: 10px 0;
          & button {
            width: 150px;
            height: 42px;
            display: flex;
            justify-content: space-around;
            padding: 0 25px;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            font-family: "Roboto", sans-serif;
            background-color: #ffffff;
          }
          &--Conferma {
            border: 2px solid #00b850;
            border-radius: 3px;
            color: #00b850;
          }
          &--Cancel {
            border: 2px solid #7e7e7e;
            border-radius: 3px;
            color: #7e7e7e;
          }
        }
        &--NotifyLine {
          width: 100%;
          border: 1px solid #d6d6d6;
          border-radius: 3px;
          min-height: 42px;
          display: flex;
          align-items: center;
          margin: 10px 0;
          & span {
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            color: #303030;
            font-weight: 400;
            border-right: 1px solid #d6d6d6;
            width: 90%;
            min-height: 42px;
            padding-left: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
          > i {
            font-size: 15px;
            color: #00b850;
            font-weight: 400;
            border-right: 1px solid #d6d6d6;
            width: 10%;
            min-height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &--AmountLine {
          width: 100%;
          border: 1px solid #d6d6d6;
          border-radius: 3px;
          min-height: 42px;
          display: flex;
          align-items: center;
          margin: 10px 0;

          &--Amount {
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            color: #303030;
            font-weight: 400;
            border-right: 1px solid #d6d6d6;
            width: 30%;
            min-height: 42px;
            padding-left: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
          &--Input,
          &--Input--Input {
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            color: #303030;
            font-weight: 400;
            position: relative;
            width: 70%;
            min-height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            text-align: right;
            padding-right: 15px;
          }
          &--Input--Input {
            width: 100%;
            padding-right: 5px;
          }
          &--Euro {
            position: absolute;
            right: 5px;
            top: 0;
          }
        }
      }
    }
  }
}
