.VisureFormContainer {
  position: relative;
  display: flex;
  width: 80%;
  margin-left: 10%;
  justify-content: space-between;
  align-items: center;
  & .FormContainerInput {
    margin: 1%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-height: 65px;
    &.viaSms {
      margin: 1%;
      padding: 20px 0px;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
      min-height: 65px;
      font-size: 1.1em;
    }
  }
  & .FormPart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 32%;
  }
  & .FormPartLast {
    display: block;
    width: 32%;
  }
}
.SubmitButton {
  position: relative;

  left: 80%;
  margin: 1%;
  border: none;
  width: 10%;
  border: 1px solid black;
  cursor: pointer;
}
.VisureHeader {
  width: 80%;
  margin: 1% 10%;
  padding: 4px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.InputContainerChose {
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & .VisuraSu {
    font-size: 1.1em;
    margin: 4px 0px;
  }
  & .RadoChose {
    font-size: 1.1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & .radiolabel {
      padding: 0 8px;
    }
  }
}
