.Admin-Panel {
  min-width: 700px;
  font-family: "Roboto", sans-serif;
  color: #5c5c5c;
  background-color: #ffffff;
}
.bodyAdmin {
  & footer {
    display: none !important;
  }
}
//Header Styles
.AdminHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 71px;
  position: fixed;
  background-color: #ffffff;
  border-bottom: 2.5px solid #0078ff;
  z-index: 2;
  &--Box {
    width: 39.333%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  &--Title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0078ff;
  }
  &--Category {
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
    width: 19.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ebeced;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    &.active {
      color: #0078ff;
    }
    &:nth-child(1) {
      border-left: 1px solid #ebeced;
    }
    &:nth-last-child() {
      border-right: none;
    }
    & div {
      display: flex;
      padding: 5px 5px;
      width: auto;
      justify-content: center;
      align-items: center;
      > i {
        width: 23px;
        padding-right: 7px;
      }
    }

    &--Prenotazioni {
      cursor: pointer;
      color: #0078ff;
      box-sizing: border-box;
      height: 100%;
      width: 22%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      font-family: "Lato", sans-serif;
      &.active {
        color: #0078ff;
      }
      & div {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
        > i {
          width: 23px;
          padding-right: 7px;
        }
      }
    }
  }
  &--ButtonWrapper {
    height: 100%;
    width: 15%;
    & button {
      cursor: pointer;
      border: none;
      box-sizing: border-box;
      background-color: #0078ff;
      color: #ffffff;
      font-weight: bold;
      font-family: Lato;
      font-size: 14px;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
//Right Form styles
.AdminRightForm {
  position: relative;
  width: 400px;
  min-height: 103vh;

  position: relative;
  margin-top: 71.5px;
  background-color: #ffffff;
  overflow-x: scroll;
  border: 1px solid #ebeced;

  & .Close {
    position: fixed;
    right: 0;
    top: 71.5px;
    width: 40px;
    height: 30px;
    font-family: "Font Awesome 5 Pro";
    border: 1px solid #f3f3f4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    & i {
      font-family: "Font Awesome 5 Pro";
      color: #e30000;
      font-weight: 500;
      font-size: 18px;
    }
  }
  & .printModal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 98vh;
    height: 100%;
    padding: 0 30px;
    position: fixed;
    top: 72px;
    right: 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 99vh;
    border: 1px solid #ebeced;
    padding-right: 10px;
    & i {
      font-size: 14px;
      font-weight: 300;
      font-family: "Font Awesome 5 Pro";
      zoom: 1;
    }
    & button {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    & .Buttons--Print {
      position: absolute;
      width: 100%;
      height: 52px;
      bottom: 63px;
      font-size: 14px;
      font-weight: bold;
      zoom: 1;
      border: none;
      width: 33.33%;
      left: 0;
      border-right: 1px solid #ebeced;
      border-top: 2px solid #00ac5c;
      background-color: #ffffff;
      font-family: "Roboto", sans-serif;
      zoom: 1;
    }
    & .Buttons--Download {
      position: absolute;
      width: 100%;
      height: 52px;
      bottom: 63px;
      font-size: 14px;
      font-weight: bold;
      zoom: 1;
      border: none;
      width: 33.33%;
      left: 33.33%;
      border-right: 1px solid #ebeced;
      border-top: 2px solid #ffb100;
      background-color: #ffffff;
      font-family: "Roboto", sans-serif;
      zoom: 1;
    }
    & .Buttons--Send {
      position: absolute;
      width: 100%;
      height: 52px;
      bottom: 63px;
      font-size: 14px;
      font-weight: bold;
      zoom: 1;
      border: none;
      width: 33.33%;
      left: 66.66%;
      border-right: 1px solid #ebeced;
      border-top: 2px solid #0078ff;
      background-color: #ffffff;
      font-family: "Roboto", sans-serif;
      zoom: 1;
    }

    & .barcodeModal {
      margin: 5px auto;
    }
    & div.ContainerOfData:nth-child(1) {
      zoom: 1;
      overflow: auto;
      width: 100%;
      padding: 0;
      padding-right: 20px;
      margin: 34px 0;
      height: calc(98vh - 145px);
      box-sizing: border-box;

      & .headerModal {
        margin: 0;
        width: 100%;

        zoom: 0.85;
      }
      & :nth-child(2) {
        zoom: 0.85;
        height: auto;
        width: 100%;
      }
      & :nth-child(3) {
        height: auto;
      }
    }
  }
  & .AdminRightForm--Box--LeUltime--Dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &--Row {
      display: flex;
      flex-direction: row;
      height: 40px;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid #ebeced;
      padding: 0 14px;
      align-items: center;
      &--Data {
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        &.Date {
          color: #727272;
          font-weight: 400;
        }
        &.Id {
          color: #4b4b4b;
          font-weight: 500;
        }
        &.User {
          color: #727272;
          font-weight: 400;
        }
        &.Price {
          color: #0078ff;
          font-weight: 500;
        }
      }
    }
  }
  &--Box {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    padding: 15px 18px;
    padding-right: 4px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ebeced;
    color: #5c5c5c;
    > i {
      cursor: pointer;
      width: 32px;
      box-sizing: border-box;
      font-weight: 300;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--Statistic {
      display: flex;
      justify-content: center;
      align-items: center;
      > i {
        width: 32px;
        box-sizing: border-box;
        padding-right: 15px;
        font-size: 16px;
        font-weight: 300;
      }
    }
    &--HeartRate {
      display: flex;
      justify-content: center;
      align-items: center;
      > i {
        width: 31px;
        box-sizing: border-box;
        padding-right: 15px;
        font-size: 16px;
        font-weight: 300;
      }
    }
    &--Wallet {
      display: flex;
      justify-content: center;
      align-items: center;
      &--Dropdown {
        display: flex;
        flex-direction: column;
        width: 100%;
        & div.InputHolder {
          border: 1px solid #ebeced;
          margin: 11px 27px;
          height: 40px;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 20px;
          font-family: "Roboto", sans-serif;
          position: relative;
          font-size: 13px;
          border-radius: 6px;
          &:nth-child(2) {
            margin-top: 28px;
          }

          & input {
            border: none;
            position: absolute;
            left: 0;
            top: 0;
            padding: 0 20px;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            width: 85%;
          }
          > i {
            position: absolute;
            top: 0;
            left: 86%;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            width: 14%;
            font-size: 14px;
            &.fa-check {
              color: #00ac5c;
              border-left: 1px solid #ebeced;
              font-size: 15px;
            }
          }
          & span {
            width: 14%;
            position: absolute;
            top: 0;
            left: 86%;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: 300;
            font-family: "Roboto", sans-serif;
          }
        }
        &--Submit {
          margin: 11px 27px;
          height: 40px;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 20px;
          font-family: "Roboto", sans-serif;
          font-size: 13px;
          border: none;
          background: #0078ff;
          color: #ffffff;
        }
        &--ChoseButtons {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          & button {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 10px;
            border: none;
            background-color: #ffffff;
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            border: 1px solid #ebeced;
            font-weight: bold;
          }
          & button:nth-child(1) {
            border-bottom: 2px solid #00ac5c;
            position: relative;
            & svg {
              display: none;
            }
            &.active {
              color: #00ac5c;
              & svg {
                display: block;
                position: absolute;
                left: 48%;
                bottom: 0px;
                width: 11px;
                height: 7px;
                fill: #00ac5c;
              }
            }
          }
          & button:nth-child(2) {
            border-bottom: 2px solid #ffb100;
            position: relative;
            & svg {
              display: none;
            }
            &.active {
              color: #ffb100;
              & svg {
                display: block;
                position: absolute;
                left: 48%;
                bottom: 0px;
                width: 11px;
                height: 7px;
                fill: #ffb100;
              }
            }
          }
        }
      }
      > i {
        padding-right: 15px;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}

// Left Form
.Left {
  & .AdminLeftForm {
    min-height: calc(100% - 72px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &--FirstBox {
      display: flex;
      padding-top: 15px;
      flex-direction: column;

      & .Bars {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 14px;
        > i {
          font-size: 16px;
          font-weight: 300;
          cursor: pointer;
        }
      }
      &--Box {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        padding: 10px 35px;
        &--active {
          color: #0078ff;
          padding: 10px 20px;
          padding-right: 30px;
          background-color: #f3f3f4;

          border-left: 4px solid #0578fc;
          &--Skinsvg {
            min-height: 22px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            & svg {
              & circle {
                fill: #dce1e6;
              }
              width: 22px;
              height: 22px;
              margin-right: 15px;
            }
          }
        }
        &--Skinsvg {
          min-height: 22px;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          & svg {
            & circle {
              fill: #dce1e6;
            }
            width: 22px;
            height: 22px;
            margin-right: 15px;
          }
        }
      }
    }
    &--LastBox {
      display: flex;

      flex-direction: column;

      &--Box {
        animation: SlowShow 0.7s;
        padding: 10px 15px;
        padding-left: 25px;
        border-top: 1px solid #ebeced;
        font-family: "Roboto";
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        color: #5c5c5c;

        > i {
          padding-right: 10px;
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
  }
  @keyframes SlowShow {
    0% {
      display: none;
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    75% {
      display: none;
      opacity: 0.5;
    }
    85% {
      display: none;
      opacity: 0.7;
    }
    95% {
      display: none;
      opacity: 0.8;
    }
    100% {
      display: block;
      opacity: 1;
    }
  }

  &--Min {
    & .AdminLeftForm {
      min-height: calc(100% - 72px);
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      &--FirstBox {
        display: flex;
        padding-top: 15px;
        flex-direction: column;
        & span {
          display: none;
        }
        & .Bars {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: "Roboto", sans-serif;
          font-weight: bold;
          font-size: 14px;
          > i {
            font-size: 16px;
            padding-left: 11px;
            margin-bottom: 20px;
            font-weight: 300;
            cursor: pointer;
          }
        }
        &--Box {
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 400;
          width: 100%;
          &--Skinsvg {
            min-height: 22px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & span {
              display: block;
              width: calc(2.2ch + 5px);
              overflow: hidden;
              white-space: nowrap;
              padding-left: 5px;
            }
            & svg {
              display: none;

              & circle {
                fill: #dce1e6;
              }
              width: 22px;
              height: 22px;
              margin-right: 15px;
            }
          }
          &--active {
            color: #0078ff;
            border-left: 2px solid #0578fc;
            &--Skinsvg {
              min-height: 22px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              & span {
                display: block;
                width: 2.2ch;
                overflow: hidden;
                white-space: nowrap;
              }
              & svg {
                display: none;

                & circle {
                  fill: #dce1e6;
                }
                width: 22px;
                height: 22px;
                margin-right: 15px;
              }
            }
          }
        }
      }
      &--LastBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--Box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px 0;
          border-top: 1px solid #ebeced;
          font-family: "Roboto", sans-serif;
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          & span {
            display: none;
          }
          > i {
            font-size: 16px;
          }
        }
      }
    }
  }
}
.Graph {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 170px;
  padding: 0px 5px;
  padding-top: 15px;
  box-sizing: border-box;
  background-color: #f3f3f4;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  &--Element {
    background-color: #0377fc;
    opacity: 0.3;
    margin: 0px 1.2px;
    width: 6px;
    &:hover {
      background-color: #0578fc;
      opacity: 1;
    }
  }
  & .Date {
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    left: 5%;
    top: 5%;

    & div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & span {
        &:first-child {
          font-family: "Roboto", sans-serif;
          font-size: 31px;
          font-weight: 100;
          color: #5c5c5c;
        }
        &:nth-child(2) {
          display: flex;
          flex-direction: row;
          position: absolute;
          justify-content: center;
          align-items: flex-start;
          left: 15%;
          top: 80%;
          font-weight: 500;
          color: #aaaaaa;
          font-size: 10px;
        }
      }
    }
    & div {
      > i {
        font-size: 12px;
        padding-top: 12px;
      }
      padding: 1px 3px;
    }
  }
}
.Tranzacioni {
  height: 62px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  & div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 62px;
    border: 1px solid #ebeced;
    & span {
      font-weight: 300;
      &:first-child {
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        font-weight: 400;
        color: #5c5c5c;
      }
      &:nth-child(2) {
        font-size: 16px;
        color: #0578fc;
        font-family: "Roboto", sans-serif;
      }
    }
  }
}
//Deposito Modal
.DepositoModal {
  width: 100%;
  height: calc(100% - 72px);
  position: fixed;
  left: 0;
  top: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  &--Container {
    width: 350px;
    height: 392px;
    position: fixed;
    background-color: #ffffff;
    z-index: 2;
    &--Up {
      height: 73px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;

      padding: 16px 20px;
      border-bottom: 1px solid #dbdbdb;
      &--Title {
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #0078ff;
      }
      &--Agguntoal {
        color: #5c5c5c;
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        &--Persona {
          & i {
            font-size: 10px;
            font-weight: 600;
            padding-left: 10px;
            padding-right: 3px;
            top: -1px;
            position: relative;
          }
          &--Part3 {
            font-weight: 600;
            text-transform: uppercase;
          }
        }
      }
    }
    &--Down {
      height: 318px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      padding: 7px 20px;
      &--Form {
        width: 100%;
        &--MessageLine {
          width: 100%;
          border: 1px solid #d6d6d6;
          border-radius: 3px;
          min-height: 118px;
          display: flex;
          align-items: center;
          margin: 10px 0;
          padding: 8px 15px;
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          color: #303030;
          font-weight: 400;
          outline: none;
        }
        &--buttons {
          width: 100%;
          border: none;
          min-height: 42px;
          display: flex;
          justify-content: space-between;
          padding: 2px 0px;
          align-items: center;
          margin: 10px 0;
          & button {
            width: 150px;
            height: 42px;
            display: flex;
            justify-content: space-around;
            padding: 0 25px;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            font-family: "Roboto", sans-serif;
            background-color: #ffffff;
          }
          &--Conferma {
            border: 2px solid #00b850;
            border-radius: 3px;
            color: #00b850;
          }
          &--Cancel {
            border: 2px solid #7e7e7e;
            border-radius: 3px;
            color: #7e7e7e;
          }
        }
        &--NotifyLine {
          width: 100%;
          border: 1px solid #d6d6d6;
          border-radius: 3px;
          min-height: 42px;
          display: flex;
          align-items: center;
          margin: 10px 0;
          & span {
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            color: #303030;
            font-weight: 400;
            border-right: 1px solid #d6d6d6;
            width: 90%;
            min-height: 42px;
            padding-left: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
          > i {
            font-size: 15px;
            color: #00b850;
            font-weight: 400;
            border-right: 1px solid #d6d6d6;
            width: 10%;
            min-height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &--AmountLine {
          width: 100%;
          border: 1px solid #d6d6d6;
          border-radius: 3px;
          min-height: 42px;
          display: flex;
          align-items: center;
          margin: 10px 0;

          &--Amount {
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            color: #303030;
            font-weight: 400;
            border-right: 1px solid #d6d6d6;
            width: 30%;
            min-height: 42px;
            padding-left: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
          &--Input,
          &--Input--Input {
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            color: #303030;
            font-weight: 400;
            position: relative;
            width: 70%;
            min-height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            text-align: right;
            padding-right: 15px;
          }
          &--Input--Input {
            width: 100%;
            padding-right: 5px;
          }
          &--Euro {
            position: absolute;
            right: 5px;
            top: 0;
          }
        }
      }
    }
  }
}
