//Header Styles
.AdminHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 71px;
  border: 1px solid #707070;
  background-color: #ffffff;
  border-bottom: 2.5px solid #0078ff;
  &--Box {
    width: 39.333%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  &--Title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0078ff;
  }
  &--Category {
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
    width: 19.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ebeced;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    &:nth-child(1) {
      border-left: 1px solid #ebeced;
    }
    &:nth-last-child() {
      border-right: none;
    }
    & div {
      display: flex;
      padding: 5px 5px;
      width: auto;
      justify-content: center;
      align-items: center;
      > i {
        width: 23px;
        padding-right: 7px;
      }
    }

    &--Prenotazioni {
      cursor: pointer;
      color: #0078ff;
      box-sizing: border-box;
      height: 100%;
      width: 22%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      font-family: "Lato", sans-serif;
      & div {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
        > i {
          width: 23px;
          padding-right: 7px;
        }
      }
    }
  }
  &--ButtonWrapper {
    height: 100%;
    width: 13%;
    & button {
      cursor: pointer;
      box-sizing: border-box;
      background-color: #0078ff;
      color: #ffffff;
      border: none;
      height: 100%;
      width: 100%;
    }
  }
}
//Right Form styles
.AdminRightForm {
  width: 400px;
  min-height: calc(100% - 72px);
  position: fixed;
  left: calc(100% - 400px);
  top: 71.5px;
  background-color: #ffffff;
  border: 1px solid #ebeced;
  &--Box {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    padding: 15px 28px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > i {
      cursor: pointer;
      width: 32px;
      box-sizing: border-box;
      font-weight: 300;
      font-size: 24px;
    }
    &--Statistic {
      display: flex;
      justify-content: center;
      align-items: center;
      > i {
        width: 32px;
        box-sizing: border-box;
        padding-right: 15px;
        font-size: 16px;
        font-weight: 300;
      }
    }
    &--HeartRate {
      display: flex;
      justify-content: center;
      align-items: center;
      > i {
        width: 31px;
        box-sizing: border-box;
        padding-right: 15px;
        font-size: 16px;
        font-weight: 300;
      }
    }
    &--Wallet {
      display: flex;
      justify-content: center;
      align-items: center;
      &--Dropdown {
        display: flex;
        flex-direction: column;
        width: 100%;
        & div.InputHolder {
          border: 1px solid #ebeced;
          margin: 11px 27px;
          height: 40px;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 20px;
          font-family: "Roboto", sans-serif;
          position: relative;
          font-size: 13px;
          border-radius: 6px;
          &:nth-child(2) {
            margin-top: 28px;
          }

          & input {
            border: none;
            position: absolute;
            left: 0;
            top: 0;
            padding: 0 20px;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            width: 85%;
          }
          > i {
            position: absolute;
            top: 0;
            left: 86%;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            width: 14%;
            font-size: 14px;
            &.fa-check {
              color: #00ac5c;
              border-left: 1px solid #ebeced;
              font-size: 15px;
            }
          }
          & span {
            width: 14%;

            position: absolute;
            top: 0;
            left: 86%;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-family: "Roboto";
          }
        }
        &--Submit {
          margin: 11px 27px;
          height: 40px;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 20px;
          font-family: "Roboto", sans-serif;
          font-size: 13px;
          border: none;
          background: #0078ff;
          color: #ffffff;
        }
        &--ChoseButtons {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          & button {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 10px;
            border: none;
            background-color: #ffffff;
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            border: 1px solid #ebeced;
            font-weight: bold;
          }
          & button:nth-child(1) {
            border-bottom: 2px solid #00ac5c;
            position: relative;
            & svg {
              display: none;
            }
            &.active {
              color: #00ac5c;
              & svg {
                display: block;
                position: absolute;
                left: 48%;
                bottom: 0px;
                width: 11px;
                height: 7px;
                fill: #00ac5c;
              }
            }
          }
          & button:nth-child(2) {
            border-bottom: 2px solid #ffb100;
            position: relative;
            & svg {
              display: none;
            }
            &.active {
              color: #ffb100;
              & svg {
                display: block;
                position: absolute;
                left: 48%;
                bottom: 0px;
                width: 11px;
                height: 7px;
                fill: #ffb100;
              }
            }
          }
        }
      }
      > i {
        padding-right: 15px;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}

// Left Form
.Left {
  & .AdminLeftForm {
    min-height: calc(100% - 72px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &--FirstBox {
      display: flex;
      padding-top: 15px;
      flex-direction: column;

      & .Bars {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 14px;
        > i {
          font-size: 16px;
          font-weight: 300;
          cursor: pointer;
        }
      }
      &--Box {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        padding: 10px 35px;
        &--active {
          color: #0078ff;
          padding: 10px 35px;

          border-left: 4px solid #0578fc;
          &--Skinsvg {
            min-height: 22px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            & svg {
              & circle {
                fill: #dce1e6;
              }
              width: 22px;
              height: 22px;
              margin-right: 15px;
            }
          }
        }
        &--Skinsvg {
          min-height: 22px;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          & svg {
            & circle {
              fill: #dce1e6;
            }
            width: 22px;
            height: 22px;
            margin-right: 15px;
          }
        }
      }
    }
    &--LastBox {
      display: flex;

      flex-direction: column;

      &--Box {
        padding: 15px 35px;
        border-top: 1px solid #ebeced;
        font-family: "Roboto", sans-serif;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        > i {
          padding-right: 10px;
        }
      }
    }
  }
  &--Min {
    & .AdminLeftForm {
      min-height: calc(100% - 72px);
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      &--FirstBox {
        display: flex;
        padding-top: 15px;
        flex-direction: column;
        & span {
          display: none;
        }
        & .Bars {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: "Roboto", sans-serif;
          font-weight: bold;
          font-size: 14px;
          > i {
            font-size: 16px;
            padding-left: 11px;
            margin-bottom: 20px;
            font-weight: 300;
            cursor: pointer;
          }
        }
        &--Box {
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 400;
          width: 100%;
          &--Skinsvg {
            min-height: 22px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & span {
              display: block;
              width: calc(2.2ch + 5px);
              overflow: hidden;
              white-space: nowrap;
              padding-left: 5px;
            }
            & svg {
              display: none;

              & circle {
                fill: #dce1e6;
              }
              width: 22px;
              height: 22px;
              margin-right: 15px;
            }
          }
          &--active {
            color: #0078ff;
            border-left: 2px solid #0578fc;
            &--Skinsvg {
              min-height: 22px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              & span {
                display: block;
                width: 2.2ch;
                overflow: hidden;
                white-space: nowrap;
              }
              & svg {
                display: none;

                & circle {
                  fill: #dce1e6;
                }
                width: 22px;
                height: 22px;
                margin-right: 15px;
              }
            }
          }
        }
      }
      &--LastBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--Box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px 0;
          border-top: 1px solid #ebeced;
          font-family: "Roboto", sans-serif;
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          & span {
            display: none;
          }
          > i {
            font-size: 16px;
          }
        }
      }
    }
  }
}
.Graph {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 170px;
  padding: 0px 5px;
  padding-top: 15px;
  box-sizing: border-box;
  background-color: #f3f3f4;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  &--Element {
    background-color: #0377fc;
    opacity: 0.3;
    margin: 0px 1.2px;
    width: 6px;
    &:hover {
      background-color: #0578fc;
      opacity: 1;
    }
  }
  & .Date {
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    left: 5%;
    top: 5%;

    & div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & span {
        &:first-child {
          font-family: "Roboto";
          font-size: 31px;
          font-weight: 200;
        }
        &:nth-child(2) {
          display: flex;
          flex-direction: row;
          position: absolute;
          justify-content: center;
          align-items: flex-start;
          left: 15%;
          top: 80%;

          font-size: 10px;
        }
      }
    }
    & div {
      > i {
        font-size: 12px;
        padding-top: 12px;
      }
      padding: 1px 3px;
    }
  }
}
.Tranzacioni {
  height: 62px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  & div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 62px;
    border: 1px solid #ebeced;
    & span {
      font-weight: 300;
      &:first-child {
        font-family: "Roboto";
        font-size: 15px;
        color: #5c5c5c;
      }
      &:nth-child(2) {
        font-size: 16px;
        color: #0578fc;
        font-family: "Roboto";
      }
    }
  }
}
