.Left {
  background: #353d45;
  & .AdminLeftForm {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #353d45;
    color: #ffffff;
    &--FirstBox {
      display: flex;
      flex-direction: column;
      & .Bars {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 14px;
        padding-right: 20px;
        > i {
          font-size: 16px;
          font-weight: 300;
          cursor: pointer;
        }
      }
      &--Box {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        &--Skinsvg {
          min-height: 22px;
          width: 100%;
          height: 100%;
          padding: 7px 20px;
          margin: 2px 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
        &--active {
          background-color: #272c31;
          font-weight: 600;
          cursor: pointer;
          &--Skinsvg {
            min-height: 22px;
            width: 100%;
            height: 100%;
            padding: 10px 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            & span {
              font-weight: 500;
            }
            & svg {
              & circle {
                fill: #dce1e6;
              }
              width: 22px;
              height: 22px;
              margin: 0 6px;
            }
          }
        }
        &--Skinsvg {
          min-height: 22px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          img {
            width: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: cover;
            object-position: center;
            margin: 0 6px;
          }
          & span {
            width: 117px;
            font-size: 14px;
            font-weight: 400;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          & svg {
            & circle {
              fill: #dce1e6;
            }
            width: 22px;
            height: 22px;
            margin: 0 6px;
          }
        }
      }
    }
    &--LastBox {
      display: flex;
      color: #ffffff;
      flex-direction: column;
      &--Box {
        animation: SlowShow 0.7s;
        border-top: 1px solid #272c31;
        font-family: "Roboto";
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        padding: 10px 27px;
        color: #ffffff;

        > i {
          padding-right: 10px;
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
  }
  @keyframes SlowShow {
    0% {
      display: none;
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    75% {
      display: none;
      opacity: 0.5;
    }
    85% {
      display: none;
      opacity: 0.7;
    }
    95% {
      display: none;
      opacity: 0.8;
    }
    100% {
      display: block;
      opacity: 1;
    }
  }

  &--Min {
    & .AdminLeftForm {
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      &--FirstBox {
        display: flex;
        padding-top: 15px;
        flex-direction: column;
        & span {
          display: none;
        }
        & .Bars {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: "Roboto", sans-serif;
          font-weight: bold;
          font-size: 14px;
          > i {
            font-size: 16px;
            padding-left: 11px;
            margin-bottom: 20px;
            font-weight: 300;
            cursor: pointer;
          }
        }
        &--Box {
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 400;
          cursor: pointer;
          width: 100%;
          &--Skinsvg {
            min-height: 22px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & img {
              width: 23px;
              display: flex;
              align-items: center;
              justify-content: center;
              object-fit: cover;
              object-position: center;
              margin: 4px 10px;
            }
            & span {
              display: none;
            }
            & svg {
              display: none;

              & circle {
                fill: #dce1e6;
                width: 22px;
                height: 22px;
              }
              width: 22px;
              height: 22px;
              margin: 0 6px;
            }
          }
          &--active {
            color: #ffffff;
            background-color: #272c31;
            font-weight: 500;
            &--Skinsvg {
              min-height: 22px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              & span {
                display: block;
                width: 2.2ch;
                overflow: hidden;
                white-space: nowrap;
              }
              & svg {
                display: none;

                & circle {
                  fill: #dce1e6;
                }
                width: 22px;
                height: 22px;
                margin: 0 6px;
              }
            }
          }
        }
      }
      &--LastBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        &--Box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-top: 1px solid #272c31;
          font-family: "Roboto", sans-serif;
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          padding: 10px 27px;
          & span {
            display: none;
          }
          > i {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .Center,
  .Center--Big,
  .AdminColumns {
    width: 100vw !important;
  }
  .Left--Min {
    display: none !important;
    transition: 3;
  }
  .LeftFormbD {
    width: calc(100vw - 200px) !important;
    position: fixed;
    top: 101px;
    height: calc(100vh - 161px);
    left: 200px !important;
    bottom: 0;
    z-index: 3;
  }
  .Left,
  .Left--Min {
    z-index: 3;
    top: 101px !important;
    height: calc(100vh - 161px) !important;
    left: 0 !important;
    bottom: 0;
    transition: 0.5s;
    & .AdminLeftForm {
      height: 100% !important;
    }
  }
  .AdminHeader {
    z-index: 3 !important;
  }
  div.Center--Big {
    width: 100% !important;
    left: 0 !important;
    & .AdminListaUtenti--Header {
      width: 100% !important;
    }
  }
}
@media (max-width: 400px) {
  div.Center--Big {
    & span.Username {
      left: 0px !important;
      padding-right: 4px;
    }
  }
}
